# D·ªØ li·ªáu Ch·ª©ng kho√°n Vi·ªát Nam

H∆∞·ªõng d·∫´n s·ª≠ d·ª•ng **vnstock** ƒë·ªÉ truy xu·∫•t d·ªØ li·ªáu th·ªã tr∆∞·ªùng ch·ª©ng kho√°n Vi·ªát Nam to√†n di·ªán bao g·ªìm:
- Danh s√°ch m√£ ch·ª©ng kho√°n v√† th√¥ng tin th·ªã tr∆∞·ªùng
- D·ªØ li·ªáu gi√° l·ªãch s·ª≠ v√† th·ªùi gian th·ª±c
- Th√¥ng tin doanh nghi·ªáp v√† b√°o c√°o t√†i ch√≠nh
- Th·ªëng k√™ giao d·ªãch v√† ph√¢n t√≠ch th·ªã tr∆∞·ªùng

**‚ö° L·ª±a ch·ªçn n·ªÅn t·∫£ng:**
- **GitHub Codespaces** (Khuy·∫øn ngh·ªã): M√¥i tr∆∞·ªùng ƒë·∫ßy ƒë·ªß, kh√¥ng c·∫ßn c√†i ƒë·∫∑t Python ph·ª©c t·∫°p v√† kh√¥ng b·ªã ch·∫∑n IP t·ª´ ngu·ªìn VCI.
- **Google Colab**: Mi·ªÖn ph√≠ v·ªõi h·ªó tr·ª£ l∆∞u tr·ªØ trong Google Drive. Hi·ªán t·∫°i ƒëang b·ªã VCI ch·∫∑n IP, c·∫ßn d√πng proxy.

**L∆∞u √Ω:** N·∫øu g·∫∑p v·∫•n ƒë·ªÅ ch·∫∑n IP t·ª´ ngu·ªìn VCI tr√™n Colab, h√£y th·ª≠ [GitHub Codespaces](https://github.com/features/codespaces).

<p>
  <a href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_quickstart_stock_vietnam.ipynb" target="_blank" style="display:inline-block; vertical-align:middle; margin-left:8px;">
    <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab" style="height:20px; vertical-align:middle;">
  </a>
  <a href="https://codespaces.new/thinh-vu/vnstock" target="_blank" style="display:inline-block; vertical-align:middle;">
    <img src="https://img.shields.io/badge/Open%20in-GitHub%20Codespaces-blue?logo=github" alt="Open in GitHub Codespaces" style="height:20px; vertical-align:middle;">
  </a>
</p>

## M·ª•c l·ª•c

1. [C√†i ƒë·∫∑t & Thi·∫øt l·∫≠p](#scrollTo=BJYQtG0B4-sq)
2. [Danh s√°ch m√£ ch·ª©ng kho√°n](#scrollTo=3Wh1-IOJ4-sr)
3. [D·ªØ li·ªáu gi√° & B√°o gi√°](#scrollTo=rdlN42Hl4-st)
4. [Th√¥ng tin doanh nghi·ªáp](#scrollTo=fdN7Sobv4-sw)
5. [B√°o c√°o t√†i ch√≠nh](#scrollTo=8r_laqBY4-sz)
6. [Giao d·ªãch & D·ªØ li·ªáu th·ªã tr∆∞·ªùng](#scrollTo=sz8ZmBjF4-sv)
7. [B·ªô l·ªçc c·ªï phi·∫øu](#scrollTo=4hihIdQ74-sz)

**Ngu·ªìn d·ªØ li·ªáu:**
   - [KBS](https://kbbuddywts.kbsec.com.vn/) (Ch·ª©ng kho√°n KB)
   - [VCI](https://trading.vietcap.com.vn/priceboard) (Ch·ª©ng kho√°n Vietcap) >> C·∫ßn c√†i ƒë·∫∑t vnstock tr√™n m√°y t√≠nh c√° nh√¢n ho·∫∑c d·ªãch v·ª• kh√¥ng thu·ªôc Google Cloud ƒë·ªÉ truy c·∫≠p (do m√°y ch·ªß VCI ch·∫∑n d·∫£i IP t·ª´ Google)

<a id="installation"></a>
## I. C√†i ƒë·∫∑t & Thi·∫øt l·∫≠p

### C√†i ƒë·∫∑t chu·∫©n

In [ ]:
# C√†i ƒë·∫∑t ho·∫∑c n√¢ng c·∫•p vnstock
!pip install -U vnstock

# C√†i ƒë·∫∑t t·ª´ m√£ ngu·ªìn Github
# !pip install git+https://github.com/thinh-vu/vnstock

### X√°c th·ª±c ng∆∞·ªùi d√πng

Phi√™n b·∫£n vnstock 3.4.0 b·∫Øt ƒë·∫ßu h·ªó tr·ª£ t√≠nh nƒÉng nh·∫≠n di·ªán ng∆∞·ªùi d√πng mi·ªÖn ph√≠ ƒë·ªÉ m·ªü kh√≥a t√≠nh nƒÉng so v·ªõi s·ª≠ d·ª•ng theo ch·∫ø ƒë·ªô kh√°ch.

- üöÄ ƒêƒÉng k√Ω API key ƒë·ªÉ tƒÉng gi·ªõi h·∫°n s·ª≠ d·ª•ng:

    - Kh√°ch (Guest):
        - Ph√π h·ª£p ƒë·ªÉ th·ª≠ nghi·ªám nhanh, xem th·ª≠ t√≠nh nƒÉng. Qu·∫£ng c√°o hi·ªán th∆∞·ªùng xuy√™n
        - 20 requests/ph√∫t - kh√¥ng c·∫ßn ƒëƒÉng k√Ω
        - T·∫£i t·ªëi ƒëa 4 k·ª≥ b√°o c√°o t√†i ch√≠nh

    - C·ªông ƒë·ªìng (Community):
        - Tr·∫£i nghi·ªám t√≠nh nƒÉng th∆∞ vi·ªán, ch∆∞a mu·ªën g·∫Øn b√≥. Qu·∫£ng c√°o hi·ªán th∆∞·ªùng xuy√™n
        - 60 requests/ph√∫t - ƒëƒÉng k√Ω mi·ªÖn ph√≠
        - T·∫£i t·ªëi ƒëa 8 k·ª≥ b√°o c√°o t√†i ch√≠nh

    - T√†i tr·ª£ (Sponsor):
        - Kh√¥ng qu·∫£ng c√°o
        - 3-5x s·ªë l∆∞·ª£t requests/ph√∫t so v·ªõi b·∫£n mi·ªÖn ph√≠.
        - Truy c·∫≠p ƒë·∫ßy ƒë·ªß c√°c k·ª≥ b√°o c√°o t√†i ch√≠nh.
        - ·ª¶ng h·ªô d·ª± √°n ph√°t tri·ªÉn c√¥ng c·ª• & c·ªông ƒë·ªìng

- üìå ƒêƒÉng nh·∫≠p Google ƒë·ªÉ t·∫°o t√†i kho·∫£n v√† l·∫•y API key mi·ªÖn ph√≠ t·∫°i: https://vnstocks.com/login

In [ ]:
# Ch·∫°y l·ªánh v√† nh·∫≠p API key theo h∆∞·ªõng d·∫´n
from vnstock import register_user
register_user()

### N·∫°p th∆∞ vi·ªán

B√¢y gi·ªù b·∫°n c√≥ th·ªÉ import v√† s·ª≠ d·ª•ng vnstock b√¨nh th∆∞·ªùng:

In [ ]:
# Import c√°c module c·ªßa vnstock
from vnstock import Listing, Quote, Company, Finance, Trading, Screener

# C√°ch kh√°c: Import t·ª´ ngu·ªìn d·ªØ li·ªáu c·ª• th·ªÉ
# from vnstock.explorer.vci import Listing, Quote, Company, Finance, Trading
# from vnstock.explorer.tcbs import Quote, Company, Finance, Trading, Screener

print("‚úÖ T·∫•t c·∫£ modules ƒë√£ ƒë∆∞·ª£c import th√†nh c√¥ng!")

<a id="listings"></a>
## II. Danh s√°ch m√£ ch·ª©ng kho√°n

L·∫•y danh s√°ch c√°c c·ªï phi·∫øu giao d·ªãch tr√™n c√°c s√†n Vi·ªát Nam (HOSE, HNX, UPCOM).

### KBS

#### Listing: Li·ªát k√™ danh s√°ch ch·ª©ng kho√°n

In [ ]:
# VCI l√† ngu·ªìn d·ªØ li·ªáu t·ª´ CK Vietcap b√™n c·∫°nh ngu·ªìn t·ª´ TCBS
from vnstock import Listing
listing = Listing(source='KBS')

#### Danh s√°ch t·∫•t c·∫£ m√£ CK ni√™m y·∫øt (ƒë∆°n gi·∫£n)

In [ ]:
listing.all_symbols()

#### Li·ªát k√™ m√£ CP theo s√†n (ƒë·∫ßy ƒë·ªß)

In [ ]:
# D·ªØ li·ªáu bao g·ªìm t·∫•t c·∫£ c√°c m√£ kh√¥ng k·ªÉ ƒëang ni√™m y·∫øt hay kh√¥ng
listing.symbols_by_exchange()

,symbol,organ_name,en_organ_name,exchange,type,id
0,DPP,CTCP D∆∞·ª£c ƒê·ªìng Nai,Dong Nai Pharmaceutical Joint Stock Company,UPCOM,stock,1
1,SDA,CTCP Simco S√¥ng ƒê√†,SIMCO Song Da Joint Stock Company,HNX,stock,1
2,CLH,CTCP Xi mƒÉng La Hi√™n VVMI,VVMI La Hien Cement Joint Stock Company,HNX,stock,1
3,DBT,CTCP D∆∞·ª£c ph·∫©m B·∫øn Tre,Ben Tre Pharmaceutical Joint Stock Company,HOSE,stock,1
4,DND,CTCP ƒê·∫ßu t∆∞ X√¢y d·ª±ng v√† V·∫≠t li·ªáu ƒê·ªìng Nai,Dong Nai Material & Building Investment Joint ...,UPCOM,stock,1
...,...,...,...,...,...,...
1947,VBA124019,NaN,NaN,HNX,bond,5
1948,BVB125003,NaN,NaN,HNX,bond,5
1949,CTG123033,NaN,NaN,HNX,bond,5
1950,BAB125023,NaN,NaN,HNX,bond,5
1951,VIC124005,NaN,NaN,HNX,bond,5

#### Li·ªát k√™ m√£ CP theo ng√†nh icb

In [ ]:
listing.symbols_by_industries()

    symbol  industry_code           industry_name
0      ABR              6  C√¥ng ngh·ªá v√† th√¥ng tin
1      ADC              6  C√¥ng ngh·ªá v√† th√¥ng tin
2      BED              6  C√¥ng ngh·ªá v√† th√¥ng tin
3      CKV              6  C√¥ng ngh·ªá v√† th√¥ng tin
4      CMG              6  C√¥ng ngh·ªá v√† th√¥ng tin
..     ...            ...                     ...
692    TD6             10             Khai kho√°ng
693    THT             10             Khai kho√°ng
694    TMB             10             Khai kho√°ng
695    TNT             10             Khai kho√°ng
696    TVD             10             Khai kho√°ng

[697 rows x 3 columns]

#### Danh s√°ch c·ªï phi·∫øu theo nh√≥m

In [ ]:
# Li·ªát k√™ t·∫•t c·∫£ m√£ ch·ª©ng kho√°n theo nh√≥m ph√¢n lo·∫°i. V√≠ d·ª• HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (m√£ ch·ªâ s·ªë h·ª£p ƒë·ªìng t∆∞∆°ng lai), CW (ch·ª©ng quy·ªÅn)
listing.symbols_by_group('VN30')

0     ACB
1     BCM
2     BID
3     CTG
4     DGC
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    LPB
11    MBB
12    MSN
13    MWG
14    PLX
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

### VCI

#### Kh·ªüi t·∫°o ƒë·ªëi t∆∞·ª£ng

In [ ]:
from vnstock import Listing

# Kh·ªüi t·∫°o ƒë·ªëi t∆∞·ª£ng Listing v·ªõi ngu·ªìn VCI
listing = Listing(source='VCI')

#### Danh s√°ch t·∫•t c·∫£ m√£ c·ªï phi·∫øu (ƒê∆°n gi·∫£n)

In [ ]:
# L·∫•y danh s√°ch ƒë∆°n gi·∫£n t·∫•t c·∫£ m√£ ch·ª©ng kho√°n
all_symbols = listing.all_symbols()
print(f"T·ªïng s·ªë m√£: {len(all_symbols)}")
all_symbols.head(10)

T·ªïng s·ªë m√£: 1727

  symbol                                         organ_name
0    YTC  C√¥ng ty C·ªï ph·∫ßn Xu·∫•t nh·∫≠p kh·∫©u Y t·∫ø Th√†nh ph·ªë ...
1    YEG                     C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n Yeah1
2    YBM     C√¥ng ty C·ªï ph·∫ßn Kho√°ng s·∫£n C√¥ng nghi·ªáp Y√™n B√°i
3    YBC      C√¥ng ty C·ªï ph·∫ßn Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i
4    XPH                    C√¥ng ty C·ªï ph·∫ßn X√† ph√≤ng H√† N·ªôi
5    XMP                C√¥ng ty C·ªï ph·∫ßn Th·ªßy ƒëi·ªán Xu√¢n Minh
6    XMD                  C√¥ng ty C·ªï ph·∫ßn Xu√¢n Mai - ƒê·∫°o T√∫
7    XMC        C√¥ng ty c·ªï ph·∫ßn ƒê·∫ßu t∆∞ v√† X√¢y d·ª±ng Xu√¢n Mai
8    XLV         C√¥ng ty C·ªï ph·∫ßn X√¢y l·∫Øp v√† D·ªãch v·ª• S√¥ng ƒê√†
9    XHC                  C√¥ng ty C·ªï ph·∫ßn Xu√¢n H√≤a Vi·ªát Nam

#### Danh s√°ch c·ªï phi·∫øu theo s√†n giao d·ªãch (ƒê·∫ßy ƒë·ªß)

In [ ]:
# L·∫•y th√¥ng tin chi ti·∫øt cho t·∫•t c·∫£ m√£ theo s√†n giao d·ªãch
# Bao g·ªìm c·∫£ m√£ ƒëang v√† ƒë√£ ng·ª´ng ni√™m y·∫øt
by_exchange = listing.symbols_by_exchange()
by_exchange.head()

,symbol,exchange,type,organ_short_name,organ_name,product_grp_id
0,YTC,UPCOM,STOCK,XNK Y t·∫ø TP.HCM,C√¥ng ty C·ªï ph·∫ßn Xu·∫•t nh·∫≠p kh·∫©u Y t·∫ø Th√†nh ph·ªë ...,UPX
1,YEG,HSX,STOCK,T·∫≠p ƒëo√†n Yeah1,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n Yeah1,STO
2,YBM,HSX,STOCK,Kho√°ng s·∫£n CN Y√™n B√°i,C√¥ng ty C·ªï ph·∫ßn Kho√°ng s·∫£n C√¥ng nghi·ªáp Y√™n B√°i,STO
3,YBC,UPCOM,STOCK,Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,C√¥ng ty C·ªï ph·∫ßn Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,UPX
4,XPH,UPCOM,STOCK,X√† ph√≤ng H√† N·ªôi,C√¥ng ty C·ªï ph·∫ßn X√† ph√≤ng H√† N·ªôi,UPX

#### Danh s√°ch c·ªï phi·∫øu theo nh√≥m

In [ ]:
# Li·ªát k√™ t·∫•t c·∫£ m√£ ch·ª©ng kho√°n theo nh√≥m ph√¢n lo·∫°i. V√≠ d·ª• HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (m√£ ch·ªâ s·ªë h·ª£p ƒë·ªìng t∆∞∆°ng lai), CW (ch·ª©ng quy·ªÅn)
listing.symbols_by_group('VN30')

0     ACB
1     BCM
2     BID
3     CTG
4     DGC
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    LPB
11    MBB
12    MSN
13    MWG
14    PLX
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

#### Danh s√°ch theo ng√†nh (ICB)

In [ ]:
# L·∫•y danh s√°ch c·ªï phi·∫øu ƒë∆∞·ª£c nh√≥m theo ng√†nh ICB
by_industry = listing.symbols_by_industries()
by_industry.head()

,symbol,organ_name,icb_name3,icb_name2,icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,BQP,C√¥ng ty C·ªï ph·∫ßn Nh·ª±a ch·∫•t l∆∞·ª£ng cao B√¨nh Thu·∫≠n,H√≥a ch·∫•t,H√≥a ch·∫•t,"Nh·ª±a, cao su & s·ª£i",CT,1000,1300,1350,1353
1,F88,C√¥ng ty C·ªï ph·∫ßn ƒê·∫ßu t∆∞ F88,D·ªãch v·ª• t√†i ch√≠nh,D·ªãch v·ª• t√†i ch√≠nh,T√†i ch√≠nh c√° nh√¢n,CT,8000,8700,8770,8773
2,DVT,Trung t√¢m ƒê√†o t·∫°o nghi·ªáp v·ª• Giao th√¥ng v·∫≠n t·∫£i...,T∆∞ v·∫•n & H·ªó tr·ª£ Kinh doanh,H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp,ƒê√†o t·∫°o & Vi·ªác l√†m,CT,2000,2700,2790,2793
3,ABS,C√¥ng ty C·ªï ph·∫ßn D·ªãch v·ª• N√¥ng nghi·ªáp B√¨nh Thu·∫≠n,H√≥a ch·∫•t,H√≥a ch·∫•t,"S·∫£n ph·∫©m h√≥a d·∫ßu, N√¥ng d∆∞·ª£c & H√≥a ch·∫•t kh√°c",CT,1000,1300,1350,1357
4,AFX,C√¥ng ty C·ªï ph·∫ßn Xu·∫•t Nh·∫≠p kh·∫©u N√¥ng s·∫£n Th·ª±c p...,Ph√¢n ph·ªëi th·ª±c ph·∫©m & d∆∞·ª£c ph·∫©m,B√°n l·∫ª,Ph√¢n ph·ªëi th·ª±c ph·∫©m,CT,5000,5300,5330,5337

#### Danh s√°ch m√£ ng√†nh theo m√£ icb

In [ ]:
listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,S·∫£n xu·∫•t D·∫ßu kh√≠,Oil & Gas Producers,0530,3
1,"Thi·∫øt b·ªã, D·ªãch v·ª• v√† Ph√¢n ph·ªëi D·∫ßu kh√≠","Oil Equipment, Services & Distribution",0570,3
2,H√≥a ch·∫•t,Chemicals,1350,3
3,L√¢m nghi·ªáp v√† Gi·∫•y,Forestry & Paper,1730,3
4,Kim lo·∫°i,Industrial Metals & Mining,1750,3
...,...,...,...,...
150,Vi·ªÖn th√¥ng,Telecommunications,6000,1
151,Ti·ªán √≠ch C·ªông ƒë·ªìng,Utilities,7000,1
152,T√†i ch√≠nh,Financials,8000,1
153,Ng√¢n h√†ng,Banks,8301,1
154,C√¥ng ngh·ªá Th√¥ng tin,Technology,9000,1

#### Danh s√°ch m√£ h·ª£p ƒë·ªìng t∆∞∆°ng lai

In [ ]:
listing.all_future_indices()

0    41I1FB000
1    41I1G3000
2    41I1G6000
3    41I2FB000
4    41I2FC000
5    41I2G3000
6    41I2G6000
7    VN30F2512
Name: symbol, dtype: object

#### Danh s√°ch m√£ tr√°i phi·∫øu ch√≠nh ph·ªß

In [ ]:
listing.all_government_bonds()

0    41B5G3000
1    41B5G6000
2    41BAG3000
3    41BAG6000
4    GB05F2512
5    GB10F2512
Name: symbol, dtype: object

#### Danh s√°ch b·ªô ch·ªâ s·ªë

In [ ]:
listing.all_indices()

,symbol,name,description,full_name,group,index_id,sector_id
0,VN30,VN30,30 c·ªï phi·∫øu v·ªën h√≥a l·ªõn nh·∫•t & thanh kho·∫£n t·ªët...,VN30 Index,HOSE Indices,5,NaN
1,VNMID,VNMID,Mid-Cap Index - nh√≥m c·ªï phi·∫øu v·ªën h√≥a trung b√¨nh,VNMidCap Index,HOSE Indices,6,NaN
2,VNSML,VNSML,Small-Cap Index - nh√≥m c·ªï phi·∫øu v·ªën h√≥a nh·ªè,VNSmallCap Index,HOSE Indices,7,NaN
3,VN100,VN100,100 c·ªï phi·∫øu c√≥ v·ªën ho√° l·ªõn nh·∫•t HOSE,VN100 Index,HOSE Indices,8,NaN
4,VNALL,VNALL,T·∫•t c·∫£ c·ªï phi·∫øu tr√™n HOSE v√† HNX,VNAll Index,HOSE Indices,9,NaN
5,VNSI,VNSI,Vietnam Small-Cap Index,VNSI Index,HOSE Indices,21,NaN
6,VNIT,VNIT,C√¥ng ngh·ªá th√¥ng tin,Information Technology Sector Index,Sector Indices,10,159.0
7,VNIND,VNIND,C√¥ng nghi·ªáp,Industrials Sector Index,Sector Indices,11,155.0
8,VNCONS,VNCONS,H√†ng ti√™u d√πng,Consumer Staples Index,Sector Indices,12,130.0
9,VNCOND,VNCOND,H√†ng ti√™u d√πng thi·∫øt y·∫øu,Consumer Discretionary Sector Index,Sector Indices,13,133.0
10,VNHEAL,VNHEAL,ChƒÉm s√≥c s·ª©c kho·∫ª,Health Care Sector Index,Sector Indices,14,135.0
11,VNENE,VNENE,NƒÉng l∆∞·ª£ng,Energy Sector Index,Sector Indices,15,154.0
12,VNUTI,VNUTI,D·ªãch v·ª• ti·ªán √≠ch,Utilities Sector Index,Sector Indices,16,150.0
13,VNREAL,VNREAL,B·∫•t ƒë·ªông s·∫£n,Real Estate Sector Index,Sector Indices,17,166.0
14,VNFIN,VNFIN,T√†i ch√≠nh,Financials Sector Index,Sector Indices,18,138.0
15,VNMAT,VNMAT,Nguy√™n v·∫≠t li·ªáu,Materials Sector Index,Sector Indices,19,143.0
16,VNDIAMOND,VNDIAMOND,Ch·ªâ s·ªë c√°c c·ªï phi·∫øu c√≥ tri·ªÉn v·ªçng l·ªõn c·ªßa doan...,Vietnam Diamond Index,Investment Indices,2,NaN
17,VNFINLEAD,VNFINLEAD,Ch·ªâ s·ªë c·ªßa c√°c c·ªï phi·∫øu thu·ªôc nh√≥m ng√†nh t√†i c...,Vietnam Leading Financial Index,Investment Indices,3,NaN
18,VNFINSELECT,VNFINSELECT,Ch·ªâ s·ªë c·ªßa c√°c c·ªï phi·∫øu ƒë·∫°i di·ªán cho ng√†nh t√†i...,Vietnam Financial Select Sector Index,Investment Indices,4,NaN
19,VNX50,VNX50,50 c·ªï phi·∫øu v·ªën h√≥a l·ªõn nh·∫•t tr√™n to√†n b·ªô th·ªã ...,VNX50 Index,VNX Indices,4,NaN
20,VNXALL,VNXALL,T·∫•t c·∫£ c·ªï phi·∫øu tr√™n to√†n b·ªô th·ªã tr∆∞·ªùng HOSE v...,VNX All Index,VNX Indices,1,NaN

## Quote: Gi√° ch·ª©ng kho√°n

### KBS

In [ ]:
from vnstock import Quote
quote = Quote(symbol='ACB', source='KBS')

#### Gi√° l·ªãch s·ª≠

##### C·ªï phi·∫øu

In [ ]:
# L·∫•y b√°o c√°o l√πi N ng√†y so v·ªõi hi·ªán t·∫°i (bao g·ªìm c·∫£ ng√†y hi·ªán t·∫°i)
df = quote.history(length='90', interval='d')
df

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

In [ ]:
# L·∫•y b√°o c√°o theo 1 d·∫£i th·ªùi gian c·ªë ƒë·ªãnh
df = quote.history(start='2024-01-01', end='2025-03-19', interval='d')
df

                   time      open      high       low     close    volume
0   2024-01-02 07:00:00  16813.64  17375.27  16813.64  17164.66  13883500
1   2024-01-03 07:00:00  17199.76  17550.78  17024.25  17550.78   9803400
2   2024-01-04 07:00:00  17691.18  18007.10  17620.98  17761.38  23587800
3   2024-01-05 07:00:00  17761.38  17866.69  17585.88  17866.69   9272100
4   2024-01-08 07:00:00  18042.20  18077.30  17691.18  17796.49  12389600
..                  ...       ...       ...       ...       ...       ...
295 2025-03-13 07:00:00  22018.48  22102.04  21809.58  21809.58   8885500
296 2025-03-14 07:00:00  21893.14  21893.14  21642.45  21726.02  11548600
297 2025-03-17 07:00:00  21809.58  21934.92  21726.02  21893.14   5664400
298 2025-03-18 07:00:00  21976.70  22185.60  21934.92  21976.70   6008500
299 2025-03-19 07:00:00  21976.70  21976.70  21767.80  21893.14   7913600

[300 rows x 6 columns]

##### H·ª£p ƒë·ªìng t∆∞∆°ng lai

In [ ]:
quote.history(symbol='VN30F1M', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

In [ ]:
quote.history(symbol='41I1G2000', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

##### Ch·ªâ s·ªë

In [ ]:
quote.history(symbol='VNINDEX', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

In [ ]:
quote.history(symbol='HNXINDEX', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

In [ ]:
quote.history(symbol='UPCOMINDEX', length=90, interval='d')

üìã K·∫øt n·ªëi t√†i kho·∫£n Google Drive ƒë·ªÉ l∆∞u c√°c thi·∫øt l·∫≠p c·ªßa d·ª± √°n.
D·ªØ li·ªáu phi√™n l√†m vi·ªác v·ªõi Colab c·ªßa b·∫°n s·∫Ω b·ªã x√≥a n·∫øu kh√¥ng l∆∞u tr·ªØ v√†o Google Drive.

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

##### Ch·ª©ng quy·ªÅn

In [ ]:
quote.history(symbol='CFPT2314', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

##### Tr√°i phi·∫øu ni√™m y·∫øt

In [ ]:
quote.history(symbol='CII424002', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

#### Intraday: d·ªØ li·ªáu kh·ªõp l·ªánh

In [ ]:
# D·ªØ li·ªáu kh·ªõp l·ªánh trong ng√†y giao d·ªãch realtime ho·∫∑c ng√†y g·∫ßn nh·∫•t (ngo√†i gi·ªù giao d·ªãch)
quote.intraday(symbol='ACB', page_size=10_000, show_log=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,time,price,volume,match_type,id
2438,2026-01-16 09:15:03,25000.0,106700,ato,2026-01-16_091503_250000_106700
2435,2026-01-16 09:15:13,24950.0,1000,sell,2026-01-16_091513_249500_1000
2437,2026-01-16 09:15:13,25000.0,600,buy,2026-01-16_091513_250000_600
2436,2026-01-16 09:15:13,24950.0,100,sell,2026-01-16_091513_249500_100
2434,2026-01-16 09:15:14,25000.0,300,buy,2026-01-16_091514_250000_300
...,...,...,...,...,...
4,2026-01-16 14:29:38,24700.0,6600,sell,2026-01-16_142938_247000_6600
3,2026-01-16 14:29:39,24700.0,20000,sell,2026-01-16_142939_247000_20000
2,2026-01-16 14:29:44,24750.0,2000,buy,2026-01-16_142944_247500_2000
1,2026-01-16 14:45:04,24850.0,486600,atc,2026-01-16_144504_248500_486600
0,2026-01-16 14:45:04,24850.0,419300,,2026-01-16_144504_248500_419300

### VCI

In [ ]:
from vnstock import Quote
quote = Quote(symbol='ACB', source='VCI')

#### Gi√° l·ªãch s·ª≠

##### C·ªï phi·∫øu

In [ ]:
# Khung th·ªùi gian ng√†y: 1D hay d cho interval
df = quote.history(start='2024-01-01', end='2025-11-10', interval='d')
df

          time   open   high    low  close    volume
0   2023-11-23  15.93  15.97  15.58  15.58   5185123
1   2023-11-24  15.65  15.65  15.30  15.48   7901317
2   2023-11-27  15.48  15.51  15.33  15.33   3262375
3   2023-11-28  15.37  15.51  15.23  15.37   4189072
4   2023-11-29  15.44  15.69  15.44  15.48   4831388
..         ...    ...    ...    ...    ...       ...
483 2025-11-03  25.40  25.90  25.30  25.45  13864900
484 2025-11-04  25.45  26.10  25.40  26.00  17972000
485 2025-11-05  25.80  25.90  25.55  25.60   6212200
486 2025-11-06  25.55  25.70  25.30  25.30   6525200
487 2025-11-07  25.25  25.30  24.85  24.90  12107200

[488 rows x 6 columns]

In [ ]:
# Khung th·ªùi gian ph√∫t: 1m ho·∫∑c m cho interval
df = quote.history(start='2025-01-02', end='2025-11-10', interval='1m')
df

                     time   open   high    low  close  volume
0     2024-04-09 09:39:00  19.02  19.05  18.98  19.02   17600
1     2024-04-09 09:40:00  19.02  19.05  19.02  19.02    9600
2     2024-04-09 09:41:00  19.02  19.02  18.98  19.02    5500
3     2024-04-09 09:42:00  19.02  19.02  19.02  19.02     600
4     2024-04-09 09:43:00  19.02  19.05  19.02  19.05   19100
...                   ...    ...    ...    ...    ...     ...
87356 2025-11-07 14:26:00  25.00  25.10  25.00  25.05   83800
87357 2025-11-07 14:27:00  25.05  25.10  24.90  24.95  239200
87358 2025-11-07 14:28:00  25.00  25.00  24.90  24.95   90600
87359 2025-11-07 14:29:00  24.90  24.95  24.90  24.90  109600
87360 2025-11-07 14:45:00  24.90  24.90  24.90  24.90  700800

[87361 rows x 6 columns]

In [ ]:
# Khung th·ªùi gian gi·ªù: 1H ho·∫∑c h cho interval
df = quote.history(start='2025-01-02', end='2025-11-10', interval='h')
df

                    time   open   high    low  close   volume
0    2024-08-06 13:00:00  19.51  19.72  19.51  19.68  1873000
1    2024-08-06 14:00:00  19.68  19.76  19.63  19.63  1406000
2    2024-08-07 10:00:00  19.55  19.59  19.51  19.51  1370300
3    2024-08-07 11:00:00  19.51  19.55  19.51  19.51   225900
4    2024-08-07 13:00:00  19.51  19.63  19.51  19.63   944700
...                  ...    ...    ...    ...    ...      ...
1452 2025-11-07 09:00:00  25.25  25.30  25.15  25.20  1277500
1453 2025-11-07 10:00:00  25.15  25.20  25.05  25.15  1918500
1454 2025-11-07 11:00:00  25.15  25.20  25.10  25.15   574900
1455 2025-11-07 13:00:00  25.15  25.30  25.05  25.10  2218800
1456 2025-11-07 14:00:00  25.10  25.15  24.85  24.90  6117500

[1457 rows x 6 columns]

##### H·ª£p ƒë·ªìng t∆∞∆°ng lai

In [ ]:
quote.history(symbol='VN30F1M', start='2024-01-02', end='2025-11-10', interval='1D')

          time   open   high    low  close    volume
0   2023-11-24  15.65  15.65  15.30  15.48   7901317
1   2023-11-27  15.48  15.51  15.33  15.33   3262375
2   2023-11-28  15.37  15.51  15.23  15.37   4189072
3   2023-11-29  15.44  15.69  15.44  15.48   4831388
4   2023-11-30  15.48  15.65  15.40  15.40   5245608
..         ...    ...    ...    ...    ...       ...
482 2025-11-03  25.40  25.90  25.30  25.45  13864900
483 2025-11-04  25.45  26.10  25.40  26.00  17972000
484 2025-11-05  25.80  25.90  25.55  25.60   6212200
485 2025-11-06  25.55  25.70  25.30  25.30   6525200
486 2025-11-07  25.25  25.30  24.85  24.90  12107200

[487 rows x 6 columns]

In [ ]:
quote.history(symbol='41I1FB000', start='2025-01-02', end='2025-11-10', interval='1m')

                     time   open   high    low  close  volume
0     2024-04-09 09:39:00  19.02  19.05  18.98  19.02   17600
1     2024-04-09 09:40:00  19.02  19.05  19.02  19.02    9600
2     2024-04-09 09:41:00  19.02  19.02  18.98  19.02    5500
3     2024-04-09 09:42:00  19.02  19.02  19.02  19.02     600
4     2024-04-09 09:43:00  19.02  19.05  19.02  19.05   19100
...                   ...    ...    ...    ...    ...     ...
87356 2025-11-07 14:26:00  25.00  25.10  25.00  25.05   83800
87357 2025-11-07 14:27:00  25.05  25.10  24.90  24.95  239200
87358 2025-11-07 14:28:00  25.00  25.00  24.90  24.95   90600
87359 2025-11-07 14:29:00  24.90  24.95  24.90  24.90  109600
87360 2025-11-07 14:45:00  24.90  24.90  24.90  24.90  700800

[87361 rows x 6 columns]

In [ ]:
quote.history(symbol='VN30F2511', start='2025-01-02', end='2025-11-10', interval='1D')

          time   open   high    low  close    volume
0   2024-12-12  21.22  21.31  21.10  21.14   5867353
1   2024-12-13  21.14  21.14  20.97  21.01   6044475
2   2024-12-16  21.01  21.10  20.93  21.01   5165719
3   2024-12-17  21.10  21.10  20.93  21.05   3331723
4   2024-12-18  21.10  21.10  20.97  21.01   3385137
..         ...    ...    ...    ...    ...       ...
220 2025-11-03  25.40  25.90  25.30  25.45  13864900
221 2025-11-04  25.45  26.10  25.40  26.00  17972000
222 2025-11-05  25.80  25.90  25.55  25.60   6212200
223 2025-11-06  25.55  25.70  25.30  25.30   6525200
224 2025-11-07  25.25  25.30  24.85  24.90  12107200

[225 rows x 6 columns]

##### Ch·ªâ s·ªë

In [ ]:
quote.history(symbol='VNINDEX', start='2024-01-02', end='2025-11-10', interval='1D')

          time   open   high    low  close    volume
0   2023-11-24  15.65  15.65  15.30  15.48   7901317
1   2023-11-27  15.48  15.51  15.33  15.33   3262375
2   2023-11-28  15.37  15.51  15.23  15.37   4189072
3   2023-11-29  15.44  15.69  15.44  15.48   4831388
4   2023-11-30  15.48  15.65  15.40  15.40   5245608
..         ...    ...    ...    ...    ...       ...
482 2025-11-03  25.40  25.90  25.30  25.45  13864900
483 2025-11-04  25.45  26.10  25.40  26.00  17972000
484 2025-11-05  25.80  25.90  25.55  25.60   6212200
485 2025-11-06  25.55  25.70  25.30  25.30   6525200
486 2025-11-07  25.25  25.30  24.85  24.90  12107200

[487 rows x 6 columns]

In [ ]:
quote.history(symbol='HNXINDEX', start='2024-01-02', end='2025-11-10', interval='1D')

          time   open   high    low  close    volume
0   2023-11-24  15.65  15.65  15.30  15.48   7901317
1   2023-11-27  15.48  15.51  15.33  15.33   3262375
2   2023-11-28  15.37  15.51  15.23  15.37   4189072
3   2023-11-29  15.44  15.69  15.44  15.48   4831388
4   2023-11-30  15.48  15.65  15.40  15.40   5245608
..         ...    ...    ...    ...    ...       ...
482 2025-11-03  25.40  25.90  25.30  25.45  13864900
483 2025-11-04  25.45  26.10  25.40  26.00  17972000
484 2025-11-05  25.80  25.90  25.55  25.60   6212200
485 2025-11-06  25.55  25.70  25.30  25.30   6525200
486 2025-11-07  25.25  25.30  24.85  24.90  12107200

[487 rows x 6 columns]

In [ ]:
quote.history(symbol='UPCOMINDEX', start='2024-01-02', end='2025-11-10', interval='1D')

          time   open   high    low  close    volume
0   2023-11-24  15.65  15.65  15.30  15.48   7901317
1   2023-11-27  15.48  15.51  15.33  15.33   3262375
2   2023-11-28  15.37  15.51  15.23  15.37   4189072
3   2023-11-29  15.44  15.69  15.44  15.48   4831388
4   2023-11-30  15.48  15.65  15.40  15.40   5245608
..         ...    ...    ...    ...    ...       ...
482 2025-11-03  25.40  25.90  25.30  25.45  13864900
483 2025-11-04  25.45  26.10  25.40  26.00  17972000
484 2025-11-05  25.80  25.90  25.55  25.60   6212200
485 2025-11-06  25.55  25.70  25.30  25.30   6525200
486 2025-11-07  25.25  25.30  24.85  24.90  12107200

[487 rows x 6 columns]

##### Ch·ª©ng quy·ªÅn

In [ ]:
quote.history(symbol='CFPT2314', start='2024-01-02', end='2025-11-10', interval='1D')

          time   open   high    low  close    volume
0   2023-11-24  15.65  15.65  15.30  15.48   7901317
1   2023-11-27  15.48  15.51  15.33  15.33   3262375
2   2023-11-28  15.37  15.51  15.23  15.37   4189072
3   2023-11-29  15.44  15.69  15.44  15.48   4831388
4   2023-11-30  15.48  15.65  15.40  15.40   5245608
..         ...    ...    ...    ...    ...       ...
482 2025-11-03  25.40  25.90  25.30  25.45  13864900
483 2025-11-04  25.45  26.10  25.40  26.00  17972000
484 2025-11-05  25.80  25.90  25.55  25.60   6212200
485 2025-11-06  25.55  25.70  25.30  25.30   6525200
486 2025-11-07  25.25  25.30  24.85  24.90  12107200

[487 rows x 6 columns]

##### Tr√°i phi·∫øu ni√™m y·∫øt

In [ ]:
quote.history(symbol='CII424002', start='2024-01-02', end='2025-11-10', interval='1D')

          time   open   high    low  close    volume
0   2023-11-24  15.65  15.65  15.30  15.48   7901317
1   2023-11-27  15.48  15.51  15.33  15.33   3262375
2   2023-11-28  15.37  15.51  15.23  15.37   4189072
3   2023-11-29  15.44  15.69  15.44  15.48   4831388
4   2023-11-30  15.48  15.65  15.40  15.40   5245608
..         ...    ...    ...    ...    ...       ...
482 2025-11-03  25.40  25.90  25.30  25.45  13864900
483 2025-11-04  25.45  26.10  25.40  26.00  17972000
484 2025-11-05  25.80  25.90  25.55  25.60   6212200
485 2025-11-06  25.55  25.70  25.30  25.30   6525200
486 2025-11-07  25.25  25.30  24.85  24.90  12107200

[487 rows x 6 columns]

#### Intraday: d·ªØ li·ªáu kh·ªõp l·ªánh

In [ ]:
# D·ªØ li·ªáu kh·ªõp l·ªánh trong ng√†y giao d·ªãch realtime ho·∫∑c ng√†y g·∫ßn nh·∫•t (ngo√†i gi·ªù giao d·ªãch)
quote.intraday(symbol='ACB', page_size=10_000, show_log=False)

                          time  price  volume match_type         id
0    2025-11-07 09:15:00+07:00  25.25     100       Sell  393407018
1    2025-11-07 09:15:00+07:00  25.25     100       Sell  393407060
2    2025-11-07 09:15:00+07:00  25.25     300       Sell  393407061
3    2025-11-07 09:15:00+07:00  25.25    1500       Sell  393407062
4    2025-11-07 09:15:00+07:00  25.25     100       Sell  393407063
...                        ...    ...     ...        ...        ...
6682 2025-11-07 14:45:00+07:00  24.90    5000        Buy  394037019
6683 2025-11-07 14:45:00+07:00  24.90     200        Buy  394037018
6684 2025-11-07 14:45:00+07:00  24.90     100        Buy  394037017
6685 2025-11-07 14:45:00+07:00  24.90     200        Buy  394037033
6686 2025-11-07 14:45:00+07:00  24.90     100        Buy  394037576

[6687 rows x 5 columns]

In [ ]:
# D∆∞ mua - D∆∞ b√°n
quote.price_depth('ACB')

2025-11-09 00:17:47 - vnstock.core.utils.client - INFO - POST request to https://trading.vietcap.com.vn/api/market-watch/AccumulatedPriceStepVol/getSymbolData (mode: direct)
2025-11-09 00:17:47 - vnstock.core.utils.client - INFO - Payload: {'symbol': 'ACB'}
2025-11-09 00:17:47 - vnstock.core.utils.client - INFO - Sending direct request (no proxy)

     price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0  25300.0   253000.0       253000.0             0.0                  0.0
1  25250.0   825100.0       322500.0        502600.0                  0.0
2  25200.0   996900.0       494700.0        502200.0                  0.0
3  25150.0  2131600.0       838500.0       1293100.0                  0.0
4  25100.0  2322100.0       178200.0       2143900.0                  0.0
5  25050.0  1525800.0       176700.0       1349100.0                  0.0
6  25000.0  1891000.0       117000.0       1774000.0                  0.0
7  24950.0   511800.0       157800.0        354000.0                  0.0
8  24900.0  1484400.0       914700.0        569700.0                  0.0
9  24850.0   165500.0            0.0        165500.0                  0.0

## Trading: Giao d·ªãch

### B·∫£ng gi√°

#### KBS

In [ ]:
from vnstock import Trading
trading = Trading(source='KBS')

In [ ]:
trading.price_board(['ACB'])

,symbol,time,exchange,ceiling_price,floor_price,reference_price,open_price,high_price,low_price,close_price,...,bid_price_3,bid_vol_3,ask_price_1,ask_vol_1,ask_price_2,ask_vol_2,ask_price_3,ask_vol_3,foreign_buy_volume,foreign_sell_volume
0,ACB,1768552380433,HOSE,26600,23200,24900,25000,25100,24650,24850,...,24700,259900,24850.0,176300,24900,1212500,24950,128700,1509500,77431639

In [ ]:
trading.price_board(['VCB','ACB','TCB','BID']).T # B·ªè .T ƒë·ªÉ xoay tr·ªü l·∫°i ƒë√∫ng ki·ªÉu hi·ªÉn th·ªã b·∫£ng gi√°

,0,1,2,3
symbol,VCB,ACB,TCB,BID
time,1768552349519,1768552380433,1768550700978,1768552382835
exchange,HOSE,HOSE,HOSE,HOSE
ceiling_price,76900,26600,38050,54200
floor_price,66900,23200,33150,47200
reference_price,71900,24900,35600,50700
open_price,73000,25000,35650,51000
high_price,76000,25100,36350,54200
low_price,72000,24650,35600,50400
close_price,73000,24850,35800,51100
average_price,73392,24788,35953,52021
total_trades,13426500,10941400,9580800,13973800
total_value,985393610000,271211480000,344454670000,726931030000
price_change,1100,-50,200,400
percent_change,1.529903,-0.200803,0.561798,0.788955
bid_price_1,72900.0,24800.0,35800.0,51100.0
bid_vol_1,100,900,53700,33100
bid_price_2,72800,24750,35750,51000
bid_vol_2,100,4500,63000,327700
bid_price_3,72700,24700,35700,50900
bid_vol_3,170100,259900,98800,14200
ask_price_1,73000.0,24850.0,35850.0,51200.0
ask_vol_1,57000,176300,1300,1900
ask_price_2,73100,24900,35900,51300
ask_vol_2,4000,1212500,13800,6000
ask_price_3,73200,24950,35950,51400
ask_vol_3,36900,128700,97700,8300
foreign_buy_volume,2540007,1509500,0,2334772
foreign_sell_volume,709119811,77431639,0,888147307

#### VCI

In [ ]:
from vnstock import Trading
trading = Trading(source='VCI')

In [ ]:
trading.price_board(['ACB'])

  listing                                                                  \
   symbol ceiling  floor ref_price stock_type exchange     trading_status
0     ACB   27050  23550     25300      STOCK      HSX  TRADING_ACTIVATED

                                                            ...     bid_ask  \
  trading_status_code trading_status_group security_status  ... bid_2_price
0                  20                    2               N  ...       24800

                                                                              \
  bid_2_volume bid_3_price bid_3_volume ask_1_price ask_1_volume ask_2_price
0       521900       24750       111900       24900        12200       24950


  ask_2_volume ask_3_price ask_3_volume
0        20200       25000        73300

[1 rows x 70 columns]

In [ ]:
trading.price_board(['VCB','ACB','TCB','BID']) # B·ªè .T ƒë·ªÉ xoay tr·ªü l·∫°i ƒë√∫ng ki·ªÉu hi·ªÉn th·ªã b·∫£ng gi√°

  listing                                                                  \
   symbol ceiling  floor ref_price stock_type exchange     trading_status
0     VCB   64500  56100     60300      STOCK      HSX  TRADING_ACTIVATED
1     ACB   27050  23550     25300      STOCK      HSX  TRADING_ACTIVATED
2     TCB   35950  31250     33600      STOCK      HSX  TRADING_ACTIVATED
3     BID   41150  35850     38500      STOCK      HSX  TRADING_ACTIVATED

                                                            ...     bid_ask  \
  trading_status_code trading_status_group security_status  ... bid_2_price
0                  20                    2               N  ...       59200
1                  20                    2               N  ...       24800
2                  20                    2               N  ...       32950
3                  20                    2               N  ...       37450

                                                                              \
  bid_2_volume bid_3_price bid_3_volume ask_1_price ask_1_volume ask_2_price
0        25700       59100       118300       59400         2800       59500
1       521900       24750       111900       24900        12200       24950
2       174400       32900        87200       33050        48600       33100
3        32600       37400        24900       37550          800       37600


  ask_2_volume ask_3_price ask_3_volume
0          300       59600         9000
1        20200       25000        73300
2        21000       33150        10500
3        13900       37650         7900

[4 rows x 70 columns]

## Company: Th√¥ng tin c√¥ng ty

### KBS

> ƒê√£ b·ªï sung ngu·ªìn d·ªØ li·ªáu t·ª´ VCI t·ª´ b·∫£n Vnstock 3.4.0

In [ ]:
from vnstock import Company
company = Company(symbol='ACB', source='KBS')

Lo·∫°i b·ªè ƒëo·∫°n m√£ `.head()` ƒë·ªÉ xem to√†n b·ªô d·ªØ li·ªáu thay v√¨ ch·ªâ l·∫•y 5 d√≤ng ƒë·∫ßu ti√™n.

#### H·ªì s∆°

In [ ]:
company.overview()

,business_model,symbol,founded_date,charter_capital,number_of_employees,listing_date,par_value,exchange,listing_price,listed_volume,...,phone,fax,email,website,branches,history,free_float_percentage,free_float,outstanding_shares,as_of_date
0,"\n- Huy ƒë·ªông v·ªën ng·∫Øn h·∫°n, trung h·∫°n v√† d√†i h·∫°...",ACB,24/04/1993,51367,13290,09/12/2020,10000,HOSE,26400,5137,...,(84.28) 3833 4085 - 3839 5179,(84.28) 3839 9885,acb@acb.com.vn,https://www.acb.com.vn,"-T·∫°i TP. H·ªì Ch√≠ Minh: S·ªü giao d·ªãch, 25 chi nh√°...",\n- Ng√†y 24/04/1993: Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï p...,51366565990000,10000,5136656599,2024-12-31T00:00:00

#### T·ª∑ l·ªá s·ªü h·ªØu

In [ ]:
company.ownership()

           owner_type  ownership_percentage  shares_owned          update_date
0  C√° nh√¢n trong n∆∞·ªõc                 47.77    2133712059  2024-12-31T00:00:00
1  T·ªï ch·ª©c trong n∆∞·ªõc                 22.23     992953362  2024-12-31T00:00:00
2  C√° nh√¢n n∆∞·ªõc ngo√†i                  0.03       1130130  2024-12-31T00:00:00
3  T·ªï ch·ª©c n∆∞·ªõc ngo√†i                 29.97    1338862361  2024-12-31T00:00:00

#### C·ªï ƒë√¥ng

In [ ]:
company.shareholders()

,name,update_date,shares_owned,ownership_percentage
0,Tr·∫ßn H√πng Huy,2025-06-30T00:00:00,176021482,3.43
1,"SMALLCAP World Fund, Inc",2024-07-30T00:00:00,112118905,2.51
2,Boardwalk South Limited,2024-07-30T00:00:00,82268294,1.84
3,CTCP ƒê·∫ßu t∆∞ Th∆∞∆°ng m·∫°i Giang Sen,2025-06-30T00:00:00,92341027,1.80
4,VOF PE Holding 5 Limited,2024-07-30T00:00:00,76619537,1.72
5,C√¥ng ty TNHH B·∫£o hi·ªÉm Nh√¢n th·ªç Prudiential Vi·ªá...,2024-07-30T00:00:00,69465590,1.56
6,Nguy·ªÖn Thi√™n H∆∞∆°ng Jenny,2025-04-29T00:00:00,63232810,1.42
7,CTCP L√†ng gi√°o d·ª•c qu·ªëc t·∫ø Thi√™n H∆∞∆°ng,2024-09-10T00:00:00,58575494,1.31
8,CTCP ƒê·∫ßu t∆∞ Th∆∞∆°ng m·∫°i B√°ch Thanh,2025-06-30T00:00:00,64287678,1.25
9,ƒê·∫∑ng Thu Th·ªßy,2025-06-30T00:00:00,61352541,1.19
10,Nguy·ªÖn ƒê·ª©c Hi·∫øu Johnny,2025-04-29T00:00:00,51017819,1.14
11,ƒê·∫∑ng Thu H√†,2025-06-30T00:00:00,53071816,1.03
12,Empoyees Provident Fund Board,2025-05-21T00:00:00,45600446,1.02

#### C√¥ng ty con

In [ ]:
company.subsidiaries()

,update_date,name,charter_capital,ownership_percent,currency,type
0,2024-12-31T00:00:00,C√¥ng ty TNHH Ch·ª©ng kho√°n ACB,7000000000000,100,VND,c√¥ng ty con
1,2024-12-31T00:00:00,C√¥ng ty TNHH MTV Cho thu√™ t√†i ch√≠nh ACB (ACBL),500000000000,100,VND,c√¥ng ty con
2,2024-12-31T00:00:00,C√¥ng ty TNHH MTV Qu·∫£n l√Ω Qu·ªπ ACB,50000000000,100,VND,c√¥ng ty con
3,2024-12-31T00:00:00,C√¥ng ty TNHH Qu·∫£n l√Ω n·ª£ v√† Khai th√°c t√†i s·∫£n A...,5000000000,100,VND,c√¥ng ty con

#### C√¥ng ty li√™n k·∫øt

In [ ]:
# Ph∆∞∆°ng th·ª©c n√†y kh√¥ng c√≥ trong ngu·ªìn TCBS
company.affiliate()

Empty DataFrame
Columns: [update_date, name, charter_capital, ownership_percent, currency, type]
Index: []

#### L√£nh ƒë·∫°o

In [ ]:
company.officers(filter_by='working').head() # filter_by='all' ho·∫∑c 'working' ho·∫∑c 'resigned'

,from_date,position,name,position_en,owner_code
0,2002,CTHƒêQT,√îng Tr·∫ßn H√πng Huy,CTHƒêQT (Chairman of BOD),CTHƒêQT
1,2012,Ph√≥ CTHƒêQT,√îng Nguy·ªÖn Th√†nh Long,Ph√≥ CTHƒêQT (Vice Chairman of BOD),Ph√≥ CTHƒêQT
2,2018,TVHƒêQT,√îng Hiep Van Vo,TVHƒêQT (Member of BOD),TVHƒêQT
3,TV ƒê·ªôc l·∫≠p,TVHƒêQT,√îng Tr·ªãnh B·∫£o Qu·ªëc,TVHƒêQT (Member of BOD),TVHƒêQT
4,2012,TVHƒêQT,B√† ƒêinh Th·ªã Hoa,TVHƒêQT (Member of BOD),TVHƒêQT

#### L·ªãch s·ª≠ tƒÉng v·ªën

In [ ]:
company.capital_history()

Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.

         date  charter_capital currency
0  2025-06-27   51366565990000      VND
1  2024-04-09   44666579120000      VND
2  2023-06-26   38840503580000      VND
3  2022-07-04   33774350940000      VND
4  2021-07-02   27019480750000      VND
5  2020-10-19   21615584600000      VND
6  2019-11-15   16627372770000      VND
7         NaT   12885877380000      VND
8  2017-03-09   10273238960000      VND
9         NaT    9376965060000      VND
10 2009-11-27    7814137550000      VND
11 2009-09-10    7705743780000      VND
12 2008-12-15    6355812780000      VND
13 2008-10-29    4651615940000      VND
14 2008-10-07    3180082960000      VND
15 2007-12-12    2630059960000      VND
16 2007-05-31    2530106520000      VND
17 2006-03-09    1100046560000      VND
18 2004-12-31     481138000000      VND

#### Tin t·ª©c

In [ ]:
company.news().head(3)

,head,article_id,title,publish_time,url
0,Giai ƒëo·∫°n t·ªõi kh√¥ng ph·∫£i th·ªùi k·ª≥ tƒÉng tr∆∞·ªüng d...,1381606,Doanh nghi·ªáp c·∫ßn chu·∫©n b·ªã cho m√¥i tr∆∞·ªùng bi·∫øn ...,2025-12-16T16:17:32.593,/2025/12/doanh-nghiep-can-chuan-bi-cho-moi-tru...

#### S·ª± ki·ªán

In [ ]:
company.events()

Empty DataFrame
Columns: []
Index: []

#### Giao d·ªãch n·ªôi b·ªô

In [ ]:
company.insider_trading()

Empty DataFrame
Columns: []
Index: []

### VCI

> ƒê√£ b·ªï sung ngu·ªìn d·ªØ li·ªáu t·ª´ VCI t·ª´ b·∫£n Vnstock 3.2.0

In [ ]:
from vnstock import Company
company = Company(symbol='ACB', source='VCI')

Lo·∫°i b·ªè ƒëo·∫°n m√£ `.head()` ƒë·ªÉ xem to√†n b·ªô d·ªØ li·ªáu thay v√¨ ch·ªâ l·∫•y 5 d√≤ng ƒë·∫ßu ti√™n.

#### H·ªì s∆°

In [ ]:
company.overview()

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,ACB,67505,5136656599,- Ng√†y 24/04/1993: Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph...,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u (ACB) ƒë∆∞·ª£c...,Ng√¢n h√†ng,Ng√¢n h√†ng,Ng√¢n h√†ng,5136656599,51366565990000

#### C·ªï ƒë√¥ng

In [ ]:
company.shareholders()

,id,share_holder,quantity,share_own_percent,update_date
0,92044288,Vietnam Enterprise Investments Limited,212880184,0.054809,2024-09-13
1,92039097,Sather Gate Investments Limited,193907186,0.049900,2025-10-05
2,92020366,Estes Investments Limited,83010435,0.049900,2024-05-15
3,92036861,Ph·∫°m Th·ªã Thu H√†,285000,0.049900,2016-05-20
4,92019944,Dragon Financial Holdings Limited,140770684,0.036243,2025-10-05
...,...,...,...,...,...
85,92038620,Qu·ªπ ƒê·∫ßu t∆∞ C·ªï phi·∫øu NƒÉng ƒë·ªông B·∫£o Vi·ªát,22065,0.000013,2025-10-05
86,92018614,ƒêinh Th·ªã Hoa,77280,0.000012,2025-10-05
87,92026583,Ng√¥ T·∫•n Long,63442,0.000010,2025-10-29
88,92020200,D∆∞∆°ng Th·ªã Nguy·ªát,17975,0.000003,2025-10-29
89,92014452,C√¥ng ty C·ªï ph·∫ßn Ch·ª©ng kho√°n Thi√™n Vi·ªát,5285,0.000002,2025-10-05

#### C√¥ng ty con

In [ ]:
company.subsidiaries()

,id,sub_organ_code,ownership_percent,organ_name,type
0,26024573,ACBA,1,C√¥ng Ty TNHH Qu·∫£n L√Ω N·ª£ V√† Khai Th√°c T√†i S·∫£n N...,c√¥ng ty con
1,26024574,ACBL,1,C√¥ng Ty TNHH M·ªôt Th√†nh Vi√™n Cho Thu√™ T√†i Ch√≠nh...,c√¥ng ty con
2,26024575,ACBS,1,C√¥ng ty TNHH Ch·ª©ng kho√°n ACB,c√¥ng ty con
0,26024577,ACBD,None,C√îNG TY C·ªî PH·∫¶N D·ªäCH V·ª§ B·∫¢O V·ªÜ NG√ÇN H√ÄNG √Å CH√ÇU,c√¥ng ty li√™n k·∫øt
1,26024576,SGGS,None,C√¥ng ty C·ªï ph·∫ßn S√†i G√≤n Kim ho√†n ACB- SJC,c√¥ng ty li√™n k·∫øt

#### C√¥ng ty li√™n k·∫øt

In [ ]:
# Ph∆∞∆°ng th·ª©c n√†y kh√¥ng c√≥ trong ngu·ªìn TCBS
company.affiliate()

,id,sub_organ_code,organ_name,ownership_percent
0,26024577,ACBD,C√îNG TY C·ªî PH·∫¶N D·ªäCH V·ª§ B·∫¢O V·ªÜ NG√ÇN H√ÄNG √Å CH√ÇU,None
1,26024576,SGGS,C√¥ng ty C·ªï ph·∫ßn S√†i G√≤n Kim ho√†n ACB- SJC,None

#### L√£nh ƒë·∫°o

In [ ]:
company.officers(filter_by='working').head() # filter_by='all' ho·∫∑c 'working' ho·∫∑c 'resigned'

,id,officer_name,officer_position,position_short_name,update_date,officer_own_percent,quantity
0,6,Tr·∫ßn H√πng Huy,Ch·ªß t·ªãch H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,Ch·ªß t·ªãch HƒêQT,2025-08-12,0.0343,176021482
1,7,ƒê·∫∑ng Thu Th·ªßy,Th√†nh vi√™n H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,TV HƒêQT,2025-08-12,0.0119,61352541
2,17,ƒê·∫∑ng Ph√∫ Vinh,Gi√°m ƒë·ªëc kh·ªëi,Gƒê Kh·ªëi,2025-08-12,0.0037,18922683
3,8,ƒê·ªó Minh To√†n,T·ªïng Gi√°m ƒë·ªëc,TGƒê,2025-08-12,0.0007,3683318
4,9,Nguy·ªÖn Th√†nh Long,Ph√≥ Ch·ªß t·ªãch H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,Ph√≥ Ch·ªß t·ªãch HƒêQT,2025-08-12,0.0004,1894127

#### Tin t·ª©c

In [ ]:
company.news().head(3)

,id,news_title,news_sub_title,friendly_sub_title,news_image_url,news_source_link,created_at,public_date,updated_at,lang_code,news_id,news_short_content,news_full_content,close_price,ref_price,floor,ceiling,price_change_pct
0,8699409,ACB: D·ª± th·∫£o Ngh·ªã quy·∫øt ƒêHƒêCƒê th√†nh l·∫≠p c√¥ng t...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-du-thao-nghi...,None,1761562938000,None,vi,11774312,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë D·ª±...,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë...,25000,25000,23250,26750,0.0
1,8699410,ACB: Phi·∫øu l·∫•y √Ω ki·∫øn c·ªï ƒë√¥ng b·∫±ng vƒÉn b·∫£n,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-phieu-lay-y-...,None,1761562874000,None,vi,11774315,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë Ph...,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë...,25000,25000,23250,26750,0.0
2,8699366,ACB: T·ªù tr√¨nh ƒêHƒêCƒê v·ªÅ vi·ªác th√†nh l·∫≠p c√¥ng ty con,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-to-trinh-dhd...,None,1761562827000,None,vi,11774248,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë T·ªù...,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë...,25000,25000,23250,26750,0.0

#### S·ª± ki·ªán

In [ ]:
company.events().head(3)

,id,event_title,en__event_title,public_date,issue_date,source_url,event_list_code,ratio,value,record_date,exright_date,event_list_name,en__event_list_name
0,18139,Tr·∫£ c·ªï t·ª©c b·∫±ng ti·ªÅn m·∫∑t,,2015-05-05,2015-05-29,http://stoxvn.stox.vn/tin-tuc/250588/acb-1505-...,DIV,NaN,NaN,2015-05-19,2015-05-15,Tr·∫£ c·ªï t·ª©c b·∫±ng ti·ªÅn m·∫∑t,Cash Dividend
1,18153,ACB - Ni√™m y·∫øt b·ªï sung 106.101 c·ªï phi·∫øu,"ACB - Lists additional 106,101 shares",2021-07-16,2022-04-26,http://fiinpro.com/News/Detail/8195547?lang=vi-VN,AIS,0.0,0.0,1753-01-01,1753-01-01,Ni√™m y·∫øt th√™m,Additional Listing
2,58604768,ACB - Ni√™m y·∫øt b·ªï sung 669.998.687 c·ªï phi·∫øu,"ACB- Lists additional 669,998,687 shares",2025-06-27,2025-06-26,http://fiinpro.com/News/Detail/11613539?lang=v...,AIS,0.0,0.0,1753-01-01,1753-01-01,Ni√™m y·∫øt th√™m,Additional Listing

#### B√°o c√°o ph√¢n t√≠ch

In [ ]:
company.reports()

,date,description,link,name
0,2025-10-23T00:00:00Z,1. Thanh tra Ch√≠nh ph·ªß v·ªÅ ho·∫°t ƒë·ªông ph√°t h√†nh ...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB ‚Äì Kh√¥ng ghi nh·∫≠n sai ph·∫°m trong ph√°t h√†nh ...
1,2025-10-22T00:00:00Z,Ng√¢n h√†ng TMCP √Å Ch√¢u (ACB) c√¥ng b·ªë KQKD 9 th√°...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Ch·∫•t l∆∞·ª£ng t√†i s·∫£n ti·∫øp t·ª•c c·∫£i thi·ªán; s...
2,2025-08-25T00:00:00Z,"- Ch√∫ng t√¥i ƒëi·ªÅu ch·ªânh tƒÉng 9,5% gi√° m·ª•c ti√™u ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +21,3%] - ƒê·ªãnh gi√° h·∫•p d·∫´n; s·∫µn s√†ng ..."
3,2025-07-24T00:00:00Z,Ng√¢n h√†ng TMCP √Å Ch√¢u (ACB) c√¥ng b·ªë KQKD 6 th√°...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Ch·∫•t l∆∞·ª£ng t√†i s·∫£n c·∫£i thi·ªán ƒë√°ng k·ªÉ; NI...
4,2025-05-27T00:00:00Z,"- Ch√∫ng t√¥i ƒëi·ªÅu ch·ªânh gi·∫£m 2,4% gi√° m·ª•c ti√™u ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +32,3%] - NIM d·ª± ki·∫øn s·∫Ω ph·∫£i ch·ªãu √°p..."
5,2025-04-24T00:00:00Z,1. T√°c ƒë·ªông c·ªßa Thu·∫ø quan ƒë·ªëi v·ªõi ACB: T√°c ƒë·ªôn...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - K·ª≥ v·ªçng t√≠n d·ª•ng tƒÉng m·∫°nh v√† NIM c·∫£i th...
6,2025-04-23T00:00:00Z,Ng√¢n h√†ng TMCP √Å Ch√¢u (ACB) c√¥ng b·ªë KQKD qu√Ω 1...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - L·ª£i nhu·∫≠n th·∫•p h∆°n k·ª≥ v·ªçng do NIM gi·∫£m -...
7,2025-04-08T00:00:00Z,Ch√∫ng t√¥i ƒë√£ tham d·ª± ƒêHCƒê c·ªßa Ng√¢n h√†ng TMCP √Å...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - TƒÉng tr∆∞·ªüng t√≠n d·ª•ng ƒë∆∞·ª£c k·ª≥ v·ªçng s·∫Ω n·∫±m...
8,2025-01-22T00:00:00Z,Ng√¢n h√†ng Th∆∞∆°ng M·∫°i C·ªï Ph·∫ßn √Å Ch√¢u (ACB) ƒë√£ c...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - T·∫≠p trung v√†o tƒÉng tr∆∞·ªüng t√≠n d·ª•ng h∆°n t...
9,2024-10-24T00:00:00Z,Ng√¢n h√†ng TMCP √Å Ch√¢u (ACB) c√¥ng b·ªë KQKD 9 th√°...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB ‚Äì NOII th·∫•p h∆°n d·ª± ki·∫øn, ·∫£nh h∆∞·ªüng ti√™u c·ª±..."

#### T√¨nh h√¨nh t√†i ch√≠nh

In [ ]:
company.ratio_summary()

,symbol,year_report,length_report,update_date,revenue,revenue_growth,net_profit,net_profit_growth,ebit_margin,roe,...,rtq4,charter_capital_ratio,rtq10,dividend,ebitda,ebit,le,de,ccc,rtq17
0,ACB,2025,3,1761151439463,15049404000000,0.164628,4280589000000,0.105982,0,0.199167,...,0,1.779669,9.37624,0.040161,0,0,0,9.37624,None,0

#### Th·ªëng k√™ giao d·ªãch

In [ ]:
company.trading_stats()

,symbol,exchange,ev,ceiling,floor,ref_price,open,match_price,close_price,price_change,...,high_price_1y,low_price_1y,pct_low_change_1y,pct_high_change_1y,foreign_volume,foreign_room,avg_match_volume_2w,foreign_holding_room,current_holding_ratio,max_holding_ratio
0,ACB,HOSE,127902749315100,27050,23550,25300,25250,24900,24900,-400,...,29500,17337,0.367088,-0.154499,4221400,1540996979,10571974,1513762055,0.294698,0.3

## Finance: B√°o c√°o t√†i ch√≠nh

### KBS

In [ ]:
from vnstock import Finance
finance = Finance(symbol='ACB', source='KBS')

#### B·∫£ng c√¢n ƒë·ªëi k·∫ø to√°n

In [ ]:
finance.balance_sheet(period='year')

,item,item_en,item_id,unit,levels,row_number,2024,2023,2022,2021
0,A. T√ÄI S·∫¢N,ASSETS,assets,None,0,1,NaN,NaN,NaN,NaN
1,"I. Ti·ªÅn m·∫∑t, v√†ng b·∫°c, ƒë√° qu√Ω","I. Cash, gold and silver, precious stones","cash,_gold_and_silver,_precious_stones",None,1,2,5.696449e+09,6.909300e+09,8.460892e+09,7.509877e+09
2,II. Ti·ªÅn g·ª≠i t·∫°i NHNN,II. Balances with the State Bank of Vietnam,balances_with_the_state_bank_of_vietnam,None,1,3,2.521975e+10,1.850481e+10,1.365753e+10,3.234957e+10
3,"III. Ti·ªÅn, v√†ng g·ª≠i t·∫°i c√°c TCTD kh√°c v√† cho v...",III. Placements at and loans to other credit i...,placements_at_and_loans_to_other_credit_instit...,None,1,4,1.178823e+11,1.148739e+11,8.597131e+10,4.981878e+10
4,"1. Ti·ªÅn, v√†ng g·ª≠i t·∫°i c√°c TCTD kh√°c",1. Placements at other credit institutions,placements_at_other_credit_institutions,None,2,5,1.177813e+11,1.146440e+11,8.233876e+10,4.371323e+10
...,...,...,...,...,...,...,...,...,...,...
72,4. Ch√™nh l·ªách ƒë√°nh gi√° l·∫°i t√†i s·∫£n,4. Assets revaluation differences,assets_revaluation_differences,None,2,73,NaN,NaN,NaN,NaN
73,5. L·ª£i nhu·∫≠n ch∆∞a ph√¢n ph·ªëi/L·ªó l≈©y k·∫ø,5. Undistributed earnings after tax/Accumulate...,undistributed_earnings_after_tax_accumulated_loss,None,2,74,2.373375e+10,2.028624e+10,1.517241e+10,1.044535e+10
74,6. L·ª£i √≠ch c·ªï ƒë√¥ng kh√¥ng ki·ªÉm so√°t,6. Minority's interest,minority's_interest,None,2,75,NaN,NaN,NaN,NaN
75,IX. L·ª£i √≠ch c·ªßa c·ªï ƒë√¥ng thi·ªÉu s·ªë,IX. Minority interest,minority_interest,None,1,76,NaN,NaN,NaN,NaN
76,T·ªîNG N·ª¢ PH·∫¢I TR·∫¢ V√Ä V·ªêN CH·ª¶ S·ªû H·ªÆU,TOTAL LIABILITIES AND OWNER'S EQUITY,total_liabilities_and_owner's_equity,None,0,77,8.640057e+11,7.187946e+11,6.078752e+11,5.277699e+11

In [ ]:
finance.balance_sheet(period='quarter')

,item,item_en,item_id,unit,levels,row_number,2025-Q3,2025-Q2,2025-Q1,2024-Q4
0,A. T√ÄI S·∫¢N,ASSETS,assets,None,0,1,NaN,NaN,NaN,NaN
1,"I. Ti·ªÅn m·∫∑t, v√†ng b·∫°c, ƒë√° qu√Ω","I. Cash, gold and silver, precious stones","cash,_gold_and_silver,_precious_stones",None,1,2,6.785568e+09,6.666091e+09,5.857654e+09,5.696449e+09
2,II. Ti·ªÅn g·ª≠i t·∫°i NHNN,II. Balances with the State Bank of Vietnam,balances_with_the_state_bank_of_vietnam,None,1,3,1.519747e+10,5.439937e+09,1.345751e+10,2.521975e+10
3,"III. Ti·ªÅn, v√†ng g·ª≠i t·∫°i c√°c TCTD kh√°c v√† cho v...",III. Placements at and loans to other credit i...,placements_at_and_loans_to_other_credit_instit...,None,1,4,1.049259e+11,1.254473e+11,1.293475e+11,1.178823e+11
4,"1. Ti·ªÅn, v√†ng g·ª≠i t·∫°i c√°c TCTD kh√°c",1. Placements at other credit institutions,placements_at_other_credit_institutions,None,2,5,1.049259e+11,1.254473e+11,1.293475e+11,1.177813e+11
...,...,...,...,...,...,...,...,...,...,...
72,4. Ch√™nh l·ªách ƒë√°nh gi√° l·∫°i t√†i s·∫£n,4. Assets revaluation differences,assets_revaluation_differences,None,2,73,NaN,NaN,NaN,NaN
73,5. L·ª£i nhu·∫≠n ch∆∞a ph√¢n ph·ªëi/L·ªó l≈©y k·∫ø,5. Undistributed earnings after tax/Accumulate...,undistributed_earnings_after_tax_accumulated_loss,None,2,74,2.530712e+10,2.102653e+10,2.741202e+10,2.373375e+10
74,6. L·ª£i √≠ch c·ªï ƒë√¥ng kh√¥ng ki·ªÉm so√°t,6. Minority's interest,minority's_interest,None,2,75,NaN,NaN,NaN,NaN
75,IX. L·ª£i √≠ch c·ªßa c·ªï ƒë√¥ng thi·ªÉu s·ªë,IX. Minority interest,minority_interest,None,1,76,NaN,NaN,NaN,NaN
76,T·ªîNG N·ª¢ PH·∫¢I TR·∫¢ V√Ä V·ªêN CH·ª¶ S·ªû H·ªÆU,TOTAL LIABILITIES AND OWNER'S EQUITY,total_liabilities_and_owner's_equity,None,0,77,9.485492e+11,9.335414e+11,8.916746e+11,8.640057e+11

#### B√°o c√°o k·∫øt qu·∫£ kinh doanh

In [ ]:
finance.income_statement(period='year')

,item,item_en,item_id,unit,levels,row_number,2024,2023,2022,2021
0,1. Thu nh·∫≠p l√£i v√† c√°c kho·∫£n thu nh·∫≠p t∆∞∆°ng t·ª±,1. Interest income and similar income,interest_income_and_similar_income,None,0,1,5.090275e+10,5.234680e+10,4.069883e+10,3.371381e+10
1,2. Chi ph√≠ l√£i v√† c√°c chi ph√≠ t∆∞∆°ng t·ª±,2. Interest expense and similar expenses,interest_expense_and_similar_expenses,None,0,2,2.310805e+10,2.738723e+10,1.716530e+10,1.476902e+10
2,I. Thu nh·∫≠p l√£i thu·∫ßn,I. Net interest income,net_interest_income,None,0,3,2.779470e+10,2.495957e+10,2.353353e+10,1.894479e+10
3,3. Thu nh·∫≠p t·ª´ ho·∫°t ƒë·ªông d·ªãch v·ª•,3. Fee and commission income,fee_and_commission_income,None,0,4,5.464958e+09,4.945751e+09,5.057559e+09,4.026460e+09
4,4. Chi ph√≠ ho·∫°t ƒë·ªông d·ªãch v·ª•,4. Fee and commission expenses,fee_and_commission_expenses,None,0,5,2.226173e+09,2.023414e+09,1.531315e+09,1.132497e+09
5,II. L√£i/l·ªó thu·∫ßn t·ª´ ho·∫°t ƒë·ªông d·ªãch v·ª•,II. Net fee and commission income,net_fee_and_commission_income,None,0,6,3.238785e+09,2.922337e+09,3.526244e+09,2.893963e+09
6,III. L√£i/l·ªó thu·∫ßn t·ª´ ho·∫°t ƒë·ªông kinh doanh ngo·∫°...,III. Net gain/(loss) from foreign currencies a...,net_gain_loss_from_foreign_currencies_and_gold...,None,0,7,1.170752e+09,1.110105e+09,1.048369e+09,8.715560e+08
7,IV. L√£i/l·ªó thu·∫ßn t·ª´ mua b√°n ch·ª©ng kho√°n kinh d...,IV. Net gain/(loss) from trading securities,net_gain_loss_from_trading_securities,None,0,8,2.003570e+08,1.683830e+08,-3.878730e+08,4.499600e+08
8,V. L√£i/l·ªó thu·∫ßn t·ª´ mua b√°n ch·ª©ng kho√°n ƒë·∫ßu t∆∞,V. Net gain/(loss) from investment securities,net_gain_loss_from_investment_securities,None,0,9,4.503120e+08,2.647140e+09,2.064800e+07,2.440510e+08
9,5. Thu nh·∫≠p t·ª´ ho·∫°t ƒë·ªông kh√°c,5. Other income,other_income,None,0,10,1.266132e+09,1.197217e+09,1.110494e+09,7.031590e+08
10,6. Chi ph√≠ ho·∫°t ƒë·ªông kh√°c,6. Other expenses,other_expenses,None,0,11,6.424950e+08,3.338460e+08,1.208000e+08,5.636960e+08
11,VI. L√£i/l·ªó thu·∫ßn t·ª´ ho·∫°t ƒë·ªông kh√°c,VI. Net other income,net_other_income,None,0,12,6.236370e+08,8.633710e+08,9.896940e+08,1.394630e+08
12,"VII. Thu nh·∫≠p t·ª´ g√≥p v·ªën, mua c·ªï ph·∫ßn",VII. Income from capital contribution and long...,income_from_capital_contribution_and_long_term...,None,0,13,3.621400e+07,7.561000e+07,5.945600e+07,2.021200e+07
13,VIII. Chi ph√≠ ho·∫°t ƒë·ªông,VIII. Operating expenses,operating_expenses,None,0,14,1.090260e+10,1.087429e+10,1.160504e+10,8.229776e+09
14,IX. L·ª£i nhu·∫≠n thu·∫ßn t·ª´ ho·∫°t ƒë·ªông kinh doanh tr...,IX. Operating profit before provision for cred...,operating_profit_before_provision_for_credit_l...,None,0,15,2.261216e+10,2.187223e+10,1.718502e+10,1.533422e+10
15,X. Chi ph√≠ d·ª± ph√≤ng r·ªßi ro t√≠n d·ª•ng,X. Provision for credit losses,provision_for_credit_losses,None,0,16,1.606285e+09,1.804231e+09,7.081400e+07,3.336109e+09
16,XI. T·ªïng l·ª£i nhu·∫≠n tr∆∞·ªõc thu·∫ø (IX-X),XI. Profit before tax,profit_before_tax,None,0,17,2.100587e+10,2.006800e+10,1.711421e+10,1.199811e+10
17,7. Chi ph√≠ thu·∫ø TNDN hi·ªán h√†nh,7. Current corporate income tax expenses,current_corporate_income_tax_expenses,None,0,18,4.199699e+09,3.993022e+09,3.445611e+09,2.389079e+09
18,8. Chi ph√≠ thu·∫ø TNDN ho√£n l·∫°i,8. Deferred income tax expenses (*),deferred_income_tax_expenses_*,None,0,19,1.640400e+07,3.024400e+07,-1.959600e+07,6.287000e+06
19,XII. Chi ph√≠ thu·∫ø TNDN,XII. Corporate income tax,corporate_income_tax,None,0,20,4.216103e+09,4.023266e+09,3.426015e+09,2.395366e+09
20,XIII. L·ª£i nhu·∫≠n sau thu·∫ø (XI-XII),XIII. Net profit after tax,net_profit_after_tax,None,0,21,1.678977e+10,1.604473e+10,1.368819e+10,9.602746e+09
21,XIV. L·ª£i √≠ch c·ªßa c·ªï ƒë√¥ng thi·ªÉu s·ªë,XIV. Minority interest,minority_interest,None,0,22,NaN,NaN,NaN,NaN
22,XV. L·ª£i nhu·∫≠n sau thu·∫ø c·ªßa c·ªï ƒë√¥ng c·ªßa Ng√¢n h√†...,XV. Net profit atttributable to the equity hol...,net_profit_atttributable_to_the_equity_holders...,None,0,23,1.678977e+10,1.604473e+10,1.368819e+10,9.602746e+09
23,L√£i c∆° b·∫£n tr√™n c·ªï phi·∫øu (BCTC) (VN√ê),Earning per share (VND),earning_per_share_vnd,None,0,24,3.669000e+03,4.092000e+03,4.008000e+03,3.498000e+03

In [ ]:
finance.income_statement(period='quarter')

,item,item_en,item_id,unit,levels,row_number,2025-Q3,2025-Q2,2025-Q1,2024-Q4
0,1. Thu nh·∫≠p l√£i v√† c√°c kho·∫£n thu nh·∫≠p t∆∞∆°ng t·ª±,1. Interest income and similar income,interest_income_and_similar_income,None,0,1,1.504940e+10,1.429870e+10,1.332731e+10,1.351838e+10
1,2. Chi ph√≠ l√£i v√† c√°c chi ph√≠ t∆∞∆°ng t·ª±,2. Interest expense and similar expenses,interest_expense_and_similar_expenses,None,0,2,8.279694e+09,7.614847e+09,6.968441e+09,6.438085e+09
2,I. Thu nh·∫≠p l√£i thu·∫ßn,I. Net interest income,net_interest_income,None,0,3,6.769710e+09,6.683848e+09,6.358865e+09,7.080291e+09
3,3. Thu nh·∫≠p t·ª´ ho·∫°t ƒë·ªông d·ªãch v·ª•,3. Fee and commission income,fee_and_commission_income,None,0,4,1.317755e+09,1.102158e+09,1.394280e+09,1.435715e+09
4,4. Chi ph√≠ ho·∫°t ƒë·ªông d·ªãch v·ª•,4. Fee and commission expenses,fee_and_commission_expenses,None,0,5,5.223300e+08,5.174270e+08,5.219670e+08,5.668900e+08
5,II. L√£i/l·ªó thu·∫ßn t·ª´ ho·∫°t ƒë·ªông d·ªãch v·ª•,II. Net fee and commission income,net_fee_and_commission_income,None,0,6,7.954250e+08,5.847310e+08,8.723130e+08,8.688250e+08
6,III. L√£i/l·ªó thu·∫ßn t·ª´ ho·∫°t ƒë·ªông kinh doanh ngo·∫°...,III. Net gain/(loss) from foreign currencies a...,net_gain_loss_from_foreign_currencies_and_gold...,None,0,7,4.491500e+08,6.700050e+08,4.755900e+08,3.441670e+08
7,IV. L√£i/l·ªó thu·∫ßn t·ª´ mua b√°n ch·ª©ng kho√°n kinh d...,IV. Net gain/(loss) from trading securities,net_gain_loss_from_trading_securities,None,0,8,3.673660e+08,3.659000e+07,2.379900e+07,-2.609000e+07
8,V. L√£i/l·ªó thu·∫ßn t·ª´ mua b√°n ch·ª©ng kho√°n ƒë·∫ßu t∆∞,V. Net gain/(loss) from investment securities,net_gain_loss_from_investment_securities,None,0,9,-3.000000e+04,4.460910e+08,-1.495000e+06,2.130500e+08
9,5. Thu nh·∫≠p t·ª´ ho·∫°t ƒë·ªông kh√°c,5. Other income,other_income,None,0,10,3.706570e+08,1.163413e+09,2.844680e+08,4.194720e+08
10,6. Chi ph√≠ ho·∫°t ƒë·ªông kh√°c,6. Other expenses,other_expenses,None,0,11,3.859200e+08,3.506900e+08,1.020830e+08,3.468820e+08
11,VI. L√£i/l·ªó thu·∫ßn t·ª´ ho·∫°t ƒë·ªông kh√°c,VI. Net other income,net_other_income,None,0,12,-1.526300e+07,8.127230e+08,1.823850e+08,7.259000e+07
12,"VII. Thu nh·∫≠p t·ª´ g√≥p v·ªën, mua c·ªï ph·∫ßn",VII. Income from capital contribution and long...,income_from_capital_contribution_and_long_term...,None,0,13,1.830700e+07,5.855600e+07,3.171000e+06,5.463000e+06
13,VIII. Chi ph√≠ ho·∫°t ƒë·ªông,VIII. Operating expenses,operating_expenses,None,0,14,2.713933e+09,2.736160e+09,2.691892e+09,2.739350e+09
14,IX. L·ª£i nhu·∫≠n thu·∫ßn t·ª´ ho·∫°t ƒë·ªông kinh doanh tr...,IX. Operating profit before provision for cred...,operating_profit_before_provision_for_credit_l...,None,0,15,5.670732e+09,6.556384e+09,5.222736e+09,5.818946e+09
15,X. Chi ph√≠ d·ª± ph√≤ng r·ªßi ro t√≠n d·ª•ng,X. Provision for credit losses,provision_for_credit_losses,None,0,16,2.889360e+08,4.630390e+08,6.261280e+08,1.476750e+08
16,XI. T·ªïng l·ª£i nhu·∫≠n tr∆∞·ªõc thu·∫ø (IX-X),XI. Profit before tax,profit_before_tax,None,0,17,5.381796e+09,6.093345e+09,4.596608e+09,5.671271e+09
17,7. Chi ph√≠ thu·∫ø TNDN hi·ªán h√†nh,7. Current corporate income tax expenses,current_corporate_income_tax_expenses,None,0,18,1.081502e+09,1.210700e+09,9.585510e+08,1.086127e+09
18,8. Chi ph√≠ thu·∫ø TNDN ho√£n l·∫°i,8. Deferred income tax expenses (*),deferred_income_tax_expenses_*,None,0,19,1.970500e+07,1.486000e+06,-4.020900e+07,3.978000e+07
19,XII. Chi ph√≠ thu·∫ø TNDN,XII. Corporate income tax,corporate_income_tax,None,0,20,1.101207e+09,1.212186e+09,9.183420e+08,1.125907e+09
20,XIII. L·ª£i nhu·∫≠n sau thu·∫ø (XI-XII),XIII. Net profit after tax,net_profit_after_tax,None,0,21,4.280589e+09,4.881159e+09,3.678266e+09,4.545364e+09
21,XIV. L·ª£i √≠ch c·ªßa c·ªï ƒë√¥ng thi·ªÉu s·ªë,XIV. Minority interest,minority_interest,None,0,22,NaN,NaN,NaN,NaN
22,XV. L·ª£i nhu·∫≠n sau thu·∫ø c·ªßa c·ªï ƒë√¥ng c·ªßa Ng√¢n h√†...,XV. Net profit atttributable to the equity hol...,net_profit_atttributable_to_the_equity_holders...,None,0,23,4.280589e+09,4.881159e+09,3.678266e+09,4.545364e+09
23,L√£i c∆° b·∫£n tr√™n c·ªï phi·∫øu (BCTC) (VN√ê),Earning per share (VND),earning_per_share_vnd,None,0,24,NaN,NaN,8.230000e+02,NaN

#### B√°o c√°o l∆∞u chuy·ªÉn ti·ªÅn t·ªá

In [ ]:
finance.cash_flow(period='year')

,item,item_en,item_id,unit,levels,row_number,2024,2023,2022,2021
0,L∆∞u chuy·ªÉn ti·ªÅn t·ª´ ho·∫°t ƒë·ªông kinh doanh,I. Cash flows from operating activities,cash_flows_from_operating_activities,None,0,58,NaN,NaN,NaN,NaN
1,1. Thu nh·∫≠p l√£i v√† c√°c kho·∫£n thu nh·∫≠p t∆∞∆°ng t·ª±...,1. Receipts from interest and similar income,receipts_from_interest_and_similar_income,None,0,59,5.023105e+10,5.215368e+10,3.978116e+10,3.418014e+10
2,2. Chi ph√≠ l√£i v√† c√°c chi ph√≠ t∆∞∆°ng t·ª± ƒë√£ tr·∫£,2. Payments for interest and similar expenses,payments_for_interest_and_similar_expenses,None,0,60,-2.373758e+10,-2.526284e+10,-1.623203e+10,-1.521985e+10
3,3. Thu nh·∫≠p t·ª´ ho·∫°t ƒë·ªông d·ªãch v·ª• nh·∫≠n ƒë∆∞·ª£c,3. Receipts from fee and commission income,receipts_from_fee_and_commission_income,None,0,61,2.672118e+09,2.357768e+09,3.526244e+09,2.893963e+09
4,4- Ch√™nh l·ªách s·ªë ti·ªÅn th·ª±c thu/th·ª±c chi t·ª´ ho·∫°...,4. Net cash inflow from trading activities in ...,net_cash_inflow_from_trading_activities_in_for...,None,0,62,1.822938e+09,3.882434e+09,7.971130e+08,1.184916e+09
5,5. Thu nh·∫≠p kh√°c,5. Receipts from other income,receipts_from_other_income,None,0,63,-1.640890e+08,-1.834000e+07,1.520490e+08,-9.496400e+07
6,"6. Ti·ªÅn thu c√°c kho·∫£n n·ª£ ƒë√£ ƒë∆∞·ª£c x·ª≠ l√Ω x√≥a, b√π...",6. Receipts from collection of debts written-o...,"receipts_from_collection_of_debts_written_off,...",None,0,64,7.409380e+08,8.801790e+08,7.868040e+08,2.159740e+08
7,7. Ti·ªÅn chi tr·∫£ cho nh√¢n vi√™n v√† ho·∫°t ƒë·ªông qu·∫£...,7. Payments for staff costs and operating expe...,payments_for_staff_costs_and_operating_expenses,None,0,65,-1.074714e+10,-1.056786e+10,-1.081731e+10,-8.551243e+09
8,8. Ti·ªÅn thu·∫ø thu nh·∫≠p th·ª±c n·ªôp trong k·ª≥,8. Corporate income tax paid for the period,corporate_income_tax_paid_for_the_period,None,0,66,-4.108348e+09,-4.003037e+09,-1.580115e+09,-2.282359e+09
9,L∆∞u chuy·ªÉn ti·ªÅn thu·∫ßn t·ª´ ho·∫°t ƒë·ªông kinh doanh ...,Cash flow from operating activities before cha...,cash_flow_from_operating_activities_before_cha...,None,0,67,1.670989e+10,1.942198e+10,1.641391e+10,1.232657e+10
10,Nh·ªØng thay ƒë·ªïi v·ªÅ t√†i s·∫£n ho·∫°t ƒë·ªông,Changes in operating assets,changes_in_operating_assets,None,0,68,NaN,NaN,NaN,NaN
11,"9. (TƒÉng)/Gi·∫£m c√°c kho·∫£n ti·ªÅn, v√†ng g·ª≠i v√† cho...",9. (Increase)/Decrease in placements with and ...,increase_decrease_in_placements_with_and_loans...,None,0,69,-5.521656e+09,1.273080e+08,2.848001e+09,1.756384e+09
12,10. (TƒÉng)/Gi·∫£m c√°c kho·∫£n v·ªÅ kinh doanh ch·ª©ng ...,10. (Increase)/Decrease in trading securities ...,increase_decrease_in_trading_securities_and_in...,None,0,70,-4.356137e+10,-3.695212e+09,-6.448600e+09,-4.789660e+08
13,11. (TƒÉng)/Gi·∫£m c√°c c√¥ng c·ª• t√†i ch√≠nh ph√°i sin...,11. (Increase)/Decrease in derivatives and oth...,increase_decrease_in_derivatives_and_other_fin...,None,0,71,-5.599200e+07,1.000720e+08,1.264730e+08,-1.720720e+08
14,12. (TƒÉng)/Gi·∫£m c√°c kho·∫£n cho vay kh√°ch h√†ng,12. (Increase)/Decrease in loans and advances ...,increase_decrease_in_loans_and_advances_to_cus...,None,0,72,-9.308440e+10,-7.389687e+10,-5.179371e+10,-5.043355e+10
15,13. Gi·∫£m ngu·ªìn d·ª± ph√≤ng ƒë·ªÉ b√π ƒë·∫Øp t·ªïn th·∫•t c√°c...,13. (Decrease)/Increase in provisions for damages,decrease_increase_in_provisions_for_damages,None,0,73,-2.328800e+08,-1.287015e+09,-1.032666e+09,-4.248850e+08
16,14. (TƒÉng)/Gi·∫£m kh√°c v·ªÅ t√†i s·∫£n ho·∫°t ƒë·ªông,14. (Increase)/Decrease in other operating ass...,increase_decrease_in_other_operating_assets,None,0,74,2.710100e+08,-5.024300e+07,-1.946491e+09,6.204040e+08
17,Nh·ªØng thay ƒë·ªïi v·ªÅ c√¥ng n·ª£ ho·∫°t ƒë·ªông,Changes in operating liabilities,changes_in_operating_liabilities,None,0,75,NaN,NaN,NaN,NaN
18,15. TƒÉng/(Gi·∫£m) c√°c kho·∫£n n·ª£ ch√≠nh ph·ªß v√† NHNN,15. Increase/(Decrease) in due to the Governme...,increase_decrease_in_due_to_the_government_and...,None,0,76,7.954765e+09,-5.057880e+08,5.058760e+08,NaN
19,"16. TƒÉng/(Gi·∫£m) c√°c kho·∫£n ti·ªÅn g·ª≠i, ti·ªÅn vay c...",16. Increase/(Decrease) in placements and borr...,increase_decrease_in_placements_and_borrowings...,None,0,77,2.208501e+10,2.166582e+10,1.344690e+10,3.051870e+10
20,17. TƒÉng/(Gi·∫£m) ti·ªÅn g·ª≠i c·ªßa kh√°ch h√†ng (bao g...,17. Increase/(Decrease) in deposit from custom...,increase_decrease_in_deposit_from_customers_in...,None,0,78,5.460185e+10,6.874994e+10,3.403212e+10,2.672483e+10
21,18. TƒÉng/(Gi·∫£m) ph√°t h√†nh gi·∫•y t·ªù c√≥ gi√° (ngo·∫°...,18. Increase/(Decrease) in valuable papers iss...,increase_decrease_in_valuable_papers_issued_ex...,None,0,79,4.923314e+10,8.099170e+09,1.374990e+10,1.135695e+10
22,"19. TƒÉng/(Gi·∫£m) v·ªën t√†i tr·ª£, ·ªßy th√°c ƒë·∫ßu t∆∞, c...",19. Increase/(Decrease) in funds received from...,increase_decrease_in_funds_received_from_gover...,None,0,80,-1.352600e+07,-1.865400e+07,-2.587800e+07,-3.063900e+07
23,20. TƒÉng/(Gi·∫£m) c√°c c√¥ng c·ª• t√†i ch√≠nh ph√°i sin...,20. Increase/(Decrease) in derivatives and oth...,increase_decrease_in_derivatives_and_other_fin...,None,0,81,-1.171260e+08,1.171260e+08,1.600161e+09,NaN
24,21. TƒÉng/(Gi·∫£m) kh√°c v·ªÅ c√¥ng n·ª£ ho·∫°t ƒë·ªông,21. Increase/(Decrease) in other operating lia...,increase_decrease_in_other_operating_liabilities,None,0,82,1.027680e+08,-1.689943e+09,-2.014630e+08,8.163652e+09
25,22. Chi t·ª´ c√°c qu·ªπ c·ªßa TCTD,22. Payments from reserves,payments_from_reserves,None,0,83,-1.249000e+06,-1.500000e+06,NaN,-1.483000e+06
26,I - L∆∞u chuy·ªÉn ti·ªÅn thu·∫ßn t·ª´ ho·∫°t ƒë·ªông kinh do...,Net cash flows from operating activities,net_cash_flows_from_operating_activities,None,0,84,8.370231e+09,3.713620e+10,2.127454e+10,3.992590e+10
27,L∆∞u chuy·ªÉn ti·ªÅn t·ª´ ho·∫°t ƒë·ªông ƒë·∫ßu t∆∞,II. Cash flows from investing activities,cash_flows_from_investing_activities,None,0,85,NaN,NaN,NaN,NaN
28,1. Mua s·∫Øm t√†i s·∫£n c·ªë ƒë·ªãnh,1. Purchase of fixed assets,purchase_of_fixed_assets,None,0,86,-9.197400e+08,-1.276249e+09,-5.115130e+08,-6.361000e+08
29,"2. Ti·ªÅn thu t·ª´ thanh l√Ω, nh∆∞·ª£ng b√°n TSCƒê",2. Receipts from disposal of fixed assets,receipts_from_disposal_of_fixed_assets,None,0,87,1.478650e+08,4.038000e+06,4.741000e+06,3.265000e+06
30,"3. Ti·ªÅn chi t·ª´ thanh l√Ω, nh∆∞·ª£ng b√°n TSCƒê",3. Payments for disposal of fixed assets,payments_for_disposal_of_fixed_assets,None,0,88,NaN,NaN,NaN,NaN
31,4. Mua s·∫Øm b·∫•t ƒë·ªông s·∫£n ƒë·∫ßu t∆∞,4. Purchase of investment properties,purchase_of_investment_properties,None,0,89,NaN,NaN,NaN,NaN
32,"5. Ti·ªÅn thu t·ª´ b√°n, thanh l√Ω b·∫•t ƒë·ªông s·∫£n ƒë·∫ßu t∆∞",5. Receipts from disposal of investment proper...,receipts_from_disposal_of_investment_properties,None,0,90,NaN,NaN,8.536400e+07,1.484530e+08
33,"6. Ti·ªÅn chi ra do b√°n, thanh l√Ω b·∫•t ƒë·ªông s·∫£n ƒë...",6. Payments for disposal of investment properties,payments_for_disposal_of_investment_properties,None,0,91,NaN,NaN,NaN,NaN
34,"7. Ti·ªÅn chi ƒë·∫ßu t∆∞, g√≥p v·ªën v√†o c√°c ƒë∆°n v·ªã kh√°...",7. Payments for investment in other entities,payments_for_investment_in_other_entities,None,0,92,NaN,NaN,-1.052000e+07,NaN
35,"8. Ti·ªÅn thu ƒë·∫ßu t∆∞, g√≥p v·ªën v√†o c√°c ƒë∆°n v·ªã kh√°...",8. Collections on investment in other entities,collections_on_investment_in_other_entities,None,0,93,3.507000e+06,NaN,6.451000e+06,NaN
36,9. Ti·ªÅn thu c·ªï t·ª©c v√† l·ª£i nhu·∫≠n ƒë∆∞·ª£c chia t·ª´ c...,9. Dividends and profit received,dividends_and_profit_received,None,0,94,3.505800e+07,7.495500e+07,5.959900e+07,2.197900e+07
37,II- L∆∞u chuy·ªÉn ti·ªÅn thu·∫ßn t·ª´ ho·∫°t ƒë·ªông ƒë·∫ßu t∆∞,Net cash flows from investing activities,net_cash_flows_from_investing_activities,None,0,95,-7.333100e+08,-1.197256e+09,-3.658780e+08,-4.624030e+08
38,L∆∞u chuy·ªÉn ti·ªÅn t·ª´ ho·∫°t ƒë·ªông t√†i ch√≠nh,III. Cash flows from financing activities,cash_flows_from_financing_activities,None,0,96,NaN,NaN,NaN,NaN
39,1. TƒÉng v·ªën c·ªï ph·∫ßn t·ª´ g√≥p v·ªën v√†/ho·∫∑c ph√°t h√†...,1. Receipts from equity issue and owner's capi...,receipts_from_equity_issue_and_owner's_capital...,None,0,97,NaN,NaN,NaN,NaN
40,2. Ti·ªÅn thu t·ª´ ph√°t h√†nh gi·∫•y t·ªù c√≥ gi√° d√†i h·∫°...,2. Receipts from issue of valuable papers qual...,receipts_from_issue_of_valuable_papers_qualifi...,None,0,98,NaN,NaN,NaN,NaN
41,3. Ti·ªÅn chi thanh to√°n gi·∫•y t·ªù c√≥ gi√° d√†i h·∫°n ...,3. Payments for issue of valuable papers quali...,payments_for_issue_of_valuable_papers_qualifie...,None,0,99,NaN,NaN,NaN,-2.884000e+09
42,"4. C·ªï t·ª©c tr·∫£ cho c·ªï ƒë√¥ng, l·ª£i nhu·∫≠n ƒë√£ chia","4. Dividends paid, profits distributed to owners","dividends_paid,_profits_distributed_to_owners",None,0,100,-3.884051e+09,-3.377435e+09,NaN,NaN
43,5. Ti·ªÅn chi ra mua c·ªï phi·∫øu qu·ªπ,5. Payments for purchase of treasury shares,payments_for_purchase_of_treasury_shares,None,0,101,NaN,NaN,NaN,NaN
44,6. Ti·ªÅn thu ƒë∆∞·ª£c do b√°n c·ªï phi·∫øu qu·ªπ,6. Receipts from disposal of treasury shares,receipts_from_disposal_of_treasury_shares,None,0,102,NaN,NaN,NaN,NaN
45,III- L∆∞u chuy·ªÉn ti·ªÅn thu·∫ßn t·ª´ ho·∫°t ƒë·ªông t√†i ch√≠nh,Net cash flows from financing activities,net_cash_flows_from_financing_activities,None,0,103,-3.884051e+09,-3.377435e+09,NaN,-2.884000e+09
46,IV- L∆∞u chuy·ªÉn ti·ªÅn thu·∫ßn trong k·ª≥,Net cash flows during the period,net_cash_flows_during_the_period,None,0,104,3.752870e+09,3.256151e+10,2.090866e+10,3.657950e+10
47,V- Ti·ªÅn v√† c√°c kho·∫£n t∆∞∆°ng ƒë∆∞∆°ng ti·ªÅn t·∫°i th·ªùi...,Cash and cash equivalents at beginning of the ...,cash_and_cash_equivalents_at_beginning_of_the_...,None,0,105,1.360717e+11,1.035102e+11,8.260157e+10,4.602207e+10
48,VI- ƒêi·ªÅu ch·ªânh ·∫£nh h∆∞·ªüng c·ªßa thay ƒë·ªïi t·ª∑ gi√°,Exchange difference due to re-valuation of end...,exchange_difference_due_to_re_valuation_of_end...,None,0,106,NaN,NaN,NaN,NaN
49,VII. Ti·ªÅn v√† c√°c kho·∫£n t∆∞∆°ng ƒë∆∞∆°ng ti·ªÅn t·∫°i th...,Cash and cash equivalents at end of the period,cash_and_cash_equivalents_at_end_of_the_period,None,0,107,1.398246e+11,1.360717e+11,1.035102e+11,8.260157e+10

In [ ]:
finance.income_statement(period='quarter')

,item,item_en,item_id,unit,levels,row_number,2025-Q3,2025-Q2,2025-Q1,2024-Q4
0,1. Thu nh·∫≠p l√£i v√† c√°c kho·∫£n thu nh·∫≠p t∆∞∆°ng t·ª±,1. Interest income and similar income,interest_income_and_similar_income,None,0,1,1.504940e+10,1.429870e+10,1.332731e+10,1.351838e+10
1,2. Chi ph√≠ l√£i v√† c√°c chi ph√≠ t∆∞∆°ng t·ª±,2. Interest expense and similar expenses,interest_expense_and_similar_expenses,None,0,2,8.279694e+09,7.614847e+09,6.968441e+09,6.438085e+09
2,I. Thu nh·∫≠p l√£i thu·∫ßn,I. Net interest income,net_interest_income,None,0,3,6.769710e+09,6.683848e+09,6.358865e+09,7.080291e+09
3,3. Thu nh·∫≠p t·ª´ ho·∫°t ƒë·ªông d·ªãch v·ª•,3. Fee and commission income,fee_and_commission_income,None,0,4,1.317755e+09,1.102158e+09,1.394280e+09,1.435715e+09
4,4. Chi ph√≠ ho·∫°t ƒë·ªông d·ªãch v·ª•,4. Fee and commission expenses,fee_and_commission_expenses,None,0,5,5.223300e+08,5.174270e+08,5.219670e+08,5.668900e+08
5,II. L√£i/l·ªó thu·∫ßn t·ª´ ho·∫°t ƒë·ªông d·ªãch v·ª•,II. Net fee and commission income,net_fee_and_commission_income,None,0,6,7.954250e+08,5.847310e+08,8.723130e+08,8.688250e+08
6,III. L√£i/l·ªó thu·∫ßn t·ª´ ho·∫°t ƒë·ªông kinh doanh ngo·∫°...,III. Net gain/(loss) from foreign currencies a...,net_gain_loss_from_foreign_currencies_and_gold...,None,0,7,4.491500e+08,6.700050e+08,4.755900e+08,3.441670e+08
7,IV. L√£i/l·ªó thu·∫ßn t·ª´ mua b√°n ch·ª©ng kho√°n kinh d...,IV. Net gain/(loss) from trading securities,net_gain_loss_from_trading_securities,None,0,8,3.673660e+08,3.659000e+07,2.379900e+07,-2.609000e+07
8,V. L√£i/l·ªó thu·∫ßn t·ª´ mua b√°n ch·ª©ng kho√°n ƒë·∫ßu t∆∞,V. Net gain/(loss) from investment securities,net_gain_loss_from_investment_securities,None,0,9,-3.000000e+04,4.460910e+08,-1.495000e+06,2.130500e+08
9,5. Thu nh·∫≠p t·ª´ ho·∫°t ƒë·ªông kh√°c,5. Other income,other_income,None,0,10,3.706570e+08,1.163413e+09,2.844680e+08,4.194720e+08
10,6. Chi ph√≠ ho·∫°t ƒë·ªông kh√°c,6. Other expenses,other_expenses,None,0,11,3.859200e+08,3.506900e+08,1.020830e+08,3.468820e+08
11,VI. L√£i/l·ªó thu·∫ßn t·ª´ ho·∫°t ƒë·ªông kh√°c,VI. Net other income,net_other_income,None,0,12,-1.526300e+07,8.127230e+08,1.823850e+08,7.259000e+07
12,"VII. Thu nh·∫≠p t·ª´ g√≥p v·ªën, mua c·ªï ph·∫ßn",VII. Income from capital contribution and long...,income_from_capital_contribution_and_long_term...,None,0,13,1.830700e+07,5.855600e+07,3.171000e+06,5.463000e+06
13,VIII. Chi ph√≠ ho·∫°t ƒë·ªông,VIII. Operating expenses,operating_expenses,None,0,14,2.713933e+09,2.736160e+09,2.691892e+09,2.739350e+09
14,IX. L·ª£i nhu·∫≠n thu·∫ßn t·ª´ ho·∫°t ƒë·ªông kinh doanh tr...,IX. Operating profit before provision for cred...,operating_profit_before_provision_for_credit_l...,None,0,15,5.670732e+09,6.556384e+09,5.222736e+09,5.818946e+09
15,X. Chi ph√≠ d·ª± ph√≤ng r·ªßi ro t√≠n d·ª•ng,X. Provision for credit losses,provision_for_credit_losses,None,0,16,2.889360e+08,4.630390e+08,6.261280e+08,1.476750e+08
16,XI. T·ªïng l·ª£i nhu·∫≠n tr∆∞·ªõc thu·∫ø (IX-X),XI. Profit before tax,profit_before_tax,None,0,17,5.381796e+09,6.093345e+09,4.596608e+09,5.671271e+09
17,7. Chi ph√≠ thu·∫ø TNDN hi·ªán h√†nh,7. Current corporate income tax expenses,current_corporate_income_tax_expenses,None,0,18,1.081502e+09,1.210700e+09,9.585510e+08,1.086127e+09
18,8. Chi ph√≠ thu·∫ø TNDN ho√£n l·∫°i,8. Deferred income tax expenses (*),deferred_income_tax_expenses_*,None,0,19,1.970500e+07,1.486000e+06,-4.020900e+07,3.978000e+07
19,XII. Chi ph√≠ thu·∫ø TNDN,XII. Corporate income tax,corporate_income_tax,None,0,20,1.101207e+09,1.212186e+09,9.183420e+08,1.125907e+09
20,XIII. L·ª£i nhu·∫≠n sau thu·∫ø (XI-XII),XIII. Net profit after tax,net_profit_after_tax,None,0,21,4.280589e+09,4.881159e+09,3.678266e+09,4.545364e+09
21,XIV. L·ª£i √≠ch c·ªßa c·ªï ƒë√¥ng thi·ªÉu s·ªë,XIV. Minority interest,minority_interest,None,0,22,NaN,NaN,NaN,NaN
22,XV. L·ª£i nhu·∫≠n sau thu·∫ø c·ªßa c·ªï ƒë√¥ng c·ªßa Ng√¢n h√†...,XV. Net profit atttributable to the equity hol...,net_profit_atttributable_to_the_equity_holders...,None,0,23,4.280589e+09,4.881159e+09,3.678266e+09,4.545364e+09
23,L√£i c∆° b·∫£n tr√™n c·ªï phi·∫øu (BCTC) (VN√ê),Earning per share (VND),earning_per_share_vnd,None,0,24,NaN,NaN,8.230000e+02,NaN

#### Ch·ªâ s·ªë t√†i ch√≠nh

In [ ]:
finance.ratio(period='year')

,item,item_en,item_id,unit,levels,row_number,2024,2023,2022,2021
0,Thu nh·∫≠p tr√™n m·ªói c·ªï ph·∫ßn c·ªßa 4 qu√Ω g·∫ßn nh·∫•t (...,Trailing EPS,trailing_eps,VNƒê,0,1,3974.57,4368.94,4441.71,3900.36
1,Gi√° tr·ªã s·ªï s√°ch c·ªßa c·ªï phi·∫øu (BVPS),Book value per share (BVPS),book_value_per_share_bvps,VNƒê,0,2,18685.49,18268.55,17302.68,16617.98
2,Ch·ªâ s·ªë gi√° th·ªã tr∆∞·ªùng tr√™n thu nh·∫≠p (P/E),P/E,p_e,L·∫ßn,0,3,6.49,5.47,4.93,8.85
3,Ch·ªâ s·ªë gi√° th·ªã tr∆∞·ªùng tr√™n gi√° tr·ªã s·ªï s√°ch (P/B),P/B,p_b,L·∫ßn,0,4,1.38,1.31,1.27,2.08
4,T·ª∑ su·∫•t c·ªï t·ª©c,Dividend yield,dividend_yield,%,0,5,0.04,0.04,0.00,0.00
5,Beta,Beta,beta,L·∫ßn,0,6,0.88,1.01,1.07,0.56
6,T·ª∑ su·∫•t l·ª£i nhu·∫≠n tr√™n v·ªën ch·ªß s·ªü h·ªØu b√¨nh qu√¢...,ROE,roe,%,0,7,21.75,24.80,26.49,23.90
7,T·ª∑ su·∫•t sinh l·ª£i tr√™n t·ªïng t√†i s·∫£n b√¨nh qu√¢n (...,ROA,roa,%,0,8,2.12,2.42,2.41,1.98
8,T·ª∑ su·∫•t sinh l·ª£i c·ªßa T√†i s·∫£n C√≥ sinh l√£i (YOEA),Yield on earning assets (YOEA),yield_on_earning_assets_yoea,%,0,9,6.61,8.16,7.45,7.27
9,T·ª∑ l·ªá chi ph√≠ h√¨nh th√†nh T√†i s·∫£n C√≥ sinh l√£i (...,Cost of funding earning assets (COF),cost_of_funding_earning_assets_cof,%,0,10,3.34,4.76,3.46,3.42
10,T·ª∑ l·ªá thu nh·∫≠p l√£i thu·∫ßn (NIM),Net interest margin (NIM),net_interest_margin_nim,%,0,11,3.61,3.89,4.31,4.09
11,T·ª∑ l·ªá chi ph√≠ ho·∫°t ƒë·ªông/T·ªïng thu nh·∫≠p HƒêKD tr∆∞...,Cost Income Ratio (CIR),cost_income_ratio_cir,%,0,12,32.53,33.21,40.31,34.93
12,ROE b√¨nh qu√¢n 4 qu√Ω g·∫ßn nh·∫•t,ROE Trailling,roe_trailling,%,0,13,0.00,0.00,0.00,0.00
13,ROA b√¨nh qu√¢n 4 qu√Ω g·∫ßn nh·∫•t,ROA Trailling,roa_trailling,%,0,14,0.00,0.00,0.00,0.00
14,TƒÉng tr∆∞·ªüng l·ª£i nhu·∫≠n tr∆∞·ªõc thu·∫ø,Profit before tax,profit_before_tax,%,0,15,4.67,17.26,42.64,25.03
15,TƒÉng tr∆∞·ªüng l·ª£i nhu·∫≠n sau thu·∫ø c·ªßa Cƒê ng√¢n haÃÄ...,Profit after tax for shareholders of the paren...,profit_after_tax_for_shareholders_of_the_paren...,%,0,16,4.64,17.22,42.54,24.99
16,TƒÉng tr∆∞·ªüng t·ªïng t√†i s·∫£n,Total assets,total_assets,%,0,17,20.20,18.25,15.18,18.73
17,TƒÉng tr∆∞·ªüng v·ªën ch·ªß s·ªü h·ªØu,Owner's equity,owner's_equity,%,0,18,17.62,21.42,30.15,26.67
18,TƒÉng tr∆∞·ªüng v·ªën ƒëi·ªÅu l·ªá,Charter capital,charter_capital,%,0,19,15.00,15.00,25.00,25.00
19,TƒÉng tr∆∞·ªüng d∆∞ n·ª£ cho vay,Deposits from customers,deposits_from_customers,%,0,20,19.09,17.86,14.31,16.19
20,TƒÉng tr∆∞·ªüng huy ƒë·ªông v·ªën kh√°ch h√†ng,Deposits from customers,deposits_from_customers,%,0,21,11.31,16.61,8.96,7.57
21,TƒÉng tr∆∞·ªüng thu nh·∫≠p l√£i thu·∫ßn,Net interest income,net_interest_income,%,0,22,11.36,6.06,24.22,29.92
22,TƒÉng tr∆∞·ªüng d·ª± ph√≤ng r·ªßi ro t√≠n d·ª•ng,Provisions for loan losses,provisions_for_loan_losses,%,0,23,25.34,10.56,-16.41,98.67
23,TƒÉng tr∆∞·ªüng thu ph√≠ d·ªãch v·ª• thu·∫ßn,Net fee and commission income,net_fee_and_commission_income,%,0,24,10.83,-17.13,21.85,70.77
24,TƒÉng tr∆∞·ªüng t·ªïng thu nh·∫≠p HƒêKD tr∆∞·ªõc d·ª± ph√≤ng,Operating profit before provision for credit l...,operating_profit_before_provision_for_credit_l...,%,0,25,3.38,27.27,12.07,45.53
25,TƒÉng tr∆∞·ªüng t·ªïng chi ph√≠ HƒêKD,Operating expenses,operating_expenses,%,0,26,0.26,-6.30,41.01,7.94
26,D∆∞ n·ª£ cho vay kh√°ch h√†ng/T·ªïng v·ªën huy ƒë·ªông (LDR),Outstanding loans/Customer deposits,outstanding_loans_customer_deposits,%,0,27,76.56,78.06,78.56,77.85
27,D∆∞ n·ª£ cho vay/T·ªïng t√†i s·∫£n C√≥,Outstanding loans/Total assets,outstanding_loans_total_assets,%,0,28,67.21,67.84,68.06,68.57
28,V·ªën ch·ªß s·ªü h·ªØu/T·ªïng v·ªën huy ƒë·ªông,Equity/Deposits from customers,equity_deposits_from_customers,%,0,29,11.00,11.36,11.10,0.00
29,V·ªën ch·ªß s·ªü h·ªØu/T·ªïng t√†i s·∫£n C√≥,Equity/Total assets,equity_total_assets,%,0,30,9.66,9.87,9.61,8.51
30,D·ª± ph√≤ng r·ªßi ro t√≠n d·ª•ng/T·ªïng d∆∞ n·ª£,Loan loss provision ratio,loan_loss_provision_ratio,%,0,31,-0.01,-0.01,-0.01,-0.02
31,T√†i s·∫£n C√≥ sinh l√£i/T·ªïng t√†i s·∫£n C√≥,Earning assets/Total assets,earning_assets_total_assets,%,0,32,97.79,96.62,96.88,95.41

In [ ]:
finance.ratio(period='quarter')

,item,item_en,item_id,unit,levels,row_number,2025-Q3,2025-Q2,2025-Q1,2024-Q4
0,Thu nh·∫≠p tr√™n m·ªói c·ªï ph·∫ßn c·ªßa 4 qu√Ω g·∫ßn nh·∫•t (...,Trailing EPS,trailing_eps,VNƒê,0,1,3730.45,3782.19,3797.57,3974.57
1,Gi√° tr·ªã s·ªï s√°ch c·ªßa c·ªï phi·∫øu (BVPS),Book value per share (BVPS),book_value_per_share_bvps,VNƒê,0,2,17796.69,16978.09,19494.35,18685.49
2,Ch·ªâ s·ªë gi√° th·ªã tr∆∞·ªùng tr√™n thu nh·∫≠p (P/E),P/E,p_e,L·∫ßn,0,3,6.84,5.63,6.85,6.49
3,Ch·ªâ s·ªë gi√° th·ªã tr∆∞·ªùng tr√™n gi√° tr·ªã s·ªï s√°ch (P/B),P/B,p_b,L·∫ßn,0,4,1.43,1.25,1.33,1.38
4,T·ª∑ su·∫•t c·ªï t·ª©c,Dividend yield,dividend_yield,%,0,5,0.04,0.05,0.04,0.04
5,Beta,Beta,beta,L·∫ßn,0,6,0.91,0.85,0.82,0.88
6,T·ª∑ su·∫•t l·ª£i nhu·∫≠n tr√™n v·ªën ch·ªß s·ªü h·ªØu b√¨nh qu√¢...,ROE,roe,%,0,7,4.79,5.60,4.31,5.60
7,T·ª∑ su·∫•t sinh l·ª£i tr√™n t·ªïng t√†i s·∫£n b√¨nh qu√¢n (...,ROA,roa,%,0,8,0.45,0.53,0.42,0.55
8,T·ª∑ su·∫•t sinh l·ª£i c·ªßa T√†i s·∫£n C√≥ sinh l√£i (YOEA),Yield on earning assets (YOEA),yield_on_earning_assets_yoea,%,0,9,1.63,1.57,1.53,1.60
9,T·ª∑ l·ªá chi ph√≠ h√¨nh th√†nh T√†i s·∫£n C√≥ sinh l√£i (...,Cost of funding earning assets (COF),cost_of_funding_earning_assets_cof,%,0,10,1.00,0.95,0.90,0.90
10,T·ª∑ l·ªá thu nh·∫≠p l√£i thu·∫ßn (NIM),Net interest margin (NIM),net_interest_margin_nim,%,0,11,0.73,0.73,0.73,0.84
11,T·ª∑ l·ªá chi ph√≠ ho·∫°t ƒë·ªông/T·ªïng thu nh·∫≠p HƒêKD tr∆∞...,Cost Income Ratio (CIR),cost_income_ratio_cir,%,0,12,32.37,29.44,34.01,32.01
12,ROE b√¨nh qu√¢n 4 qu√Ω g·∫ßn nh·∫•t,ROE Trailling,roe_trailling,%,0,13,19.92,20.17,20.44,21.53
13,ROA b√¨nh qu√¢n 4 qu√Ω g·∫ßn nh·∫•t,ROA Trailling,roa_trailling,%,0,14,1.91,1.96,2.01,2.14
14,TƒÉng tr∆∞·ªüng l·ª£i nhu·∫≠n tr∆∞·ªõc thu·∫ø,Profit before tax,profit_before_tax,%,0,15,11.10,8.84,-6.04,12.45
15,TƒÉng tr∆∞·ªüng l·ª£i nhu·∫≠n sau thu·∫ø c·ªßa Cƒê ng√¢n haÃÄ...,Profit after tax for shareholders of the paren...,profit_after_tax_for_shareholders_of_the_paren...,%,0,16,10.60,9.23,-5.82,13.46
16,TƒÉng tr∆∞·ªüng t·ªïng t√†i s·∫£n,Total assets,total_assets,%,0,17,22.02,21.29,22.60,20.20
17,TƒÉng tr∆∞·ªüng v·ªën ch·ªß s·ªü h·ªØu,Owner's equity,owner's_equity,%,0,18,15.93,16.60,16.42,17.62
18,TƒÉng tr∆∞·ªüng v·ªën ƒëi·ªÅu l·ªá,Charter capital,charter_capital,%,0,19,15.00,15.00,15.00,15.00
19,TƒÉng tr∆∞·ªüng d∆∞ n·ª£ cho vay,Deposits from customers,deposits_from_customers,%,0,20,20.59,15.19,18.31,19.09
20,TƒÉng tr∆∞·ªüng huy ƒë·ªông v·ªën kh√°ch h√†ng,Deposits from customers,deposits_from_customers,%,0,21,11.50,10.89,11.68,11.31
21,TƒÉng tr∆∞·ªüng thu nh·∫≠p l√£i thu·∫ßn,Net interest income,net_interest_income,%,0,22,-1.62,-6.01,-5.40,12.57
22,TƒÉng tr∆∞·ªüng d·ª± ph√≤ng r·ªßi ro t√≠n d·ª•ng,Provisions for loan losses,provisions_for_loan_losses,%,0,23,1.26,-4.64,-6.10,1.17
23,TƒÉng tr∆∞·ªüng thu ph√≠ d·ªãch v·ª• thu·∫ßn,Net fee and commission income,net_fee_and_commission_income,%,0,24,6.46,-33.37,17.06,19.46
24,TƒÉng tr∆∞·ªüng t·ªïng thu nh·∫≠p HƒêKD tr∆∞·ªõc d·ª± ph√≤ng,Operating profit before provision for credit l...,operating_profit_before_provision_for_credit_l...,%,0,25,9.00,5.98,-3.36,8.46
25,TƒÉng tr∆∞·ªüng t·ªïng chi ph√≠ HƒêKD,Operating expenses,operating_expenses,%,0,26,-7.49,10.97,-2.61,-9.09
26,D∆∞ n·ª£ cho vay kh√°ch h√†ng/T·ªïng v·ªën huy ƒë·ªông (LDR),Outstanding loans/Customer deposits,outstanding_loans_customer_deposits,%,0,27,80.21,76.89,76.34,76.56
27,D∆∞ n·ª£ cho vay/T·ªïng t√†i s·∫£n C√≥,Outstanding loans/Total assets,outstanding_loans_total_assets,%,0,28,70.55,67.89,67.16,67.21
28,V·ªën ch·ªß s·ªü h·ªØu/T·ªïng v·ªën huy ƒë·ªông,Equity/Deposits from customers,equity_deposits_from_customers,%,0,29,0.11,0.11,0.11,0.11
29,V·ªën ch·ªß s·ªü h·ªØu/T·ªïng t√†i s·∫£n C√≥,Equity/Total assets,equity_total_assets,%,0,30,9.64,9.34,9.77,9.66
30,D·ª± ph√≤ng r·ªßi ro t√≠n d·ª•ng/T·ªïng d∆∞ n·ª£,Loan loss provision ratio,loan_loss_provision_ratio,%,0,31,-0.01,-0.01,-0.01,-0.01
31,T√†i s·∫£n C√≥ sinh l√£i/T·ªïng t√†i s·∫£n C√≥,Earning assets/Total assets,earning_assets_total_assets,%,0,32,97.31,97.52,97.75,97.79

### VCI

In [ ]:
from vnstock import Finance
finance = Finance(symbol='ACB', source='VCI')

#### B·∫£ng c√¢n ƒë·ªëi k·∫ø to√°n

In [ ]:
finance.balance_sheet(period='year', lang='vi', dropna=True)

,CP,NƒÉm,T·ªîNG C·ªòNG T√ÄI S·∫¢N (ƒë·ªìng),Ti·ªÅn v√† t∆∞∆°ng ƒë∆∞∆°ng ti·ªÅn (ƒë·ªìng),Ti·ªÅn g·ª≠i t·∫°i ng√¢n h√†ng nh√† n∆∞·ªõc Vi·ªát Nam,Ti·ªÅn g·ª≠i t·∫°i c√°c TCTD kh√°c v√† cho vay c√°c TCTD kh√°c,Ch·ª©ng kho√°n kinh doanh,_Ch·ª©ng kho√°n kinh doanh,D·ª± ph√≤ng gi·∫£m gi√° ch·ª©ng kho√°n kinh doanh,C√°c c√¥ng c·ª• t√†i ch√≠nh ph√°i sinh v√† kho·∫£n n·ª£ t√†i ch√≠nh kh√°c,...,Ti·ªÅn g·ª≠i c·ªßa kh√°ch h√†ng,_C√°c c√¥ng c·ª• t√†i ch√≠nh ph√°i sinh v√† kho·∫£n n·ª£ t√†i ch√≠nh kh√°c,"V·ªën t√†i tr·ª£, u·ª∑ th√°c ƒë·∫ßu t∆∞ c·ªßa CP v√† c√°c t·ªï ch·ª©c TD kh√°c",Ph√°t h√†nh gi·∫•y t·ªù c√≥ gi√°,C√°c kho·∫£n n·ª£ kh√°c,V·ªêN CH·ª¶ S·ªû H·ªÆU (ƒë·ªìng),V·ªën c·ªßa t·ªï ch·ª©c t√≠n d·ª•ng,Qu·ªπ c·ªßa t·ªï ch·ª©c t√≠n d·ª•ng,L√£i ch∆∞a ph√¢n ph·ªëi (ƒë·ªìng),V·ªën g√≥p c·ªßa ch·ªß s·ªü h·ªØu (ƒë·ªìng)
0,ACB,2024,864005703000000,5696449000000,25219753000000,117882259000000,3881151000000,4029088000000,-147937000000,55992000000,...,537304578000000,0,28008000000,101650446000000,22014472000000,83461678000000,44938358000000,14789568000000,23733752000000,44666579000000
1,ACB,2023,718794589000000,6909300000000,18504814000000,114873931000000,7177069000000,7323489000000,-146420000000,0,...,482702731000000,117126000000,41534000000,52410014000000,23060473000000,70955961000000,39112283000000,11557435000000,20286243000000,38840504000000
2,ACB,2022,607875185000000,8460892000000,13657531000000,85971313000000,1131327000000,1320941000000,-189614000000,100072000000,...,413952789000000,0,60188000000,44304367000000,22772462000000,58438663000000,34046130000000,9220125000000,15172408000000,33774351000000
3,ACB,2021,527769944000000,7509877000000,32349574000000,49818776000000,11259731000000,11325371000000,-65640000000,226545000000,...,379920669000000,0,86066000000,30547883000000,17920478000000,44900909000000,27291260000000,7164297000000,10445352000000,27019481000000
4,ACB,2020,444530104000000,6967918000000,16616798000000,31671245000000,6167917000000,6285763000000,-117846000000,54473000000,...,353195838000000,0,116705000000,22049697000000,9844459000000,35448163000000,21887364000000,5741759000000,7819040000000,21615585000000
5,ACB,2019,383514439000000,6437812000000,10420306000000,30341599000000,2985262000000,3145903000000,-160641000000,87753000000,...,308129391000000,0,156147000000,20830836000000,7384134000000,27765359000000,16799171000000,4595902000000,6370286000000,16627373000000
6,ACB,2018,329333241000000,6129169000000,10683536000000,18769776000000,1177972000000,1339157000000,-161185000000,0,...,269998503000000,38198000000,160093000000,8290918000000,6035148000000,21017899000000,12220152000000,3693069000000,5104678000000,12885877000000
7,ACB,2017,284316123000000,4851710000000,8314574000000,8941727000000,1236555000000,1239991000000,-3436000000,0,...,241392932000000,10491000000,136466000000,6761000000000,4530641000000,16030847000000,9607514000000,2913780000000,3509553000000,10273239000000
8,ACB,2016,233680877000000,3541388000000,5119306000000,8152027000000,1183306000000,1211314000000,-28008000000,16065000000,...,207051269000000,0,122697000000,6615000000000,3594080000000,14062716000000,8711240000000,2590181000000,2761295000000,9376965000000
9,ACB,2015,201456985000000,2806088000000,4608680000000,10122200000000,100457000000,103034000000,-2577000000,47603000000,...,174918997000000,0,161678000000,3075000000000,2901457000000,12787542000000,8711240000000,2374178000000,1702124000000,9376965000000
10,ACB,2014,179609771000000,2496287000000,3357730000000,4559007000000,1105122000000,1108232000000,-3110000000,14403000000,...,154613588000000,0,188155000000,3078000000000,3187487000000,12397303000000,8711841000000,2207666000000,1477796000000,9376965000000
11,ACB,2013,166598989000000,2043490000000,3065322000000,7215519000000,851161000000,1078309000000,-227148000000,150000000,...,138110836000000,0,363345000000,3500000000000,2743684000000,12504202000000,9117544000000,2034952000000,1351706000000,9376965000000
12,ACB,2011,281019319000000,8709990000000,5075817000000,81274021000000,850459000000,1048787000000,-198328000000,1016447000000,...,142218091000000,0,332318000000,50708499000000,34556973000000,11959092000000,9376965000000,1753237000000,828890000000,9376965000000
13,ACB,2010,205102950000000,10884762000000,2914353000000,33961250000000,978355000000,1167950000000,-189595000000,78172000000,...,106936611000000,0,379768000000,38234151000000,10594023000000,11376757000000,9376965000000,1209552000000,790240000000,9376965000000

In [ ]:
finance.balance_sheet(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,TOTAL ASSETS (Bn. VND),Cash and cash equivalents (Bn. VND),Balances with the SBV,Placements with and loans to other credit institutions,"Trading Securities, net",Trading Securities,Provision for diminution in value of Trading Securities,...,"Funds received from Gov, international and other institutions",Convertible bonds/CDs and other valuable papers issued,Other liabilities,OWNER'S EQUITY(Bn.VND),Capital,Reserves,Foreign Currency Difference reserve,Undistributed earnings (Bn. VND),Paid-in capital (Bn. VND),MINORITY INTERESTS
0,ACB,2025,3,948549176000000,6785568000000,15197467000000,104925948000000,5918486000000,6072639000000,-154153000000,...,22456000000,113387071000000,22703870000000,91415500000000,51638345000000,14789568000000,-319534000000,25307121000000,51366566000000,0
1,ACB,2025,2,933541420000000,6666091000000,5439937000000,125447269000000,4958406000000,5160049000000,-201643000000,...,24547000000,139552843000000,21741640000000,87210629000000,51638345000000,14789568000000,-243816000000,21026532000000,51366566000000,0
2,ACB,2025,1,891674563000000,5857654000000,13457514000000,129347480000000,4307534000000,4479661000000,-172127000000,...,26725000000,114051801000000,20047729000000,87074577000000,44938358000000,14789568000000,-65367000000,27412018000000,44666579000000,0
3,ACB,2024,4,864005703000000,5696449000000,25219753000000,117882259000000,3881151000000,4029088000000,-147937000000,...,28008000000,101650446000000,22014472000000,83461678000000,44938358000000,14789568000000,0,23733752000000,44666579000000,0
4,ACB,2024,3,777392922000000,5870526000000,8392393000000,92090423000000,6965867000000,7059448000000,-93581000000,...,31641000000,90366104000000,22478444000000,78854261000000,44938358000000,11557435000000,-62053000000,22420521000000,44666579000000,0

#### B√°o c√°o k·∫øt qu·∫£ kinh doanh

In [ ]:
finance.income_statement(period='year', lang='vi', dropna=True).head()

,CP,NƒÉm,Doanh thu (ƒë·ªìng),TƒÉng tr∆∞·ªüng doanh thu (%),L·ª£i nhu·∫≠n sau thu·∫ø c·ªßa C·ªï ƒë√¥ng c√¥ng ty m·∫π (ƒë·ªìng),TƒÉng tr∆∞·ªüng l·ª£i nhu·∫≠n (%),Thu nh·∫≠p l√£i v√† c√°c kho·∫£n t∆∞∆°ng t·ª±,Chi ph√≠ l√£i v√† c√°c kho·∫£n t∆∞∆°ng t·ª±,Thu nh·∫≠p l√£i thu·∫ßn,Thu nh·∫≠p t·ª´ ho·∫°t ƒë·ªông d·ªãch v·ª•,...,Chi ph√≠ qu·∫£n l√Ω DN,LN t·ª´ HƒêKD tr∆∞·ªõc CF d·ª± ph√≤ng,Chi ph√≠ d·ª± ph√≤ng r·ªßi ro t√≠n d·ª•ng,LN tr∆∞·ªõc thu·∫ø,Thu·∫ø TNDN,Chi ph√≠ thu·∫ø TNDN hi·ªán h√†nh,Chi ph√≠ thu·∫ø TNDN ho√£n l·∫°i,L·ª£i nhu·∫≠n thu·∫ßn,C·ªï ƒë√¥ng c·ªßa C√¥ng ty m·∫π,L√£i c∆° b·∫£n tr√™n c·ªï phi·∫øu
0,ACB,2024,50902749000000,-0.027586,16789768000000,0.046435,50902749000000,-23108047000000,27794702000000,5464958000000,...,-10902603000000,22612156000000,-1606285000000,21005871000000,-4216103000000,-4199699000000,-16404000000,16789768000000,16789768000000,3669
1,ACB,2023,52346796000000,0.286199,16044733000000,0.172159,52346796000000,-27387226000000,24959570000000,4945751000000,...,-10874286000000,21872230000000,-1804231000000,20067999000000,-4023266000000,-3993022000000,-30244000000,16044733000000,16044733000000,3559
2,ACB,2022,40698834000000,0.207186,13688193000000,0.425446,40698834000000,-17165305000000,23533529000000,5057559000000,...,-11605045000000,17185022000000,-70814000000,17114208000000,-3426015000000,-3445611000000,19596000000,13688193000000,13688193000000,3486
3,ACB,2021,33713810000000,0.058327,9602746000000,0.249898,33713810000000,-14769018000000,18944792000000,4026460000000,...,-8229776000000,15334221000000,-3336109000000,11998112000000,-2395366000000,-2389079000000,-6287000000,9602746000000,9602746000000,2799
4,ACB,2020,31855748000000,0.124948,7682823000000,0.278353,31855748000000,-17273625000000,14582123000000,2803484000000,...,-7624268000000,10537041000000,-941153000000,9595888000000,-1913065000000,-1940681000000,27616000000,7682823000000,7682823000000,2808

In [ ]:
finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Interest and Similar Income,Interest and Similar Expenses,Net Interest Income,...,General & Admin Expenses,Operating Profit before Provision,Provision for credit losses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,ACB,2025,3,15049404000000,0.164628,4280589000000,0.105982,15049404000000,-8279694000000,6769710000000,...,-2713933000000,5670732000000,-288936000000,5381796000000,-1101207000000,-1081502000000,-19705000000,4280589000000,4280589000000,0
1,ACB,2025,2,14298695000000,0.146214,4881159000000,0.092326,14298695000000,-7614847000000,6683848000000,...,-2736160000000,6556384000000,-463039000000,6093345000000,-1212186000000,-1210700000000,-1486000000,4881159000000,4881159000000,0
2,ACB,2025,1,13327306000000,0.111758,3678266000000,-0.058164,13327306000000,-6968441000000,6358865000000,...,-2691892000000,5222736000000,-626128000000,4596608000000,-918342000000,-958551000000,40209000000,3678266000000,3678266000000,0
3,ACB,2024,4,13518376000000,0.080173,4545364000000,0.134560,13518376000000,-6438085000000,7080291000000,...,-2739350000000,5818946000000,-147675000000,5671271000000,-1125907000000,-1086127000000,-39780000000,4545364000000,4545364000000,1017
4,ACB,2024,3,12922067000000,-0.007819,3870395000000,-0.041407,12922067000000,-6040680000000,6881387000000,...,-2933714000000,5202287000000,-358243000000,4844044000000,-973649000000,-971306000000,-2343000000,3870395000000,3870395000000,0

#### B√°o c√°o l∆∞u chuy·ªÉn ti·ªÅn t·ªá

In [ ]:
finance.cash_flow(period='year', dropna=True).head()

,ticker,yearReport,Profits from other activities,Operating profit before changes in working capital,Net Cash Flows from Operating Activities before BIT,Payment from reserves,Purchase of fixed assets,Gain on Dividend,Net Cash Flows from Investing Activities,Increase in charter captial,Cash flows from financial activities,Net increase/decrease in cash and cash equivalents,Cash and cash equivalents,Foreign exchange differences Adjustment,Cash and Cash Equivalents at the end of period,Net cash inflows/outflows from operating activities,Proceeds from disposal of fixed assets,Investment in other entities,Proceeds from divestment in other entities,Dividends paid
0,ACB,2024,-164089000000,16709886000000,8371480000000,-1249000000,-919740000000,35058000000,-733310000000,0,-3884051000000,3752870000000,136071738000000,0,139824608000000,8370231000000,147865000000,0,3507000000,-3884051000000
1,ACB,2023,-18340000000,19421985000000,37137701000000,-1500000000,-1276249000000,74955000000,-1197256000000,0,-3377435000000,32561510000000,103510228000000,0,136071738000000,37136201000000,4038000000,0,0,-3377435000000
2,ACB,2022,152049000000,16413910000000,21476002000000,-201463000000,-511513000000,59599000000,-365878000000,0,0,20908661000000,82601567000000,0,103510228000000,21274539000000,4741000000,-10520000000,6451000000,0
3,ACB,2021,-94964000000,12326573000000,39927382000000,-1483000000,-636100000000,21979000000,-462403000000,0,-2884000000000,36579496000000,46022071000000,0,82601567000000,39925899000000,3265000000,0,0,0
4,ACB,2020,67987000000,9688384000000,10880417000000,-1156000000,-423132000000,17573000000,-395503000000,0,-140600000000,10343158000000,35678913000000,0,46022071000000,10879261000000,3336000000,0,0,0

In [ ]:
finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Interest and Similar Income,Interest and Similar Expenses,Net Interest Income,...,General & Admin Expenses,Operating Profit before Provision,Provision for credit losses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,ACB,2025,3,15049404000000,0.164628,4280589000000,0.105982,15049404000000,-8279694000000,6769710000000,...,-2713933000000,5670732000000,-288936000000,5381796000000,-1101207000000,-1081502000000,-19705000000,4280589000000,4280589000000,0
1,ACB,2025,2,14298695000000,0.146214,4881159000000,0.092326,14298695000000,-7614847000000,6683848000000,...,-2736160000000,6556384000000,-463039000000,6093345000000,-1212186000000,-1210700000000,-1486000000,4881159000000,4881159000000,0
2,ACB,2025,1,13327306000000,0.111758,3678266000000,-0.058164,13327306000000,-6968441000000,6358865000000,...,-2691892000000,5222736000000,-626128000000,4596608000000,-918342000000,-958551000000,40209000000,3678266000000,3678266000000,0
3,ACB,2024,4,13518376000000,0.080173,4545364000000,0.134560,13518376000000,-6438085000000,7080291000000,...,-2739350000000,5818946000000,-147675000000,5671271000000,-1125907000000,-1086127000000,-39780000000,4545364000000,4545364000000,1017
4,ACB,2024,3,12922067000000,-0.007819,3870395000000,-0.041407,12922067000000,-6040680000000,6881387000000,...,-2933714000000,5202287000000,-358243000000,4844044000000,-973649000000,-971306000000,-2343000000,3870395000000,3870395000000,0

#### Ch·ªâ s·ªë t√†i ch√≠nh

In [ ]:
finance.ratio(period='year', lang='vi', dropna=True).head()

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

  Meta          Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën                      \
    CP   NƒÉm K·ª≥            TSCƒê / V·ªën CSH V·ªën CSH/V·ªën ƒëi·ªÅu l·ªá
0  ACB  2024  5                  0.064849            1.624825
1  ACB  2023  5                  0.067120            1.381365
2  ACB  2022  5                  0.068129            1.137679
3  ACB  2021  5                  0.083797            0.874127
4  ACB  2020  5                  0.106712            0.690102

  Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i                                         \
     Bi√™n l·ª£i nhu·∫≠n r√≤ng (%)   ROE (%)   ROA (%) T·ª∑ su·∫•t c·ªï t·ª©c (%)
0                   0.604064  0.217459  0.021215           0.040161
1                   0.642829  0.247997  0.024188           0.038760
2                   0.581646  0.264917  0.024106           0.041841
3                   0.506881  0.239026  0.019753           0.000000
4                   0.526866  0.243075  0.018557           0.000000

  Ch·ªâ ti√™u thanh kho·∫£n Ch·ªâ ti√™u ƒë·ªãnh gi√°                                      \
     ƒê√≤n b·∫©y t√†i ch√≠nh V·ªën h√≥a (T·ª∑ ƒë·ªìng) S·ªë CP l∆∞u h√†nh (Tri·ªáu CP)       P/E
0            10.352125   111219781710000                4466657900  6.663950
1            10.130151   100208500320000                3884050400  6.405255
2            10.401935    80720698890000                3377435100  5.962443
3            11.754104    59172663390000                2701948100  6.259839
4            12.540286    74573768250000                2161558500  9.899843


        P/B       P/S P/Cash Flow    EPS (VND)    BVPS (VND)
0  1.332585  3.318531   13.287540  3758.910661  18685.486972
1  1.412263  3.060127    2.698405  4130.928116  18268.547957
2  1.381289  2.803769    3.794240  4052.836722  17302.675335
3  1.317850  2.511147    1.482062  3554.008310  16617.976119
4  2.103741  4.106189    6.854672  3554.297975  16399.353985

In [ ]:
finance.ratio(period='quarter', lang='en', dropna=True).head()

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

    Meta                         Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën  \
  ticker yearReport lengthReport               Debt/Equity
0    ACB       2025            3                  9.376240
1    ACB       2025            2                  9.704445
2    ACB       2025            1                  9.240355
3    ACB       2024            4                  9.352125
4    ACB       2024            3                  8.858604

                                                        \
  Fixed Asset-To-Equity Owners' Equity/Charter Capital
0              0.059079                       1.779669
1              0.061880                       1.697809
2              0.061005                       1.695161
3              0.064849                       1.624825
4              0.058881                       1.535128

  Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i                                                  \
       Net Profit Margin (%)   ROE (%) ROIC (%)   ROA (%) Dividend yield (%)
0                   0.632315  0.199167      0.0  0.019117           0.040161
1                   0.730292  0.201725      0.0  0.019587           0.038023
2                   0.578447  0.204361      0.0  0.020059           0.044053
3                   0.641974  0.217459      0.0  0.021215           0.041494
4                   0.562444  0.217115      0.0  0.021717           0.040568

  Ch·ªâ ti√™u thanh kho·∫£n        Ch·ªâ ti√™u ƒë·ªãnh gi√°  \
    Financial Leverage Market Capital (Bn. VND)
0            10.376240             1.279027e+14
1            10.704445             1.350941e+14
2            10.240355             1.166021e+14
3            10.352125             1.076465e+14
4             9.858604             1.101031e+14

                                                                             \
  Outstanding Share (Mil. Shares)       P/E       P/B       P/S P/Cash Flow
0                    5.136657e+09  7.356915  1.399136  3.745308    7.833025
1                    5.136657e+09  7.958327  1.549055  3.984903   12.072349
2                    5.136657e+09  7.040078  1.339106  3.505677    8.617451
3                    4.466658e+09  6.411432  1.289771  3.211912   12.860632
4                    4.466658e+09  6.775292  1.396286  3.302936  -21.381995


     EPS (VND)    BVPS (VND)
0   833.341478  17796.692895
1   950.259942  16978.092134
2   716.081741  16951.605645
3  1017.620801  18685.486922
4   866.508042  17653.973632