<div style="border:2px solid #ffc107; background:#fffde7; border-radius:8px; padding:16px; margin:16px 0;">
  <p style="display:flex; align-items:center; margin-bottom:10px;">
    <span style="font-size:26px; color:#e65100; margin-right:10px;">⚠️</span>
    <span style="font-size:18px; font-weight:700; color:#b26a00;">CẢNH BÁO: Google Colab hiện đang bị chặn IP từ Vietcap, không sử dụng được!</span>
  </p>
  <ul style="font-size:16px; color:#333; margin-left:38px; margin-top:0;">
    <li><span style="color:#1976d2; font-weight:600;">Ưu tiên 1:</span> Hãy dùng <b>GitHub Codespaces</b> để chạy thử <code>vnstock</code> nhanh nhất. Cần có tài khoản Github</li>
    <li><span style="color:#d32f2f; text-decoration:line-through;">Colab</span> <span style="color:#d32f2f;">(đang bị chặn IP, không phù hợp hiện tại)</span></li>
  </ul>
  <p style="margin-top:12px; color:#b26a00;">
    Vui lòng chọn phương án thay thế theo thứ tự trên để đảm bảo truy cập không bị gián đoạn khi thử nghiệm hoặc cài đầy đủ môi trường Python trên máy.
  </p>
</div>

<p>
  <a href="https://codespaces.new/thinh-vu/vnstock" target="_blank" style="display:inline-block; vertical-align:middle;">
    <img src="https://img.shields.io/badge/Open%20in-GitHub%20Codespaces-blue?logo=github" alt="Open in GitHub Codespaces" style="height:20px; vertical-align:middle;">
  </a>
  <a href="https://deepnote.com/workspace/Vnstockscom-3ff51cb7-3b7c-4cf5-b082-182b28b9b623/project/Vnstock-Demo-Notebooks-42230c88-0071-4aca-bfc1-70a5374f2371/notebook/1vietnamstockvnstock-9d4dd94bfd5b42a09b2fc8175ffd4408?utm_source=share-modal&utm_medium=product-shared-content&utm_campaign=notebook&utm_content=42230c88-0071-4aca-bfc1-70a5374f2371" target="_blank" style="display:inline-block; vertical-align:middle; margin-left:8px;">
    <img src="https://deepnote.com/favicon.ico" alt="Deepnote" style="height:22px; vertical-align:middle; border-radius:4px; margin-right:6px;">
    <span style="font-size:16px; font-weight:500; vertical-align:middle; color:#222222;">Open in Deepnote</span>
  </a>
  <a href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb" target="_blank" style="display:inline-block; vertical-align:middle; margin-left:8px;">
    <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab" style="height:20px; vertical-align:middle;">
  </a>
</p>

# Mục lục

# I. Cài đặt

## Cài đặt thư viện

In [ ]:
!pip install -U vnstock

1. Chứng khoán Việt Nam [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Chứng khoán quốc tế: Forex, Crypto, Chỉ số [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. Dữ liệu Thị trường, hàng hoá [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Biểu diễn dữ liệu trực quan từ Vnstock3 [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

In [2]:
## Có thể gọi các class chi tiết trong thư viện thay vì sử dụng cấp cao nhất là Vnstock
from vnstock import Listing, Quote, Company, Finance, Trading

Bạn cũng có thể gọi các class trong theo vị trí chi tiết của nguồn dữ liệu

```python
from vnstock.explorer.vci import Listing, Quote, Company, Finance, Trading
```

hoặc
```python
from vnstock.explorer.tcbs import Quote, Company, Finance, Trading
```

# II. Truy xuất dữ liệu - CK Việt Nam

> Chọn nguồn dữ liệu thuộc danh sách được hỗ trợ: VCI, TCBS cho chứng khoán trong nước, MSN cho dữ liệu chứng khoán quốc tế và sàn HOSE.

## Listing: Liệt kê danh sách chứng khoán

In [3]:
# VCI là nguồn dữ liệu từ CK Vietcap bên cạnh nguồn từ TCBS
from vnstock import Listing
listing = Listing(source='KBS')

### Danh sách tất cả mã CK niêm yết (đơn giản)

In [4]:
listing.all_symbols()

     symbol                                         organ_name
0       DPP                                 CTCP Dược Đồng Nai
1       SDA                                 CTCP Simco Sông Đà
2       CLH                          CTCP Xi măng La Hiên VVMI
3       DBT                             CTCP Dược phẩm Bến Tre
4       DND          CTCP Đầu tư Xây dựng và Vật liệu Đồng Nai
...     ...                                                ...
1560    ABT               CTCP Xuất nhập khẩu Thủy sản Bến Tre
1561    DHG                                CTCP Dược Hậu Giang
1562    PEG  Tổng Công ty Thương mại Kỹ thuật và Đầu tư - CTCP
1563    POB                     CTCP Xăng dầu Dầu khí Hưng Yên
1564    DCH                              CTCP Địa chính Hà Nội

[1565 rows x 2 columns]

### Liệt kê mã CP theo sàn (đầy đủ)

In [5]:
# Dữ liệu bao gồm tất cả các mã không kể đang niêm yết hay không
listing.symbols_by_exchange()

,symbol,organ_name,en_organ_name,exchange,type,id
0,MGC,CTCP Địa chất mỏ - TKV,Vinacomin - Mining Geology Joint Stock Company,UPCOM,stock,1
1,GVT,CTCP Giấy Việt Trì,Viet Tri Paper Joint Stock Company,UPCOM,stock,1
2,SWC,Tổng Công ty cổ phần Đường sông Miền Nam,Southern Waterborne Transport Corporation,UPCOM,stock,1
3,SLD,CTCP Địa ốc Sacom,Sacom Land Corporation,UPCOM,stock,1
4,VID,CTCP Đầu tư Phát triển Thương mại Viễn Đông,Vien Dong Investment Development Trading Corpo...,HOSE,stock,1
...,...,...,...,...,...,...
1947,MSN123009,NaN,NaN,HNX,bond,5
1948,TNG122017,NaN,NaN,HNX,bond,5
1949,SHB125010,NaN,NaN,HNX,bond,5
1950,CII124021,NaN,NaN,HNX,bond,5
1951,VBB124007,NaN,NaN,HNX,bond,5

### Liệt kê mã CP theo ngành icb

In [6]:
listing.symbols_by_industries()

    symbol  industry_code           industry_name
0      ABR              6  Công nghệ và thông tin
1      ADC              6  Công nghệ và thông tin
2      BED              6  Công nghệ và thông tin
3      CKV              6  Công nghệ và thông tin
4      CMG              6  Công nghệ và thông tin
..     ...            ...                     ...
692    TD6             10             Khai khoáng
693    THT             10             Khai khoáng
694    TMB             10             Khai khoáng
695    TNT             10             Khai khoáng
696    TVD             10             Khai khoáng

[697 rows x 3 columns]

### Danh sách cổ phiếu theo nhóm

In [7]:
# Liệt kê tất cả mã chứng khoán theo nhóm phân loại. Ví dụ HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (mã chỉ số hợp đồng tương lai), CW (chứng quyền)
listing.symbols_by_group('VN30')

0     ACB
1     BCM
2     BID
3     CTG
4     DGC
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    LPB
11    MBB
12    MSN
13    MWG
14    PLX
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

## Quote: Giá chứng khoán

In [8]:
from vnstock import Quote
quote = Quote(symbol='ACB', source='KBS')

#### Giá lịch sử

##### Cổ phiếu

In [9]:
# Lấy báo cáo lùi N ngày so với hiện tại (bao gồm cả ngày hiện tại)
df = quote.history(length='90', interval='d')
df

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

In [10]:
# Lấy báo cáo theo 1 dải thời gian cố định
df = quote.history(start='2024-01-01', end='2025-03-19', interval='d')
df

                   time      open      high       low     close    volume
0   2024-01-02 07:00:00  16813.64  17375.27  16813.64  17164.66  13883500
1   2024-01-03 07:00:00  17199.76  17550.78  17024.25  17550.78   9803400
2   2024-01-04 07:00:00  17691.18  18007.10  17620.98  17761.38  23587800
3   2024-01-05 07:00:00  17761.38  17866.69  17585.88  17866.69   9272100
4   2024-01-08 07:00:00  18042.20  18077.30  17691.18  17796.49  12389600
..                  ...       ...       ...       ...       ...       ...
295 2025-03-13 07:00:00  22018.48  22102.04  21809.58  21809.58   8885500
296 2025-03-14 07:00:00  21893.14  21893.14  21642.45  21726.02  11548600
297 2025-03-17 07:00:00  21809.58  21934.92  21726.02  21893.14   5664400
298 2025-03-18 07:00:00  21976.70  22185.60  21934.92  21976.70   6008500
299 2025-03-19 07:00:00  21976.70  21976.70  21767.80  21893.14   7913600

[300 rows x 6 columns]

##### Hợp đồng tương lai

In [11]:
quote.history(symbol='VN30F1M', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

In [12]:
quote.history(symbol='41I1G2000', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

##### Chỉ số

In [13]:
quote.history(symbol='VNINDEX', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

In [14]:
quote.history(symbol='HNXINDEX', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

In [15]:
quote.history(symbol='UPCOMINDEX', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

##### Chứng quyền

In [16]:
quote.history(symbol='CFPT2314', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

##### Trái phiếu niêm yết

In [17]:
quote.history(symbol='CII424002', length=90, interval='d')

                  time     open     high      low    close    volume
0  2025-10-20 07:00:00  25600.0  25650.0  24600.0  24800.0  32231800
1  2025-10-21 07:00:00  24850.0  25300.0  24850.0  25000.0  19371400
2  2025-10-22 07:00:00  25200.0  25300.0  24650.0  25100.0  15620500
3  2025-10-23 07:00:00  25100.0  25200.0  24950.0  24950.0   8751200
4  2025-10-24 07:00:00  24950.0  25300.0  24800.0  25000.0  11724500
..                 ...      ...      ...      ...      ...       ...
58 2026-01-12 07:00:00  24650.0  25500.0  24650.0  25500.0  22302500
59 2026-01-13 07:00:00  25700.0  25800.0  24900.0  24900.0  24138300
60 2026-01-14 07:00:00  25000.0  25150.0  24500.0  24650.0  19456100
61 2026-01-15 07:00:00  24850.0  24900.0  24550.0  24900.0  14169900
62 2026-01-16 07:00:00  25000.0  25100.0  24650.0  24850.0  10941400

[63 rows x 6 columns]

#### Intraday: dữ liệu khớp lệnh

In [18]:
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
quote.intraday(symbol='ACB', page_size=10_000, show_log=False)

,time,price,volume,match_type,id
2438,2026-01-16 09:15:03,25000.0,106700,ato,2026-01-16_091503_250000_106700
2435,2026-01-16 09:15:13,24950.0,1000,sell,2026-01-16_091513_249500_1000
2437,2026-01-16 09:15:13,24950.0,100,sell,2026-01-16_091513_249500_100
2436,2026-01-16 09:15:13,25000.0,600,buy,2026-01-16_091513_250000_600
2434,2026-01-16 09:15:14,25000.0,300,buy,2026-01-16_091514_250000_300
...,...,...,...,...,...
4,2026-01-16 14:29:38,24700.0,6600,sell,2026-01-16_142938_247000_6600
3,2026-01-16 14:29:39,24700.0,20000,sell,2026-01-16_142939_247000_20000
2,2026-01-16 14:29:44,24750.0,2000,buy,2026-01-16_142944_247500_2000
1,2026-01-16 14:45:04,24850.0,486600,atc,2026-01-16_144504_248500_486600
0,2026-01-16 14:45:04,24850.0,419300,,2026-01-16_144504_248500_419300

## Trading: Giao dịch

In [19]:
from vnstock import Trading
trading = Trading(source='kbs')

### Bảng giá

In [20]:
trading.price_board(['ACB'])

,symbol,time,exchange,ceiling_price,floor_price,reference_price,open_price,high_price,low_price,close_price,...,bid_price_3,bid_vol_3,ask_price_1,ask_vol_1,ask_price_2,ask_vol_2,ask_price_3,ask_vol_3,foreign_buy_volume,foreign_sell_volume
0,ACB,1768552380433,HOSE,26600,23200,24900,25000,25100,24650,24850,...,24700,259900,24850.0,176300,24900,1212500,24950,128700,1509500,77431639

In [21]:
trading.price_board(['VCB','ACB','TCB','BID']).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

,0,1,2,3
symbol,VCB,ACB,TCB,BID
time,1768552349519,1768552380433,1768550700978,1768552382835
exchange,HOSE,HOSE,HOSE,HOSE
ceiling_price,76900,26600,38050,54200
floor_price,66900,23200,33150,47200
reference_price,71900,24900,35600,50700
open_price,73000,25000,35650,51000
high_price,76000,25100,36350,54200
low_price,72000,24650,35600,50400
close_price,73000,24850,35800,51100
average_price,73392,24788,35953,52021
total_trades,13426500,10941400,9580800,13973800
total_value,985393610000,271211480000,344454670000,726931030000
price_change,1100,-50,200,400
percent_change,1.529903,-0.200803,0.561798,0.788955
bid_price_1,72900.0,24800.0,35800.0,51100.0
bid_vol_1,100,900,53700,33100
bid_price_2,72800,24750,35750,51000
bid_vol_2,100,4500,63000,327700
bid_price_3,72700,24700,35700,50900
bid_vol_3,170100,259900,98800,14200
ask_price_1,73000.0,24850.0,35850.0,51200.0
ask_vol_1,57000,176300,1300,1900
ask_price_2,73100,24900,35900,51300
ask_vol_2,4000,1212500,13800,6000
ask_price_3,73200,24950,35950,51400
ask_vol_3,36900,128700,97700,8300
foreign_buy_volume,2540007,1509500,0,2334772
foreign_sell_volume,709119811,77431639,0,888147307

## Company: Thông tin công ty

> Đã bổ sung nguồn dữ liệu từ VCI từ bản Vnstock3.2.0

### VCI

In [36]:
from vnstock import Company
company = Company(symbol='ACB', source='VCI')

Loại bỏ đoạn mã `.head()` để xem toàn bộ dữ liệu thay vì chỉ lấy 5 dòng đầu tiên.

#### Hồ sơ

In [37]:
company.overview()

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,ACB,67505,5136656599,- Ngày 24/04/1993: Ngân hàng Thương mại Cổ ph...,Ngân hàng Thương mại Cổ phần Á Châu (ACB) được...,Ngân hàng,Ngân hàng,Ngân hàng,5136656599,51366565990000

#### Cổ đông

In [38]:
company.shareholders()

,id,share_holder,quantity,share_own_percent,update_date
0,96680678,Vietnam Enterprise Investments Limited,212880184,0.054809,2024-09-13
1,96656637,Estes Investments Limited,83010435,0.049900,2024-05-15
2,96675467,Sather Gate Investments Limited,193907186,0.049900,2025-10-05
3,96673222,Phạm Thị Thu Hà,285000,0.049900,2016-05-20
4,96656207,Dragon Financial Holdings Limited,140770684,0.036243,2025-10-05
...,...,...,...,...,...
83,96669549,Nguyễn Thị Tuyết Vân,102030,0.000017,2025-10-05
84,96674988,Quỹ Đầu tư Cổ phiếu Năng động Bảo Việt,22065,0.000013,2025-12-31
85,96654867,Đinh Thị Hoa,77280,0.000012,2025-10-05
86,96656472,Dương Thị Nguyệt,21975,0.000004,2025-11-24
87,96650671,Công ty Cổ phần Chứng khoán Thiên Việt,5285,0.000002,2025-10-05

#### Công ty con

In [39]:
company.subsidiaries()

,id,sub_organ_code,ownership_percent,organ_name,type
0,27357961,ACBA,1,Công ty TNHH Quản Lý Nợ Và Khai Thác Tài Sản N...,công ty con
1,27357962,ACBL,1,Công Ty TNHH Một Thành Viên Cho Thuê Tài Chính...,công ty con
2,27357963,ACBS,1,Công ty TNHH Chứng khoán ACB,công ty con
0,27357965,ACBD,None,CÔNG TY CỔ PHẦN DỊCH VỤ BẢO VỆ NGÂN HÀNG Á CHÂU,công ty liên kết
1,27357964,SGGS,None,Công ty Cổ phần Sài Gòn Kim hoàn ACB- SJC,công ty liên kết

#### Công ty liên kết

In [40]:
# Phương thức này không có trong nguồn TCBS
company.affiliate()

,id,sub_organ_code,organ_name,ownership_percent
0,27357965,ACBD,CÔNG TY CỔ PHẦN DỊCH VỤ BẢO VỆ NGÂN HÀNG Á CHÂU,None
1,27357964,SGGS,Công ty Cổ phần Sài Gòn Kim hoàn ACB- SJC,None

#### Lãnh đạo

In [41]:
company.officers(filter_by='working').head() # filter_by='all' hoặc 'working' hoặc 'resigned'

,id,officer_name,officer_position,position_short_name,update_date,officer_own_percent,quantity
0,6,Trần Hùng Huy,Chủ tịch Hội đồng Quản trị,Chủ tịch HĐQT,2025-08-12,0.0343,176021482
1,7,Đặng Thu Thủy,Thành viên Hội đồng Quản trị,TV HĐQT,2025-08-12,0.0119,61352541
2,17,Đặng Phú Vinh,Giám đốc khối,GĐ Khối,2025-08-12,0.0037,18922683
3,8,Đỗ Minh Toàn,Tổng Giám đốc,TGĐ,2025-08-12,0.0007,3683318
4,9,Nguyễn Thành Long,Phó Chủ tịch Hội đồng Quản trị,Phó Chủ tịch HĐQT,2025-08-12,0.0004,1894127

#### Tin tức

In [42]:
company.news().head(3)

,id,news_title,news_sub_title,friendly_sub_title,news_image_url,news_source_link,created_at,public_date,updated_at,lang_code,news_id,news_short_content,news_full_content,close_price,ref_price,floor,ceiling,price_change_pct
0,9127523,ACB: Nghị quyết HĐQT về việc bổ nhiệm lại Phó TGĐ,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-nghi-quyet-h...,None,1767982190000,None,vi,11841197,Ngân hàng Thương mại Cổ phần Á Châu thông báo ...,<p>Ngân hàng Thương mại Cổ phần Á Châu thông b...,24550,24550,22850,26250,0.000000
1,9016539,ACB: Nghị quyết HĐQT về việc cho các công ty c...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-nghi-quyet-h...,None,1766079868000,None,vi,11823114,Ngân hàng Thương mại Cổ phần Á Châu thông báo ...,<p>Ngân hàng Thương mại Cổ phần Á Châu thông b...,23850,24000,22350,25650,-0.006250
2,8983518,ACB: Nghị quyết HĐQT về việc ký hợp đồng ủy qu...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-nghi-quyet-h...,None,1765819507000,None,vi,11821321,Ngân hàng Thương mại Cổ phần Á Châu thông báo ...,<p>Ngân hàng Thương mại Cổ phần Á Châu thông b...,23550,23500,21900,25100,0.002128

#### Sự kiện

In [43]:
company.events().head(3)

,id,event_title,en__event_title,public_date,issue_date,source_url,event_list_code,ratio,value,record_date,exright_date,event_list_name,en__event_list_name
0,18129,Phát hành cổ phiếu,,2010-11-18,2010-11-30,,ISS,NaN,NaN,2010-11-30,2010-11-26,Phát hành cổ phiếu,Share Issue
1,18140,ACB-Phát hành cổ phiếu trả cổ tức cho CĐHH tỷ ...,ACB-Issues dividend shares for existing shareh...,2016-11-21,2016-12-01,http://fiinpro.com/News/Detail/313345?lang=vi-VN,ISS,NaN,NaN,2016-12-02,2016-12-01,Phát hành cổ phiếu,Share Issue
2,18142,ACB-Trả cổ tức bằng cổ phiếu cho cổ đông hiện ...,ACB-Issues dividend shares for existing shareh...,2018-03-14,2018-03-20,http://fiinpro.com/News/Detail/1564876?lang=vi-VN,ISS,0.1,0.0,2018-03-21,2018-03-20,Phát hành cổ phiếu,Share Issue

#### Báo cáo phân tích

In [44]:
company.reports()

,date,description,link,name
0,2025-11-13T00:00:00Z,- Chúng tôi tăng giá mục tiêu cho Ngân hàng TM...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +34,0%] - Đẩy nhanh chuyển đổi; tái k..."
1,2025-10-23T00:00:00Z,1. Thanh tra Chính phủ về hoạt động phát hành ...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB – Không ghi nhận sai phạm trong phát hành ...
2,2025-10-22T00:00:00Z,Ngân hàng TMCP Á Châu (ACB) công bố KQKD 9 thá...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Chất lượng tài sản tiếp tục cải thiện; s...
3,2025-08-25T00:00:00Z,"- Chúng tôi điều chỉnh tăng 9,5% giá mục tiêu ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +21,3%] - Định giá hấp dẫn; sẵn sàng ..."
4,2025-07-24T00:00:00Z,Ngân hàng TMCP Á Châu (ACB) công bố KQKD 6 thá...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Chất lượng tài sản cải thiện đáng kể; NI...
5,2025-05-27T00:00:00Z,"- Chúng tôi điều chỉnh giảm 2,4% giá mục tiêu ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +32,3%] - NIM dự kiến sẽ phải chịu áp..."
6,2025-04-24T00:00:00Z,1. Tác động của Thuế quan đối với ACB: Tác độn...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Kỳ vọng tín dụng tăng mạnh và NIM cải th...
7,2025-04-23T00:00:00Z,Ngân hàng TMCP Á Châu (ACB) công bố KQKD quý 1...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Lợi nhuận thấp hơn kỳ vọng do NIM giảm -...
8,2025-04-08T00:00:00Z,Chúng tôi đã tham dự ĐHCĐ của Ngân hàng TMCP Á...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Tăng trưởng tín dụng được kỳ vọng sẽ nằm...
9,2025-01-22T00:00:00Z,Ngân hàng Thương Mại Cổ Phần Á Châu (ACB) đã c...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Tập trung vào tăng trưởng tín dụng hơn t...

#### Tình hình tài chính

In [45]:
company.ratio_summary()

,symbol,year_report,length_report,update_date,revenue,revenue_growth,net_profit,net_profit_growth,ebit_margin,roe,...,rtq4,charter_capital_ratio,rtq10,dividend,ebitda,ebit,le,de,ccc,rtq17
0,ACB,2025,3,1761151439463,15049404000000,0.164628,4280589000000,0.105982,0,0.199167,...,0,1.779669,9.37624,0,0,0,0,9.37624,None,0

#### Thống kê giao dịch

In [46]:
company.trading_stats()

,symbol,exchange,ev,ceiling,floor,ref_price,open,match_price,close_price,price_change,...,high_price_1y,low_price_1y,pct_low_change_1y,pct_high_change_1y,foreign_volume,foreign_room,avg_match_volume_2w,foreign_holding_room,current_holding_ratio,max_holding_ratio
0,ACB,HOSE,127902749315100,26350,22950,24650,24850,24900,24900,250,...,29500,17337,0.367088,-0.154499,6128937,1540996979,18452412,1462007690,0.284622,0.3

## Finance: Báo cáo tài chính

In [47]:
from vnstock import Finance
finance = Finance(symbol='ACB', source='VCI')

### Bảng cân đối kế toán

In [48]:
finance.balance_sheet(period='year', lang='vi', dropna=True)

,CP,Năm,TỔNG CỘNG TÀI SẢN (đồng),Tiền và tương đương tiền (đồng),Tiền gửi tại ngân hàng nhà nước Việt Nam,Tiền gửi tại các TCTD khác và cho vay các TCTD khác,Chứng khoán kinh doanh,_Chứng khoán kinh doanh,Dự phòng giảm giá chứng khoán kinh doanh,Các công cụ tài chính phái sinh và khoản nợ tài chính khác,...,Tiền gửi của khách hàng,_Các công cụ tài chính phái sinh và khoản nợ tài chính khác,"Vốn tài trợ, uỷ thác đầu tư của CP và các tổ chức TD khác",Phát hành giấy tờ có giá,Các khoản nợ khác,VỐN CHỦ SỞ HỮU (đồng),Vốn của tổ chức tín dụng,Quỹ của tổ chức tín dụng,Lãi chưa phân phối (đồng),Vốn góp của chủ sở hữu (đồng)
0,ACB,2024,864005703000000,5696449000000,25219753000000,117882259000000,3881151000000,4029088000000,-147937000000,55992000000,...,537304578000000,0,28008000000,101650446000000,22014472000000,83461678000000,44938358000000,14789568000000,23733752000000,44666579000000
1,ACB,2023,718794589000000,6909300000000,18504814000000,114873931000000,7177069000000,7323489000000,-146420000000,0,...,482702731000000,117126000000,41534000000,52410014000000,23060473000000,70955961000000,39112283000000,11557435000000,20286243000000,38840504000000
2,ACB,2022,607875185000000,8460892000000,13657531000000,85971313000000,1131327000000,1320941000000,-189614000000,100072000000,...,413952789000000,0,60188000000,44304367000000,22772462000000,58438663000000,34046130000000,9220125000000,15172408000000,33774351000000
3,ACB,2021,527769944000000,7509877000000,32349574000000,49818776000000,11259731000000,11325371000000,-65640000000,226545000000,...,379920669000000,0,86066000000,30547883000000,17920478000000,44900909000000,27291260000000,7164297000000,10445352000000,27019481000000
4,ACB,2020,444530104000000,6967918000000,16616798000000,31671245000000,6167917000000,6285763000000,-117846000000,54473000000,...,353195838000000,0,116705000000,22049697000000,9844459000000,35448163000000,21887364000000,5741759000000,7819040000000,21615585000000
5,ACB,2019,383514439000000,6437812000000,10420306000000,30341599000000,2985262000000,3145903000000,-160641000000,87753000000,...,308129391000000,0,156147000000,20830836000000,7384134000000,27765359000000,16799171000000,4595902000000,6370286000000,16627373000000
6,ACB,2018,329333241000000,6129169000000,10683536000000,18769776000000,1177972000000,1339157000000,-161185000000,0,...,269998503000000,38198000000,160093000000,8290918000000,6035148000000,21017899000000,12220152000000,3693069000000,5104678000000,12885877000000
7,ACB,2017,284316123000000,4851710000000,8314574000000,8941727000000,1236555000000,1239991000000,-3436000000,0,...,241392932000000,10491000000,136466000000,6761000000000,4530641000000,16030847000000,9607514000000,2913780000000,3509553000000,10273239000000
8,ACB,2016,233680877000000,3541388000000,5119306000000,8152027000000,1183306000000,1211314000000,-28008000000,16065000000,...,207051269000000,0,122697000000,6615000000000,3594080000000,14062716000000,8711240000000,2590181000000,2761295000000,9376965000000
9,ACB,2015,201456985000000,2806088000000,4608680000000,10122200000000,100457000000,103034000000,-2577000000,47603000000,...,174918997000000,0,161678000000,3075000000000,2901457000000,12787542000000,8711240000000,2374178000000,1702124000000,9376965000000
10,ACB,2014,179609771000000,2496287000000,3357730000000,4559007000000,1105122000000,1108232000000,-3110000000,14403000000,...,154613588000000,0,188155000000,3078000000000,3187487000000,12397303000000,8711841000000,2207666000000,1477796000000,9376965000000
11,ACB,2013,166598989000000,2043490000000,3065322000000,7215519000000,851161000000,1078309000000,-227148000000,150000000,...,138110836000000,0,363345000000,3500000000000,2743684000000,12504202000000,9117544000000,2034952000000,1351706000000,9376965000000
12,ACB,2011,281019319000000,8709990000000,5075817000000,81274021000000,850459000000,1048787000000,-198328000000,1016447000000,...,142218091000000,0,332318000000,50708499000000,34556973000000,11959092000000,9376965000000,1753237000000,828890000000,9376965000000
13,ACB,2010,205102950000000,10884762000000,2914353000000,33961250000000,978355000000,1167950000000,-189595000000,78172000000,...,106936611000000,0,379768000000,38234151000000,10594023000000,11376757000000,9376965000000,1209552000000,790240000000,9376965000000

In [49]:
finance.balance_sheet(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,TOTAL ASSETS (Bn. VND),Cash and cash equivalents (Bn. VND),Balances with the SBV,Placements with and loans to other credit institutions,"Trading Securities, net",Trading Securities,Provision for diminution in value of Trading Securities,...,"Funds received from Gov, international and other institutions",Convertible bonds/CDs and other valuable papers issued,Other liabilities,OWNER'S EQUITY(Bn.VND),Capital,Reserves,Foreign Currency Difference reserve,Undistributed earnings (Bn. VND),Paid-in capital (Bn. VND),MINORITY INTERESTS
0,ACB,2025,3,948549176000000,6785568000000,15197467000000,104925948000000,5918486000000,6072639000000,-154153000000,...,22456000000,113387071000000,22703870000000,91415500000000,51638345000000,14789568000000,-319534000000,25307121000000,51366566000000,0
1,ACB,2025,2,933541420000000,6666091000000,5439937000000,125447269000000,4958406000000,5160049000000,-201643000000,...,24547000000,139552843000000,21741640000000,87210629000000,51638345000000,14789568000000,-243816000000,21026532000000,51366566000000,0
2,ACB,2025,1,891674563000000,5857654000000,13457514000000,129347480000000,4307534000000,4479661000000,-172127000000,...,26725000000,114051801000000,20047729000000,87074577000000,44938358000000,14789568000000,-65367000000,27412018000000,44666579000000,0
3,ACB,2024,4,864005703000000,5696449000000,25219753000000,117882259000000,3881151000000,4029088000000,-147937000000,...,28008000000,101650446000000,22014472000000,83461678000000,44938358000000,14789568000000,0,23733752000000,44666579000000,0
4,ACB,2024,3,777392922000000,5870526000000,8392393000000,92090423000000,6965867000000,7059448000000,-93581000000,...,31641000000,90366104000000,22478444000000,78854261000000,44938358000000,11557435000000,-62053000000,22420521000000,44666579000000,0

### Báo cáo lãi lỗ

In [50]:
finance.income_statement(period='year', lang='vi', dropna=True).head()

,CP,Năm,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),Thu nhập lãi và các khoản tương tự,Chi phí lãi và các khoản tương tự,Thu nhập lãi thuần,Thu nhập từ hoạt động dịch vụ,...,Chi phí quản lý DN,LN từ HĐKD trước CF dự phòng,Chi phí dự phòng rủi ro tín dụng,LN trước thuế,Thuế TNDN,Chi phí thuế TNDN hiện hành,Chi phí thuế TNDN hoãn lại,Lợi nhuận thuần,Cổ đông của Công ty mẹ,Lãi cơ bản trên cổ phiếu
0,ACB,2024,50902749000000,-0.027586,16789768000000,0.046435,50902749000000,-23108047000000,27794702000000,5464958000000,...,-10902603000000,22612156000000,-1606285000000,21005871000000,-4216103000000,-4199699000000,-16404000000,16789768000000,16789768000000,3669
1,ACB,2023,52346796000000,0.286199,16044733000000,0.172159,52346796000000,-27387226000000,24959570000000,4945751000000,...,-10874286000000,21872230000000,-1804231000000,20067999000000,-4023266000000,-3993022000000,-30244000000,16044733000000,16044733000000,3559
2,ACB,2022,40698834000000,0.207186,13688193000000,0.425446,40698834000000,-17165305000000,23533529000000,5057559000000,...,-11605045000000,17185022000000,-70814000000,17114208000000,-3426015000000,-3445611000000,19596000000,13688193000000,13688193000000,3486
3,ACB,2021,33713810000000,0.058327,9602746000000,0.249898,33713810000000,-14769018000000,18944792000000,4026460000000,...,-8229776000000,15334221000000,-3336109000000,11998112000000,-2395366000000,-2389079000000,-6287000000,9602746000000,9602746000000,2799
4,ACB,2020,31855748000000,0.124948,7682823000000,0.278353,31855748000000,-17273625000000,14582123000000,2803484000000,...,-7624268000000,10537041000000,-941153000000,9595888000000,-1913065000000,-1940681000000,27616000000,7682823000000,7682823000000,2808

In [51]:
finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Interest and Similar Income,Interest and Similar Expenses,Net Interest Income,...,General & Admin Expenses,Operating Profit before Provision,Provision for credit losses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,ACB,2025,3,15049404000000,0.164628,4280589000000,0.105982,15049404000000,-8279694000000,6769710000000,...,-2713933000000,5670732000000,-288936000000,5381796000000,-1101207000000,-1081502000000,-19705000000,4280589000000,4280589000000,0
1,ACB,2025,2,14298695000000,0.146214,4881159000000,0.092326,14298695000000,-7614847000000,6683848000000,...,-2736160000000,6556384000000,-463039000000,6093345000000,-1212186000000,-1210700000000,-1486000000,4881159000000,4881159000000,0
2,ACB,2025,1,13327306000000,0.111758,3678266000000,-0.058164,13327306000000,-6968441000000,6358865000000,...,-2691892000000,5222736000000,-626128000000,4596608000000,-918342000000,-958551000000,40209000000,3678266000000,3678266000000,0
3,ACB,2024,4,13518376000000,0.080173,4545364000000,0.134560,13518376000000,-6438085000000,7080291000000,...,-2739350000000,5818946000000,-147675000000,5671271000000,-1125907000000,-1086127000000,-39780000000,4545364000000,4545364000000,1017
4,ACB,2024,3,12922067000000,-0.007819,3870395000000,-0.041407,12922067000000,-6040680000000,6881387000000,...,-2933714000000,5202287000000,-358243000000,4844044000000,-973649000000,-971306000000,-2343000000,3870395000000,3870395000000,0

### Báo cáo lưu chuyển tiền tệ

In [52]:
finance.cash_flow(period='year', dropna=True).head()

,ticker,yearReport,Profits from other activities,Operating profit before changes in working capital,Net Cash Flows from Operating Activities before BIT,Payment from reserves,Purchase of fixed assets,Gain on Dividend,Net Cash Flows from Investing Activities,Increase in charter captial,Cash flows from financial activities,Net increase/decrease in cash and cash equivalents,Cash and cash equivalents,Foreign exchange differences Adjustment,Cash and Cash Equivalents at the end of period,Net cash inflows/outflows from operating activities,Proceeds from disposal of fixed assets,Investment in other entities,Proceeds from divestment in other entities,Dividends paid
0,ACB,2024,-164089000000,16709886000000,8371480000000,-1249000000,-919740000000,35058000000,-733310000000,0,-3884051000000,3752870000000,136071738000000,0,139824608000000,8370231000000,147865000000,0,3507000000,-3884051000000
1,ACB,2023,-18340000000,19421985000000,37137701000000,-1500000000,-1276249000000,74955000000,-1197256000000,0,-3377435000000,32561510000000,103510228000000,0,136071738000000,37136201000000,4038000000,0,0,-3377435000000
2,ACB,2022,152049000000,16413910000000,21476002000000,-201463000000,-511513000000,59599000000,-365878000000,0,0,20908661000000,82601567000000,0,103510228000000,21274539000000,4741000000,-10520000000,6451000000,0
3,ACB,2021,-94964000000,12326573000000,39927382000000,-1483000000,-636100000000,21979000000,-462403000000,0,-2884000000000,36579496000000,46022071000000,0,82601567000000,39925899000000,3265000000,0,0,0
4,ACB,2020,67987000000,9688384000000,10880417000000,-1156000000,-423132000000,17573000000,-395503000000,0,-140600000000,10343158000000,35678913000000,0,46022071000000,10879261000000,3336000000,0,0,0

In [53]:
finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Interest and Similar Income,Interest and Similar Expenses,Net Interest Income,...,General & Admin Expenses,Operating Profit before Provision,Provision for credit losses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,ACB,2025,3,15049404000000,0.164628,4280589000000,0.105982,15049404000000,-8279694000000,6769710000000,...,-2713933000000,5670732000000,-288936000000,5381796000000,-1101207000000,-1081502000000,-19705000000,4280589000000,4280589000000,0
1,ACB,2025,2,14298695000000,0.146214,4881159000000,0.092326,14298695000000,-7614847000000,6683848000000,...,-2736160000000,6556384000000,-463039000000,6093345000000,-1212186000000,-1210700000000,-1486000000,4881159000000,4881159000000,0
2,ACB,2025,1,13327306000000,0.111758,3678266000000,-0.058164,13327306000000,-6968441000000,6358865000000,...,-2691892000000,5222736000000,-626128000000,4596608000000,-918342000000,-958551000000,40209000000,3678266000000,3678266000000,0
3,ACB,2024,4,13518376000000,0.080173,4545364000000,0.134560,13518376000000,-6438085000000,7080291000000,...,-2739350000000,5818946000000,-147675000000,5671271000000,-1125907000000,-1086127000000,-39780000000,4545364000000,4545364000000,1017
4,ACB,2024,3,12922067000000,-0.007819,3870395000000,-0.041407,12922067000000,-6040680000000,6881387000000,...,-2933714000000,5202287000000,-358243000000,4844044000000,-973649000000,-971306000000,-2343000000,3870395000000,3870395000000,0

### Chỉ số tài chính

In [54]:
finance.ratio(period='year', lang='vi', dropna=True).head()

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

  Meta          Chỉ tiêu cơ cấu nguồn vốn                      \
    CP   Năm Kỳ            TSCĐ / Vốn CSH Vốn CSH/Vốn điều lệ
0  ACB  2024  5                  0.064849            1.624825
1  ACB  2023  5                  0.067120            1.381365
2  ACB  2022  5                  0.068129            1.137679
3  ACB  2021  5                  0.083797            0.874127
4  ACB  2020  5                  0.106712            0.690102

  Chỉ tiêu khả năng sinh lợi                                         \
     Biên lợi nhuận ròng (%)   ROE (%)   ROA (%) Tỷ suất cổ tức (%)
0                   0.604064  0.217459  0.021215           0.041667
1                   0.642829  0.247997  0.024188           0.038760
2                   0.581646  0.264917  0.024106           0.041841
3                   0.506881  0.239026  0.019753           0.000000
4                   0.526866  0.243075  0.018557           0.000000

  Chỉ tiêu thanh khoản Chỉ tiêu định giá                                      \
     Đòn bẩy tài chính Vốn hóa (Tỷ đồng) Số CP lưu hành (Triệu CP)       P/E
0            10.352125   107199789600000                4466657900  6.423084
1            10.130151   100208500320000                3884050400  6.405255
2            10.401935    80720698890000                3377435100  5.962443
3            11.754104    59172663390000                2701948100  6.259839
4            12.540286    74573768250000                2161558500  9.899843


        P/B       P/S P/Cash Flow    EPS (VND)    BVPS (VND)
0  1.284419  3.198585   12.807268  3758.910661  18685.486972
1  1.412263  3.060127    2.698405  4130.928116  18268.547957
2  1.381289  2.803769    3.794240  4052.836722  17302.675335
3  1.317850  2.511147    1.482062  3554.008310  16617.976119
4  2.103741  4.106189    6.854672  3554.297975  16399.353985

In [55]:
finance.ratio(period='quarter', lang='en', dropna=True).head()

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

    Meta                         Chỉ tiêu cơ cấu nguồn vốn  \
  ticker yearReport lengthReport               Debt/Equity
0    ACB       2025            3                  9.376240
1    ACB       2025            2                  9.704445
2    ACB       2025            1                  9.240355
3    ACB       2024            4                  9.352125
4    ACB       2024            3                  8.858604

                                                        \
  Fixed Asset-To-Equity Owners' Equity/Charter Capital
0              0.059079                       1.779669
1              0.061880                       1.697809
2              0.061005                       1.695161
3              0.064849                       1.624825
4              0.058881                       1.535128

  Chỉ tiêu khả năng sinh lợi                                                  \
       Net Profit Margin (%)   ROE (%) ROIC (%)   ROA (%) Dividend yield (%)
0                   0.632315  0.199167      0.0  0.019117                0.0
1                   0.730292  0.201725      0.0  0.019587                0.0
2                   0.578447  0.204361      0.0  0.020059                0.0
3                   0.641974  0.217459      0.0  0.021215                0.0
4                   0.562444  0.217115      0.0  0.021717                0.0

  Chỉ tiêu thanh khoản        Chỉ tiêu định giá  \
    Financial Leverage Market Capital (Bn. VND)
0            10.376240             1.266186e+14
1            10.704445             1.350941e+14
2            10.240355             1.166021e+14
3            10.352125             1.076465e+14
4             9.858604             1.101031e+14

                                                                             \
  Outstanding Share (Mil. Shares)       P/E       P/B       P/S P/Cash Flow
0                    5.136657e+09  7.283050  1.385089  3.707704    7.754380
1                    5.136657e+09  7.958327  1.549055  3.984903   12.072349
2                    5.136657e+09  7.040078  1.339106  3.505677    8.617451
3                    4.466658e+09  6.411432  1.289771  3.211912   12.860632
4                    4.466658e+09  6.775292  1.396286  3.302936  -21.381995


     EPS (VND)    BVPS (VND)
0   833.341478  17796.692895
1   950.259942  16978.092134
2   716.081741  16951.605645
3  1017.620801  18685.486922
4   866.508042  17653.973632