<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# M·ª•c l·ª•c

# I. C√†i ƒë·∫∑t

## C√†i ƒë·∫∑t th∆∞ vi·ªán

In [ ]:
!pip install -U vnstock

1. Ch·ª©ng kho√°n Vi·ªát Nam [t·∫°i ƒë√¢y](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Ch·ª©ng kho√°n qu·ªëc t·∫ø: Forex, Crypto, Ch·ªâ s·ªë [t·∫°i ƒë√¢y](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. D·ªØ li·ªáu Th·ªã tr∆∞·ªùng, h√†ng ho√° [t·∫°i ƒë√¢y](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Bi·ªÉu di·ªÖn d·ªØ li·ªáu tr·ª±c quan t·ª´ Vnstock3 [t·∫°i ƒë√¢y](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

## N·∫°p th∆∞ vi·ªán l·∫ßn ƒë·∫ßu

> B·∫°n c√≥ th·ªÉ n·∫°p to√†n b·ªô c√°c module c·ªßa th∆∞ vi·ªán v√†o m√¥i tr∆∞·ªùng l√†m vi·ªác n·∫øu ch∆∞a bi·∫øt r√µ m√¨nh c·∫ßn g√¨ ho·∫∑c ch·ªçn t·ª´ng module ri√™ng bi·ªát ƒë·ªÉ n·∫°p v√†o khi ƒë√£ quen thu·ªôc.

In [ ]:
## N·∫°p Wrapper l√†m vi·ªác ch√≠nh (UI ch√≠nh c·ªßa th∆∞ vi·ªán)
from vnstock import Vnstock

In [ ]:
## C√≥ th·ªÉ g·ªçi c√°c class chi ti·∫øt trong th∆∞ vi·ªán thay v√¨ s·ª≠ d·ª•ng c·∫•p cao nh·∫•t l√† Vnstock
from vnstock import Listing, Quote, Company, Finance, Trading, Screener

In [ ]:
## B·∫°n c≈©ng c√≥ th·ªÉ g·ªçi c√°c class trong theo v·ªã tr√≠ chi ti·∫øt c·ªßa ngu·ªìn d·ªØ li·ªáu
from vnstock.explorer.vci import Listing, Quote, Company, Finance, Trading

# ho·∫∑c

from vnstock.explorer.tcbs import Quote, Company, Finance, Trading, Screener

# II. Truy xu·∫•t d·ªØ li·ªáu - CK Vi·ªát Nam

* Kh·ªüi t·∫°o ƒë·ªëi t∆∞·ª£ng stock ƒë·ªÉ d√πng cho t·∫•t c·∫£ thao t√°c truy xu·∫•t d·ªØ li·ªáu ch·ª©ng kho√°n v·ªÅ sau. Lu·ªìng c√¥ng vi·ªác minh ho·∫° d∆∞·ªõi ƒë√¢y gi·∫£ ƒë·ªãnh b·∫°n b·∫Øt ƒë·∫ßu v·ªõi 1 m√£ ch·ª©ng kho√°n c·∫ßn ph√¢n t√≠ch, m·∫∑c ƒë·ªãnh l√† VN30F1M. B·∫°n c√≥ th·ªÉ thay ƒë·ªïi sang m√£ b·∫•t k·ª≥ b·∫±ng c√°ch nh·∫≠p tham s·ªë `symbol` t·∫°i h√†m ch·ª©c nƒÉng thay v√¨ kh·ªüi t·∫°o l·∫°i ƒë·ªëi t∆∞·ª£ng. V√≠ d·ª•, m√£ `VN30F1M` ƒë∆∞·ª£c g√°n khi t·∫°o ƒë·ªëi t∆∞·ª£ng, nh∆∞ng khi g·ªçi d·ªØ li·ªáu gi√° l·ªãch s·ª≠, b·∫°n c√≥ th·ªÉ c·∫≠p nh·∫≠t m√£ m·ªõi l√† `ACB` thay v√¨ kh·ªüi t·∫°o l·∫°i ƒë·ªëi t∆∞·ª£ng m·ªôt c√°ch b·∫•t ti·ªán: `stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')`

* Ch·ªçn ngu·ªìn d·ªØ li·ªáu thu·ªôc danh s√°ch ƒë∆∞·ª£c h·ªó tr·ª£: VCI, TCBS cho ch·ª©ng kho√°n trong n∆∞·ªõc, MSN cho d·ªØ li·ªáu ch·ª©ng kho√°n qu·ªëc t·∫ø v√† s√†n HOSE.

In [2]:
from vnstock import Vnstock
stock = Vnstock().stock(symbol='ACB', source='VCI')

2025-03-21 05:34:50 - vnstock.common.data.data_explorer - INFO - VCI kh√¥ng h·ªó tr·ª£ ki·ªÉm tra c·ªï phi·∫øu. D·ªØ li·ªáu t·ª± ƒë·ªông tr·∫£ v·ªÅ t·ª´ TCBS.

## Listing: Li·ªát k√™ danh s√°ch ch·ª©ng kho√°n

### Danh s√°ch t·∫•t c·∫£ m√£ CK ni√™m y·∫øt (ƒë∆°n gi·∫£n)

In [4]:
# VCI l√† ngu·ªìn d·ªØ li·ªáu t·ª´ CK Vietcap b√™n c·∫°nh ngu·ªìn t·ª´ TCBS
stock.listing.all_symbols()

     ticker                                         organ_name
0       A32                                 C√¥ng ty C·ªï ph·∫ßn 32
1       AAA                  C√¥ng ty C·ªï ph·∫ßn Nh·ª±a An Ph√°t Xanh
2       AAH                           C√¥ng ty C·ªï ph·∫ßn H·ª£p Nh·∫•t
3       AAM                    C√¥ng ty C·ªï Ph·∫ßn Th·ªßy S·∫£n MeKong
4       AAS            C√¥ng ty C·ªï ph·∫ßn Ch·ª©ng kho√°n SmartInvest
...     ...                                                ...
1669    XPH                    C√¥ng ty C·ªï ph·∫ßn X√† ph√≤ng H√† N·ªôi
1670    YBC      C√¥ng ty C·ªï ph·∫ßn Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i
1671    YBM     C√¥ng ty C·ªï ph·∫ßn Kho√°ng s·∫£n C√¥ng nghi·ªáp Y√™n B√°i
1672    YEG                     C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n Yeah1
1673    YTC  C√¥ng ty C·ªï ph·∫ßn Xu·∫•t nh·∫≠p kh·∫©u Y t·∫ø Th√†nh ph·ªë ...

[1674 rows x 2 columns]

### Li·ªát k√™ m√£ CP theo s√†n (ƒë·∫ßy ƒë·ªß)

In [5]:
# D·ªØ li·ªáu bao g·ªìm t·∫•t c·∫£ c√°c m√£ kh√¥ng k·ªÉ ƒëang ni√™m y·∫øt hay kh√¥ng
stock.listing.symbols_by_exchange()

,symbol,id,type,exchange,en_organ_name,en_organ_short_name,organ_short_name,organ_name
0,YTC,8425620,STOCK,UPCOM,Ho Chi Minh City Medical Import Export Joint S...,YTECO,XNK Y t·∫ø TP.HCM,C√¥ng ty C·ªï ph·∫ßn Xu·∫•t nh·∫≠p kh·∫©u Y t·∫ø Th√†nh ph·ªë ...
1,YEG,8424579,STOCK,HSX,Yeah1 Group Corporation,Yeah1 Group,T·∫≠p ƒëo√†n Yeah1,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n Yeah1
2,YBM,8424470,STOCK,HSX,Yen Bai Industry Mineral Joint Stock Company,Yen Bai Industry Mineral,Kho√°ng s·∫£n CN Y√™n B√°i,C√¥ng ty C·ªï ph·∫ßn Kho√°ng s·∫£n C√¥ng nghi·ªáp Y√™n B√°i
3,YBC,8425710,STOCK,UPCOM,YenBai Cement and Minerals Joint Stock Company,YenBai Cement and Minerals,Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,C√¥ng ty C·ªï ph·∫ßn Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i
4,XPH,8425864,STOCK,UPCOM,Hanoi Soap Joint Stock Company,Hanoi Soap,X√† ph√≤ng H√† N·ªôi,C√¥ng ty C·ªï ph·∫ßn X√† ph√≤ng H√† N·ªôi
...,...,...,...,...,...,...,...,...
2751,AAS,8425599,STOCK,UPCOM,Smart Invest Securities Joint Stock Company,SmartInvest Securities,Ch·ª©ng kho√°n SmartInvest,C√¥ng ty C·ªï ph·∫ßn Ch·ª©ng kho√°n SmartInvest
2752,AAM,8424957,STOCK,HSX,Mekong Fisheries Joint Stock Company,Mekong Fisheries,Th·ªßy s·∫£n Mekong,C√¥ng ty C·ªï Ph·∫ßn Th·ªßy S·∫£n MeKong
2753,AAH,13216673,STOCK,UPCOM,Hop Nhat Joint Stock Company,Hop Nhat Coal,Than H·ª£p Nh·∫•t,C√¥ng ty C·ªï ph·∫ßn H·ª£p Nh·∫•t
2754,AAA,8424464,STOCK,HSX,An Phat Bioplastics Joint Stock Company,An Phat Bioplastics,An Ph√°t Bioplastics,C√¥ng ty C·ªï ph·∫ßn Nh·ª±a An Ph√°t Xanh
2755,A32,8425330,STOCK,UPCOM,32 Joint Stock Company,32 Company,C√¥ng ty 32,C√¥ng ty C·ªï ph·∫ßn 32

### Li·ªát k√™ m√£ CP theo ng√†nh icb

In [6]:
stock.listing.symbols_by_industries()

,symbol,organ_name,en_organ_name,icb_name3,en_icb_name3,icb_name2,en_icb_name2,icb_name4,en_icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,BMK,C√¥ng ty C·ªï Ph·∫ßn K·ªπ thu·∫≠t Nhi·ªát M√®o ƒêen,Black Cat Insulation Technical Joint Stock Com...,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,Construction & Materials,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,Construction & Materials,V·∫≠t li·ªáu x√¢y d·ª±ng & N·ªôi th·∫•t,Building Materials & Fixtures,CT,2000,2300,2350,2353
1,LPT,C√¥ng ty C·ªï ph·∫ßn Th∆∞∆°ng m·∫°i v√† S·∫£n xu·∫•t L·∫≠p Ph∆∞...,Lap Phuong Thanh Production And Trading Joint ...,T∆∞ v·∫•n & H·ªó tr·ª£ Kinh doanh,Support Services,H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp,Industrial Goods & Services,ƒê√†o t·∫°o & Vi·ªác l√†m,Business Training & Employment Agencies,CT,2000,2700,2790,2793
2,ACB,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u,Asia Commercial Joint Stock Bank,Ng√¢n h√†ng,Banks,Ng√¢n h√†ng,Banks,Ng√¢n h√†ng,Banks,NH,8301,8300,8350,8355
3,CAG,C√¥ng ty C·ªï ph·∫ßn C·∫£ng An Giang,An Giang Port Joint Stock Company,V·∫≠n t·∫£i,Industrial Transportation,H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp,Industrial Goods & Services,"Kho b√£i, h·∫≠u c·∫ßn v√† b·∫£o d∆∞·ª°ng",Transportation Services,CT,2000,2700,2770,2777
4,AGR,C√¥ng ty C·ªï ph·∫ßn Ch·ª©ng kho√°n AGRIBANK,AgriBank Securities Corporation,D·ªãch v·ª• t√†i ch√≠nh,Financial Services,D·ªãch v·ª• t√†i ch√≠nh,Financial Services,M√¥i gi·ªõi ch·ª©ng kho√°n,Investment Services,CK,8000,8700,8770,8777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588,XHC,C√¥ng ty C·ªï ph·∫ßn Xu√¢n H√≤a Vi·ªát Nam,XuanHoa Viet Nam Joint Stock Company,H√†ng gia d·ª•ng,Household Goods & Home Construction,H√†ng c√° nh√¢n & Gia d·ª•ng,Personal & Household Goods,Thi·∫øt b·ªã gia d·ª•ng,Furnishings,CT,3000,3700,3720,3726
1589,XMP,C√¥ng ty C·ªï ph·∫ßn Th·ªßy ƒëi·ªán Xu√¢n Minh,Xuan Minh Hydro Power Joint Stock Company,S·∫£n xu·∫•t & Ph√¢n ph·ªëi ƒêi·ªán,Electricity,"ƒêi·ªán, n∆∞·ªõc & xƒÉng d·∫ßu kh√≠ ƒë·ªët",Utilities,S·∫£n xu·∫•t & Ph√¢n ph·ªëi ƒêi·ªán,Conventional Electricity,CT,7000,7500,7530,7535
1590,YBC,C√¥ng ty C·ªï ph·∫ßn Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,YenBai Cement and Minerals Joint Stock Company,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,Construction & Materials,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,Construction & Materials,V·∫≠t li·ªáu x√¢y d·ª±ng & N·ªôi th·∫•t,Building Materials & Fixtures,CT,2000,2300,2350,2353
1591,YBM,C√¥ng ty C·ªï ph·∫ßn Kho√°ng s·∫£n C√¥ng nghi·ªáp Y√™n B√°i,Yen Bai Industry Mineral Joint Stock Company,Khai kho√°ng,Mining,T√†i nguy√™n C∆° b·∫£n,Basic Resources,Khai kho√°ng,General Mining,CT,1000,1700,1770,1775
1592,YEG,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n Yeah1,Yeah1 Group Corporation,Truy·ªÅn th√¥ng,Media,Truy·ªÅn th√¥ng,Media,Gi·∫£i tr√≠ & Truy·ªÅn th√¥ng,Broadcasting & Entertainment,CT,5000,5500,5550,5553

### Danh s√°ch c·ªï phi·∫øu theo nh√≥m

In [7]:
# Li·ªát k√™ t·∫•t c·∫£ m√£ ch·ª©ng kho√°n theo nh√≥m ph√¢n lo·∫°i. V√≠ d·ª• HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (m√£ ch·ªâ s·ªë h·ª£p ƒë·ªìng t∆∞∆°ng lai), CW (ch·ª©ng quy·ªÅn)
stock.listing.symbols_by_group('VN30')

0     ACB
1     BCM
2     BID
3     BVH
4     CTG
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    LPB
11    MBB
12    MSN
13    MWG
14    PLX
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

### Danh s√°ch m√£ ng√†nh theo m√£ icb

In [8]:
stock.listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,S·∫£n xu·∫•t D·∫ßu kh√≠,Oil & Gas Producers,0530,3
1,"Thi·∫øt b·ªã, D·ªãch v·ª• v√† Ph√¢n ph·ªëi D·∫ßu kh√≠","Oil Equipment, Services & Distribution",0570,3
2,H√≥a ch·∫•t,Chemicals,1350,3
3,L√¢m nghi·ªáp v√† Gi·∫•y,Forestry & Paper,1730,3
4,Kim lo·∫°i,Industrial Metals & Mining,1750,3
...,...,...,...,...
150,Internet,Internet,9535,4
151,Ph·∫ßn m·ªÅm,Software,9537,4
152,Ph·∫ßn c·ª©ng,Computer Hardware,9572,4
153,Thi·∫øt b·ªã vƒÉn ph√≤ng,Electronic Office Equipment,9574,4
154,Thi·∫øt b·ªã vi·ªÖn th√¥ng,Telecommunications Equipment,9578,4

## Quote: Gi√° ch·ª©ng kho√°n

#### Gi√° l·ªãch s·ª≠

##### C·ªï phi·∫øu

In [9]:
df = stock.quote.history(start='2024-01-01', end='2025-03-19', interval='1D')
df

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  26.35  26.45  26.10  26.10   8885500
296 2025-03-14  26.20  26.20  25.90  26.00  11548600
297 2025-03-17  26.10  26.25  26.00  26.20   5664400
298 2025-03-18  26.30  26.55  26.25  26.30   6008500
299 2025-03-19  26.30  26.30  26.05  26.20   7913600

[300 rows x 6 columns]

In [10]:
# T·∫•t c·∫£ dataframe d·ªØ li·ªáu s·∫Ω ƒë∆∞·ª£c g√°n thu·ªôc t√≠nh t√™n v√† lo·∫°i t√†i s·∫£n t∆∞∆°ng ·ª©ng
print(f'M√£ ch·ª©ng kho√°n: {df.name}')
print(f'Lo·∫°i t√†i s·∫£n: {df.category}')

M√£ ch·ª©ng kho√°n: ACB
Lo·∫°i t√†i s·∫£n: stock

##### H·ª£p ƒë·ªìng t∆∞∆°ng lai

In [11]:
stock.quote.history(symbol='VN30F1M', start='2024-01-02', end='2025-03-19', interval='1D')

          time    open    high     low   close  volume
0   2024-01-02  1138.5  1141.8  1131.0  1133.5  167307
1   2024-01-03  1127.2  1149.8  1126.7  1148.3  173569
2   2024-01-04  1146.0  1171.0  1145.5  1156.5  260804
3   2024-01-05  1156.1  1166.1  1154.2  1166.0  199452
4   2024-01-08  1166.1  1173.3  1160.6  1162.0  182329
..         ...     ...     ...     ...     ...     ...
295 2025-03-13  1390.0  1393.4  1384.3  1385.5  201319
296 2025-03-14  1383.5  1393.8  1382.2  1385.0  193169
297 2025-03-17  1387.1  1391.7  1386.1  1390.3  129550
298 2025-03-18  1394.0  1395.2  1385.6  1387.5  136687
299 2025-03-19  1385.9  1385.9  1376.7  1377.0  170296

[300 rows x 6 columns]

In [12]:
stock.quote.history(symbol='VN30F2411', start='2024-01-02', end='2025-03-19', interval='1D')

         time    open    high     low   close  volume
0  2024-09-20  1331.9  1338.7  1315.0  1331.5     496
1  2024-09-23  1332.0  1333.3  1326.6  1327.3     253
2  2024-09-24  1327.3  1335.8  1323.9  1335.1     254
3  2024-09-25  1334.8  1350.8  1334.8  1344.1     511
4  2024-09-26  1346.8  1366.5  1346.8  1358.2     575
5  2024-09-27  1359.7  1363.0  1353.1  1357.0     241
6  2024-09-30  1354.9  1360.3  1351.2  1357.8     324
7  2024-10-01  1362.3  1375.0  1359.9  1363.0     379
8  2024-10-02  1354.5  1362.3  1353.9  1361.3     299
9  2024-10-03  1362.0  1377.9  1351.6  1355.0     714
10 2024-10-04  1354.2  1354.6  1344.0  1345.0     616
11 2024-10-07  1349.9  1351.3  1335.9  1340.6     567
12 2024-10-08  1341.5  1350.3  1339.4  1345.0     524
13 2024-10-09  1347.5  1360.0  1345.2  1360.0     820
14 2024-10-10  1365.0  1374.8  1361.0  1366.2     836
15 2024-10-11  1368.5  1368.9  1357.2  1368.0     940
16 2024-10-14  1379.8  1379.8  1361.6  1363.5    7235
17 2024-10-15  1365.0  1374.1  1359.8  1361.9   19903
18 2024-10-16  1360.1  1365.3  1358.0  1362.9   25411
19 2024-10-17  1365.0  1369.5  1353.8  1369.0   55333
20 2024-10-18  1374.6  1377.9  1363.8  1365.9  257597
21 2024-10-21  1364.0  1369.9  1362.5  1363.9  165731
22 2024-10-22  1360.0  1363.3  1350.0  1352.2  195827
23 2024-10-23  1353.0  1355.4  1345.1  1354.0  210171
24 2024-10-24  1352.5  1354.1  1336.1  1338.0  233341
25 2024-10-25  1338.5  1339.8  1326.0  1327.2  226084
26 2024-10-28  1330.0  1332.4  1327.2  1332.0  130507
27 2024-10-29  1334.0  1341.0  1334.0  1339.4  164121
28 2024-10-30  1341.6  1342.7  1331.5  1342.0  186935
29 2024-10-31  1339.0  1347.8  1333.7  1343.5  202412
30 2024-11-01  1340.4  1340.4  1326.1  1330.4  215897
31 2024-11-04  1332.8  1332.8  1317.1  1318.5  213933
32 2024-11-05  1319.3  1324.0  1317.4  1319.0  142162
33 2024-11-06  1325.0  1341.8  1324.0  1341.0  214890
34 2024-11-07  1342.0  1343.6  1333.5  1334.7  190000
35 2024-11-08  1337.5  1340.3  1318.3  1324.0  220730
36 2024-11-11  1323.6  1324.0  1306.1  1320.1  233948
37 2024-11-12  1321.1  1323.5  1302.7  1310.0  246958
38 2024-11-13  1305.7  1313.1  1298.2  1307.3  265510
39 2024-11-14  1306.0  1309.9  1292.9  1292.9  251563
40 2024-11-15  1292.7  1292.7  1275.1  1275.6  253504
41 2024-11-18  1271.5  1280.3  1261.8  1273.2  245512
42 2024-11-19  1272.4  1274.8  1262.2  1262.3  265393
43 2024-11-20  1260.8  1280.0  1253.5  1270.0  322061
44 2024-11-21  1267.8  1283.4  1264.6  1281.3  215891

##### Ch·ªâ s·ªë

In [13]:
stock.quote.history(symbol='VNINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time     open     high      low    close      volume
0   2024-01-02  1138.01  1139.71  1128.69  1131.72   842255467
1   2024-01-03  1131.97  1144.17  1128.32  1144.17   719932658
2   2024-01-04  1145.49  1160.08  1144.32  1150.72  1181354559
3   2024-01-05  1151.43  1155.84  1149.08  1154.68   803268328
4   2024-01-08  1157.54  1162.56  1155.48  1160.19   905408420
..         ...      ...      ...      ...      ...         ...
295 2025-03-13  1336.41  1340.91  1324.87  1326.27  1066649034
296 2025-03-14  1325.84  1333.32  1324.30  1326.15  1019963200
297 2025-03-17  1330.62  1336.26  1329.05  1336.26   951867643
298 2025-03-18  1340.59  1341.65  1330.97  1330.97   898223931
299 2025-03-19  1330.46  1330.70  1320.85  1324.63   945849600

[300 rows x 6 columns]

In [14]:
stock.quote.history(symbol='HNXINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time    open    high     low   close     volume
0   2024-01-02  230.69  232.40  229.70  229.99   59394600
1   2024-01-03  230.37  231.64  229.87  231.64   57900400
2   2024-01-04  231.63  233.66  231.63  232.56  111741500
3   2024-01-05  232.56  233.35  231.69  232.76   59577900
4   2024-01-08  232.76  234.88  232.38  233.33   82783300
..         ...     ...     ...     ...     ...        ...
295 2025-03-13  240.16  244.77  239.46  241.31   61855000
296 2025-03-14  240.80  244.22  239.44  242.73   72771700
297 2025-03-17  242.82  246.98  242.37  246.77   56438200
298 2025-03-18  246.77  250.38  246.66  247.03   47516800
299 2025-03-19  247.01  247.97  244.16  245.28   44876800

[300 rows x 6 columns]

In [15]:
stock.quote.history(symbol='UPCOMINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time    open    high    low   close    volume
0   2024-01-02   87.05   88.06  87.00   87.58  34702000
1   2024-01-03   87.62   87.92  87.26   87.80  31183200
2   2024-01-04   87.80   88.15  87.31   87.73  43019000
3   2024-01-05   87.75   88.18  87.30   87.93  38998900
4   2024-01-08   87.93   88.55  87.54   87.79  31658800
..         ...     ...     ...    ...     ...       ...
295 2025-03-13   99.32   99.93  98.76   99.00  53855000
296 2025-03-14   99.02   99.72  98.93   99.38  57628600
297 2025-03-17   99.38  100.98  99.35  100.42  44966300
298 2025-03-18  100.76  101.75  99.99  100.30  57926300
299 2025-03-19  100.68  100.72  99.09   99.36  41489700

[300 rows x 6 columns]

##### Ch·ª©ng quy·ªÅn

In [16]:
stock.quote.history(symbol='CFPT2314', start='2024-01-02', end='2025-03-19', interval='1D')

          time  open  high   low  close  volume
0   2024-01-02  1.95  1.95  1.90   1.90   13300
1   2024-01-03  1.85  1.89  1.85   1.89   11800
2   2024-01-04  1.96  1.99  1.94   1.94   50800
3   2024-01-05  1.95  1.95  1.95   1.95     500
4   2024-01-08  1.93  1.99  1.93   1.97    5700
..         ...   ...   ...   ...    ...     ...
249 2024-12-31  7.59  7.95  7.56   7.78  312200
250 2025-01-02  7.79  7.81  7.53   7.60   18700
251 2025-01-03  7.61  7.65  7.54   7.54   45600
252 2025-01-06  7.46  7.53  7.42   7.47  220400
253 2025-01-07  7.49  7.56  7.49   7.51  161300

[254 rows x 6 columns]

##### Tr√°i phi·∫øu ni√™m y·∫øt

In [17]:
stock.quote.history(symbol='CII424002', start='2024-01-02', end='2025-03-19', interval='1D')

          time    open    high     low   close  volume
0   2024-04-11  120.00  139.50  120.00  135.00  186701
1   2024-04-12  132.50  135.10  125.00  130.20  111161
2   2024-04-15  130.20  130.30  123.00  123.50   61607
3   2024-04-16  123.00  123.00  117.00  117.00   31563
4   2024-04-17  114.20  119.00  110.90  117.00   11721
..         ...     ...     ...     ...     ...     ...
227 2025-03-13  125.90  125.90  125.90  125.90      10
228 2025-03-14  125.00  126.00  125.00  126.00    2000
229 2025-03-17  126.00  127.00  126.00  127.00    6014
230 2025-03-18  127.01  128.50  127.01  128.00    1780
231 2025-03-19  127.01  127.01  127.01  127.01   83350

[232 rows x 6 columns]

#### Intraday: d·ªØ li·ªáu kh·ªõp l·ªánh

In [3]:
# D·ªØ li·ªáu kh·ªõp l·ªánh trong ng√†y giao d·ªãch realtime ho·∫∑c ng√†y g·∫ßn nh·∫•t (ngo√†i gi·ªù giao d·ªãch)
stock.quote.intraday(symbol='ACB', page_size=10_000, show_log=False)

                          time    price  volume match_type         id
0    2025-03-20 09:15:00+07:00  26400.0  116400        ATO  280611139
1    2025-03-20 09:15:02+07:00  26350.0     100       Sell  280611393
2    2025-03-20 09:15:02+07:00  26300.0     200       Sell  280611428
3    2025-03-20 09:15:16+07:00  26300.0     100       Sell  280611681
4    2025-03-20 09:15:20+07:00  26300.0     100       Sell  280611773
...                        ...      ...     ...        ...        ...
1961 2025-03-20 14:28:18+07:00  26250.0     100        Buy  281024318
1962 2025-03-20 14:28:27+07:00  26200.0     500       Sell  281024676
1963 2025-03-20 14:29:28+07:00  26200.0    1000       Sell  281027023
1964 2025-03-20 14:29:30+07:00  26200.0    7500       Sell  281027072
1965 2025-03-20 14:45:01+07:00  26250.0  149800        ATC  281028910

[1966 rows x 5 columns]

In [19]:
# B∆∞·ªõc gi√° v√† kh·ªëi l∆∞·ª£ng giao d·ªãch: realtime
stock.quote.price_depth('ACB')

   price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0  26450     118700         118700               0                    0
1  26400     550000         416300           17300               116400
2  26350     104300          63700           40600                    0
3  26300     459600         265500          194100                    0
4  26250    1417000         937100          330100               149800
5  26200    1480100         750300          729800                    0
6  26150     732900          14300          718600                    0

## Trading: Giao d·ªãch

### B·∫£ng gi√°

In [20]:
stock.trading.price_board(['ACB'])

  listing                                                                 \
   symbol ceiling  floor ref_price stock_type exchange last_trading_date
0     ACB   28000  24400     26200      STOCK      HSX

                                ...     bid_ask                           \
  listed_share   type       id  ... bid_2_price bid_2_volume bid_3_price
0   4466657912  STOCK  8424512  ...       26150       128800       26100

                                                                              \
  bid_3_volume ask_1_price ask_1_volume ask_2_price ask_2_volume ask_3_price
0       257700       26250        16500       26300       189100       26350


  ask_3_volume
0       246500

[1 rows x 41 columns]

In [21]:
stock.trading.price_board(['VCB','ACB','TCB','BID']).T # B·ªè .T ƒë·ªÉ xoay tr·ªü l·∫°i ƒë√∫ng ki·ªÉu hi·ªÉn th·ªã b·∫£ng gi√°

                                                                                  0  \
listing symbol                                                                  VCB
        ceiling                                                               71100
        floor                                                                 61900
        ref_price                                                             66500
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     8355691435
        type                                                                  STOCK
        id                                                                  8424561
        organ_name                Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ngo·∫°i th∆∞∆°ng Vi·ªát...
        prior_close_price                                                     66500
        benefit
        trading_date                                                     2025-03-20
match   match_price                                                           66800
        match_vol                                                             79600
        accumulated_volume                                                  1688900
        accumulated_value                                                    112477
        avg_match_price                                                66597.785541
        highest                                                               67000
        lowest                                                                66200
        match_type                                                          unknown
        foreign_sell_volume                                                  980181
        foreign_buy_volume                                                   932100
        current_room                                                      402467422
        total_room                                                       1676727378
        total_accumulated_value                                           112477.05
        total_accumulated_volume                                              16889
        reference_price                                                       66500
bid_ask bid_1_price                                                           66700
        bid_1_volume                                                            100
        bid_2_price                                                           66500
        bid_2_volume                                                           3700
        bid_3_price                                                           66400
        bid_3_volume                                                          23700
        ask_1_price                                                           66800
        ask_1_volume                                                          22400
        ask_2_price                                                           66900
        ask_2_volume                                                          39400
        ask_3_price                                                           67000
        ask_3_volume                                                         184800

                                                                    1  \
listing symbol                                                    ACB
        ceiling                                                 28000
        floor                                                   24400
        ref_price                                               26200
        stock_type                                              STOCK
        exchange                                                  HSX
        last_trading_date
        listed_share                                       4466657912
        type                                                    STOCK
        id                                                    8424512
        organ_name                Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u
        prior_close_price                                       26200
        benefit
        trading_date                                       2025-03-20
match   match_price                                             26250
        match_vol                                              149800
        accumulated_volume                                    4862600
        accumulated_value                                      127635
        avg_match_price                                  26248.303377
        highest                                                 26450
        lowest                                                  26150
        match_type                                            unknown
        foreign_sell_volume                                         0
        foreign_buy_volume                                          0
        current_room                                                0
        total_room                                         1339997373
        total_accumulated_value                            127635.605
        total_accumulated_volume                                48626
        reference_price                                         26200
bid_ask bid_1_price                                             26200
        bid_1_volume                                           605100
        bid_2_price                                             26150
        bid_2_volume                                           128800
        bid_3_price                                             26100
        bid_3_volume                                           257700
        ask_1_price                                             26250
        ask_1_volume                                            16500
        ask_2_price                                             26300
        ask_2_volume                                           189100
        ask_3_price                                             26350
        ask_3_volume                                           246500

                                                                                2  \
listing symbol                                                                TCB
        ceiling                                                             29150
        floor                                                               25350
        ref_price                                                           27250
        stock_type                                                          STOCK
        exchange                                                              HSX
        last_trading_date
        listed_share                                                   7064851739
        type                                                                STOCK
        id                                                                8424683
        organ_name                Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn K·ªπ th∆∞∆°ng Vi·ªát Nam
        prior_close_price                                                   27250
        benefit
        trading_date                                                   2025-03-20
match   match_price                                                         27450
        match_vol                                                          460700
        accumulated_volume                                               14430700
        accumulated_value                                                  393928
        avg_match_price                                              27297.913476
        highest                                                             27550
        lowest                                                              27100
        match_type                                                        unknown
        foreign_sell_volume                                                203806
        foreign_buy_volume                                                 370506
        current_room                                                            0
        total_room                                                     1590552461
        total_accumulated_value                                        393928.585
        total_accumulated_volume                                           144307
        reference_price                                                     27250
bid_ask bid_1_price                                                         27400
        bid_1_volume                                                        92300
        bid_2_price                                                         27350
        bid_2_volume                                                       264900
        bid_3_price                                                         27300
        bid_3_volume                                                       133100
        ask_1_price                                                         27450
        ask_1_volume                                                        94500
        ask_2_price                                                         27500
        ask_2_volume                                                       682800
        ask_3_price                                                         27550
        ask_3_volume                                                       793500

                                                                                  3
listing symbol                                                                  BID
        ceiling                                                               42550
        floor                                                                 37050
        ref_price                                                             39800
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     6897515268
        type                                                                  STOCK
        id                                                                  8424583
        organ_name                Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn ƒê·∫ßu t∆∞ v√† Ph√°t tr...
        prior_close_price                                                     39800
        benefit
        trading_date                                                     2025-03-20
match   match_price                                                           39800
        match_vol                                                            269000
        accumulated_volume                                                  2255800
        accumulated_value                                                     89537
        avg_match_price                                                39691.905311
        highest                                                               39900
        lowest                                                                39550
        match_type                                                          unknown
        foreign_sell_volume                                                  114200
        foreign_buy_volume                                                   108010
        current_room                                                      916822529
        total_room                                                       2069254580
        total_accumulated_value                                           89537.395
        total_accumulated_volume                                              22558
        reference_price                                                       39800
bid_ask bid_1_price                                                           39750
        bid_1_volume                                                           1300
        bid_2_price                                                           39700
        bid_2_volume                                                           3800
        bid_3_price                                                           39650
        bid_3_volume                                                           9200
        ask_1_price                                                           39800
        ask_1_volume                                                          60700
        ask_2_price                                                           39850
        ask_2_volume                                                         239800
        ask_3_price                                                           39900
        ask_3_volume                                                         133300

## Company: Th√¥ng tin c√¥ng ty

> ƒê√£ b·ªï sung ngu·ªìn d·ªØ li·ªáu t·ª´ VCI t·ª´ b·∫£n Vnstock3.2.0

### New - VCI

In [ ]:
# Kh·ªüi t·∫°o ƒë·ªëi t∆∞·ª£ng
from vnstock import Vnstock
company = Vnstock().stock(symbol='ACB', source='VCI').company

# ho·∫∑c
# from vnstock.explorer.vci import Company
# company = Company('ACB')

2025-03-21 04:12:41 - vnstock.common.data.data_explorer - INFO - VCI kh√¥ng h·ªó tr·ª£ ki·ªÉm tra c·ªï phi·∫øu. D·ªØ li·ªáu t·ª± ƒë·ªông tr·∫£ v·ªÅ t·ª´ TCBS.

Lo·∫°i b·ªè ƒëo·∫°n m√£ `.head()` ƒë·ªÉ xem to√†n b·ªô d·ªØ li·ªáu thay v√¨ ch·ªâ l·∫•y 5 d√≤ng ƒë·∫ßu ti√™n.

#### H·ªì s∆°

In [70]:
company.overview()

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,ACB,67505,4466657912,- Ng√†y 24/04/1993: Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph...,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u (ACB) ƒë∆∞·ª£c...,Ng√¢n h√†ng,Ng√¢n h√†ng,Ng√¢n h√†ng,4466657900,44666579120000

#### C·ªï ƒë√¥ng

In [24]:
company.shareholders()

,id,share_holder,quantity,share_own_percent,update_date
0,76403938,Vietnam Enterprise Investments Limited,212880184,5.480880e-02,2024-09-13
1,76398820,Sather Gate Investments Limited,193907186,4.990000e-02,2024-05-15
2,76380338,Estes Investments Limited,83010435,4.990000e-02,2024-05-15
3,76396604,Ph·∫°m Th·ªã Thu H√†,285000,4.990000e-02,2016-05-20
4,76400796,Tr·∫ßn H√πng Huy,153062159,3.940000e-02,2025-01-24
...,...,...,...,...,...
82,76398344,Qu·ªπ ƒê·∫ßu t∆∞ C·ªï phi·∫øu NƒÉng ƒë·ªông B·∫£o Vi·ªát,22065,1.327000e-05,2025-02-03
83,76378613,ƒêinh Th·ªã Hoa,67200,1.200000e-05,2025-01-24
84,76376746,C√¥ng Ty TNHH MTV Nh·∫≠t Qu√¢n Hq,29756,6.700000e-06,2025-03-19
85,76374588,C√¥ng ty C·ªï ph·∫ßn Ch·ª©ng kho√°n Thi√™n Vi·ªát,5285,1.500000e-06,2022-07-25
86,76388280,Nguy·ªÖn H·ªìng Nga,2008,7.000000e-07,2022-08-31

#### C√¥ng ty con

In [25]:
company.subsidiaries()

,id,sub_organ_code,ownership_percent,organ_name
0,21623307,ACBA,1,C√¥ng Ty TNHH Qu·∫£n L√Ω N·ª£ V√† Khai Th√°c T√†i S·∫£n N...
1,21623308,ACBL,1,C√¥ng Ty TNHH M·ªôt Th√†nh Vi√™n Cho Thu√™ T√†i Ch√≠nh...
2,21623309,ACBS,1,C√¥ng ty TNHH Ch·ª©ng kho√°n ACB

#### C√¥ng ty li√™n k·∫øt

In [26]:
# Ph∆∞∆°ng th·ª©c n√†y kh√¥ng c√≥ trong ngu·ªìn TCBS
company.affiliate()

,id,sub_organ_code,organ_name,share_own_percent
0,21623311,ACBD,C√îNG TY C·ªî PH·∫¶N D·ªäCH V·ª§ B·∫¢O V·ªÜ NG√ÇN H√ÄNG √Å CH√ÇU,None
1,21623310,SGGS,C√¥ng ty C·ªï ph·∫ßn S√†i G√≤n Kim ho√†n ACB- SJC,None

#### L√£nh ƒë·∫°o

In [27]:
company.officers(filter_by='working').head() # filter_by='all' ho·∫∑c 'working' ho·∫∑c 'resigned'

,id,officer_name,officer_position,position_short_name,update_date,officer_own_percent,quantity
0,6,Tr·∫ßn H√πng Huy,Ch·ªß t·ªãch H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,Ch·ªß t·ªãch HƒêQT,2025-01-24,0.0394,153062159
1,7,ƒê·∫∑ng Thu Th·ªßy,Th√†nh vi√™n H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,TV HƒêQT,2025-01-24,0.0137,53350036
2,11,ƒê·∫∑ng Ph√∫ Vinh,Gi√°m ƒë·ªëc kh·ªëi,Gƒê Kh·ªëi,2025-01-24,0.0042,16454507
3,13,ƒê·ªó Minh To√†n,T·ªïng Gi√°m ƒë·ªëc,TGƒê,2025-01-24,0.0008,3202886
4,8,Nguy·ªÖn Th√†nh Long,Ph√≥ Ch·ªß t·ªãch H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,Ph√≥ Ch·ªß t·ªãch HƒêQT,2025-01-24,0.0004,1647067

#### Tin t·ª©c

In [28]:
company.news().head(3)

,id,news_title,news_sub_title,friendly_sub_title,news_image_url,news_source_link,created_at,public_date,updated_at,lang_code,news_id,news_short_content,news_full_content,close_price,ref_price,floor,ceiling,price_change_pct
0,6944486,ACB: C√¥ng ty TNHH MTV Nh·∫≠t Qu√¢n HQ ƒëƒÉng k√Ω b√°...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1742315220000,None,vi,11497368,ACB: Th√¥ng b√°o giao d·ªãch c·ªï phi·∫øu c·ªßa t·ªï ch·ª©c...,<p>C√¥ng ty TNHH MTV Nh·∫≠t Qu√¢n HQ¬†th√¥ng b√°o gia...,26300,26200,24400,28000,0.003817
1,6944221,ACB: Ngh·ªã quy·∫øt HƒêQT v·ªÅ ph∆∞∆°ng √°n ph√°t h√†nh t...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1742232240000,None,vi,11495998,ACB: Ngh·ªã quy·∫øt HƒêQT v·ªÅ ph∆∞∆°ng √°n ph√°t h√†nh t...,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë...,26200,26000,24200,27800,0.007692
2,6894216,ACB: Th√¥ng b√°o t·ªï ch·ª©c ƒêHƒêCƒê th∆∞·ªùng ni√™n nƒÉm ...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1741777260000,None,vi,11490584,ACB: Th√¥ng b√°o t·ªï ch·ª©c ƒêHƒêCƒê th∆∞·ªùng ni√™n nƒÉm ...,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u¬†th√¥ng b...,26300,26450,24600,28300,-0.005671

#### S·ª± ki·ªán

In [29]:
company.events().head(3)

,id,event_title,en__event_title,public_date,issue_date,source_url,event_list_code,ratio,value,record_date,exright_date,event_list_name,en__event_list_name
0,18149,ACB- Ni√™m y·∫øt b·ªï sung 498.821.183 c·ªï phi·∫øu,"ACB- Lists additional 498,821,183 shares",2020-09-30,2020-10-05,http://fiinpro.com/News/Detail/5835123?lang=vi-VN,AIS,0.0,0.0,1753-01-01,1753-01-01,Ni√™m y·∫øt th√™m,Additional Listing
1,18128,Tr·∫£ c·ªï t·ª©c b·∫±ng ti·ªÅn m·∫∑t,,2010-10-29,2010-11-30,,DIV,NaN,NaN,2010-11-10,2010-11-08,Tr·∫£ c·ªï t·ª©c b·∫±ng ti·ªÅn m·∫∑t,Cash Dividend
2,18133,Tr·∫£ c·ªï t·ª©c b·∫±ng ti·ªÅn m·∫∑t,,2011-12-20,2012-01-18,,DIV,NaN,NaN,2012-01-05,2012-01-03,Tr·∫£ c·ªï t·ª©c b·∫±ng ti·ªÅn m·∫∑t,Cash Dividend

#### B√°o c√°o ph√¢n t√≠ch

In [30]:
company.reports()

,date,description,link,name
0,2025-01-22T00:00:00Z,Ng√¢n h√†ng Th∆∞∆°ng M·∫°i C·ªï Ph·∫ßn √Å Ch√¢u (ACB) ƒë√£ c...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - T·∫≠p trung v√†o tƒÉng tr∆∞·ªüng t√≠n d·ª•ng h∆°n t...
1,2024-10-24T00:00:00Z,Ng√¢n h√†ng TMCP √Å Ch√¢u (ACB) c√¥ng b·ªë KQKD 9 th√°...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB ‚Äì NOII th·∫•p h∆°n d·ª± ki·∫øn, ·∫£nh h∆∞·ªüng ti√™u c·ª±..."
2,2024-09-09T00:00:00Z,- Ch√∫ng t√¥i ti·∫øp t·ª•c duy tr√¨ gi√° m·ª•c ti√™u ƒë·ªëi ...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +35,0%] - TƒÉng d·ª± b√°o tƒÉng tr∆∞·ªüng t√≠n..."
3,2024-07-23T00:00:00Z,ACB ƒë√£ c√¥ng b·ªë KQKD n·ª≠a ƒë·∫ßu nƒÉm 2024 v·ªõi thu n...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB - T√≠n d·ª•ng tƒÉng tr∆∞·ªüng m·∫°nh, ch·∫•t l∆∞·ª£ng t√†..."
4,2024-06-04T00:00:00Z,"- Ch√∫ng t√¥i ƒëi·ªÅu ch·ªânh tƒÉng 8,6% gi√° m·ª•c ti√™u ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +33,7%] - NIM t∆∞∆°ng ƒë·ªëi ƒëi ngang tron..."
5,2024-04-26T00:00:00Z,"ACB ƒë√£ c√¥ng b·ªë KQKD qu√Ω 1/2024 v·ªõi TOI ƒë·∫°t 8,2...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB ‚Äì NOII th·∫•p, ch·∫•t l∆∞·ª£ng t√†i s·∫£n ƒë∆∞·ª£c duy t..."
6,2024-04-04T00:00:00Z,Ch√∫ng t√¥i ƒë√£ tham d·ª± ƒêHCƒê c·ªßa Ng√¢n h√†ng TMCP √Å...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB - T√≠n d·ª•ng tƒÉng tr∆∞·ªüng m·∫°nh, duy tr√¨ t·ª∑ l·ªá..."
7,2024-03-05T00:00:00Z,"- Ch√∫ng t√¥i ƒëi·ªÅu ch·ªânh tƒÉng 7,6% gi√° m·ª•c ti√™u ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +26,3%] - TƒÉng tr∆∞·ªüng ·ªïn ƒë·ªãnh nh·ªù cho..."
8,2024-01-26T00:00:00Z,"ACB c√¥ng b·ªë KQKD nƒÉm 2023 v·ªõi TOI ƒë·∫°t 32,7 ngh...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB ‚Äì TƒÉng tr∆∞·ªüng t√≠n d·ª•ng v∆∞·ª£t k·ª≥ v·ªçng, l·ª£i n..."
9,2023-11-15T00:00:00Z,- Ch√∫ng t√¥i ƒëi·ªÅu ch·ªânh tƒÉng gi√° m·ª•c ti√™u cho N...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +42,7%] - Chi·∫øn l∆∞·ª£c r·ªßi ro th·∫•p mang..."

#### T√¨nh h√¨nh t√†i ch√≠nh

In [31]:
company.ratio_summary()

,symbol,year_report,length_report,update_date,revenue,revenue_growth,net_profit,net_profit_growth,ebit_margin,roe,...,rtq4,charter_capital_ratio,rtq10,dividend,ebitda,ebit,le,de,ccc,rtq17
0,ACB,2024,5,1741199572843,50902749000000,-0.027586,16789768000000,0.046435,0,0.217459,...,0,1.868549,0,0,0,0,0,0,None,0

#### Th·ªëng k√™ giao d·ªãch

In [32]:
company.trading_stats()

,symbol,exchange,ev,ceiling,floor,ref_price,open,match_price,close_price,price_change,...,high_price_1y,low_price_1y,pct_low_change_1y,pct_high_change_1y,foreign_volume,foreign_room,avg_match_volume_2w,foreign_holding_room,current_holding_ratio,max_holding_ratio
0,ACB,HOSE,117249769875000,28000,24400,26200,26400,26250,26250,50,...,26800,22218,0.174812,-0.015009,0,1339997373,8108407,1339997373,0.3,0.3

### TCBS

In [43]:
from vnstock import Vnstock

company = Vnstock().stock(symbol='VCB', source='TCBS').company

2025-03-21 02:29:44 - vnstock.common.data.data_explorer - INFO - TCBS kh√¥ng cung c·∫•p th√¥ng tin danh s√°ch. D·ªØ li·ªáu t·ª± ƒë·ªông tr·∫£ v·ªÅ t·ª´ VCI.

#### T·ªïng quan

In [44]:
company.overview()

,symbol,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,VCB,HOSE,Ng√¢n h√†ng,NH,25183,0.228,8355.7,5589.1,2008,24306,3.0,0.022,0.062,0.014,Vietcombank,https://vietcombank.com.vn,289,8355

#### H·ªì s∆°

In [45]:
company.profile()

,symbol,company_name,company_profile,history_dev,company_promise,business_risk,key_developments,business_strategies
0,VCB,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ngo·∫°i th∆∞∆°ng Vi·ªát...,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ngo·∫°i th∆∞∆°ng Vi·ªá...,Ng√†y 30/10/1962: Ng√¢n h√†ng Ngo·∫°i th∆∞∆°ng Vi·ªát...,None,R·ªßi ro ƒë·ªãa ch√≠nh tr·ªã v√† nguy c∆° chi·∫øn tranh ...,D·ªãch v·ª• t√†i kho·∫£n D·ªãch v·ª• huy ƒë·ªông v·ªën (ti·ªÅn...,"Ng√¢n h√†ng s·ªë 1 t·∫°i Vi·ªát Nam, m·ªôt trong 100 ng..."

#### C·ªï ƒë√¥ng

In [46]:
company.shareholders()

                  share_holder  share_own_percent
0  Ng√¢n H√†ng Nh√† N∆∞·ªõc Vi·ªát Nam             0.7480
1          Mizuho Bank Limited             0.1500
2                         Kh√°c             0.0207

#### Giao d·ªãch n·ªôi b·ªô

In [47]:
company.insider_deals().head(3)

,deal_announce_date,deal_method,deal_action,deal_quantity,deal_price,deal_ratio
0,2025-02-20,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,10000.0,61338.0,0.089
1,2023-12-21,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,5000.0,54114.0,0.234
2,2020-12-30,C·ªï ƒë√¥ng s√°ng l·∫≠p,B√°n,-2523.0,42927.0,0.556

#### C√¥ng ty con, li√™n k·∫øt

In [48]:
company.subsidiaries().head()

                                    sub_company_name  sub_own_percent
0  C√¥ng ty TNHH Ch·ª©ng kho√°n Ng√¢n h√†ng Th∆∞∆°ng m·∫°i ...              1.0
1  C√¥ng Ty TNHH M·ªôt Th√†nh Vi√™n Ki·ªÅu H·ªëi Ng√¢n H√†ng...              1.0
2  C√¥ng ty TNHH MTV Cho Thu√™ T√†i Ch√≠nh Ng√¢n H√†ng ...              1.0
3      C√¥ng ty TNHH T√†i Ch√≠nh Vi·ªát Nam T·∫°i H·ªìng K√¥ng              1.0
4   Ng√¢n H√†ng TNHH MTV Ngo·∫°i Th∆∞∆°ng Vi·ªát Nam T·∫°i L√†o              1.0

#### Ban l√£nh ƒë·∫°o

In [49]:
company.officers().head()

         officer_name              officer_position  officer_own_percent
3   Nguy·ªÖn Danh L∆∞∆°ng  Th√†nh vi√™n H·ªôi ƒë·ªìng Qu·∫£n tr·ªã                  0.0
10     L√™ Th·ªã Kim Nga  Th√†nh vi√™n H·ªôi ƒë·ªìng Qu·∫£n tr·ªã                  0.0
15         L√™ Th·ªã Hoa  Th√†nh vi√™n H·ªôi ƒë·ªìng Qu·∫£n tr·ªã                  0.0
12   ƒê·ªó Th·ªã Mai H∆∞∆°ng      Th√†nh vi√™n Ban ki·ªÉm so√°t                  0.0
5   Nguy·ªÖn Danh L∆∞∆°ng   Ph·ª• tr√°ch C√¥ng b·ªë th√¥ng tin                  0.0

#### S·ª± ki·ªán

In [50]:
company.events().head()

The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.

,rsi,rs,id,price,price_change,price_change_ratio,price_change_ratio_1m,event_name,event_code,notify_date,exer_date,reg_final_date,exer_right_date,event_desc
0,73.4,58.0,2584165,66700.0,1950.0,0.030,0.090,VCB - T·ªï ch·ª©c ƒêHƒêCƒê th∆∞·ªùng ni√™n 2025,AGME,2025-03-12,2025-04-26,2025-03-26,2025-03-25,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ngo·∫°i th∆∞∆°ng Vi·ªát...
1,54.0,37.0,2583928,62542.0,334.0,0.005,0.006,"VCB - Ph√°t h√†nh c·ªï phi·∫øu tr·∫£ c·ªï t·ª©c t·ª∑ l·ªá 49,5%",ISS,2025-03-06,2025-03-12,2025-03-13,2025-03-12,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ngo·∫°i th∆∞∆°ng Vi·ªát...
2,46.6,29.0,2582516,61338.0,0.0,0.000,0.000,VCB - K·∫øt qu·∫£ giao d·ªãch n·ªôi b·ªô/CƒêL,DDALL,2025-02-20,2025-02-19,1753-01-01,1753-01-01,- C√° nh√¢n/T·ªï ch·ª©c th·ª±c hi·ªán giao d·ªãch: Ph√πng N...
3,55.4,44.0,2581736,62208.0,67.0,0.001,0.008,VCB - Th√¥ng b√°o ƒëƒÉng k√Ω giao d·ªãch n·ªôi b·ªô/CƒêL,DDALL,2025-02-07,2025-03-12,1753-01-01,1753-01-01,- C√° nh√¢n/T·ªï ch·ª©c th·ª±c hi·ªán giao d·ªãch: Ph√πng N...
4,52.8,52.0,2580835,61940.0,67.0,0.001,0.005,VCB - BCTC Qu√Ω 4/2024,KQQY,2025-01-24,2025-01-24,1753-01-01,1753-01-01,VCB - BCTC Qu√Ω 4/2024

#### Tin t·ª©c

In [51]:
company.news().head()

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date
0,70.4,70.0,66500,-300,-0.004,0.084,11498692,VCB: HƒêQT ph√™ duy·ªát ƒëi·ªÅu ch·ªânh gi·ªõi h·∫°n t√≠n d...,TCBS,2025-03-19 15:31:00
1,70.4,70.0,66500,-300,-0.004,0.084,11498688,VCB: HƒêQT ph√™ duy·ªát gi·ªõi h·∫°n t√≠n d·ª•ng ƒë·ªëi v·ªõi...,TCBS,2025-03-19 15:30:00
2,68.2,63.0,66000,500,0.008,0.077,11494381,VCB: Ngh·ªã quy·∫øt HƒêQT v·ªÅ vi·ªác ph√™ duy·ªát gi·ªõi h...,TCBS,2025-03-14 17:15:00
3,73.4,58.0,66700,1950,0.030,0.090,11490285,VCB: Th√¥ng b√°o v·ªÅ ng√†y ƒëƒÉng k√Ω cu·ªëi c√πng t·ªï c...,TCBS,2025-03-12 09:16:00
4,57.7,40.0,63612,1070,0.017,0.023,11486535,VCB: Ngh·ªã quy·∫øt v√† Bi√™n b·∫£n h·ªçp ƒêHƒêCƒê b·∫•t th∆∞...,TCBS,2025-03-07 18:21:00

#### C·ªï t·ª©c

In [52]:
company.dividends().head()

  exercise_date  cash_year  cash_dividend_percentage issue_method
0    2025-03-12       2025                     0.495        share
1    2023-07-25       2023                     0.181        share
2    2021-12-22       2022                     0.276        share
3    2021-12-22       2020                     0.120         cash
4    2020-12-21       2019                     0.080         cash

## Finance: B√°o c√°o t√†i ch√≠nh

In [53]:
from vnstock import Vnstock
stock = Vnstock().stock(symbol='VCI', source='VCI')

2025-03-21 02:29:54 - vnstock.common.data.data_explorer - INFO - VCI kh√¥ng h·ªó tr·ª£ ki·ªÉm tra c·ªï phi·∫øu. D·ªØ li·ªáu t·ª± ƒë·ªông tr·∫£ v·ªÅ t·ª´ TCBS.

### B·∫£ng c√¢n ƒë·ªëi k·∫ø to√°n

In [54]:
stock.finance.balance_sheet(period='year', lang='vi', dropna=True)

,CP,NƒÉm,T√ÄI S·∫¢N NG·∫ÆN H·∫†N (ƒë·ªìng),Ti·ªÅn v√† t∆∞∆°ng ƒë∆∞∆°ng ti·ªÅn (ƒë·ªìng),Gi√° tr·ªã thu·∫ßn ƒë·∫ßu t∆∞ ng·∫Øn h·∫°n (ƒë·ªìng),C√°c kho·∫£n ph·∫£i thu ng·∫Øn h·∫°n (ƒë·ªìng),H√†ng t·ªìn kho r√≤ng,T√†i s·∫£n l∆∞u ƒë·ªông kh√°c,T√ÄI S·∫¢N D√ÄI H·∫†N (ƒë·ªìng),T√†i s·∫£n c·ªë ƒë·ªãnh (ƒë·ªìng),...,"H√†ng t·ªìn kho, r√≤ng (ƒë·ªìng)",T√†i s·∫£n l∆∞u ƒë·ªông kh√°c (ƒë·ªìng),C·ªï phi·∫øu ph·ªï th√¥ng (ƒë·ªìng),V·ªën g√≥p c·ªßa ch·ªß s·ªü h·ªØu (ƒë·ªìng),Vay v√† n·ª£ thu√™ t√†i ch√≠nh d√†i h·∫°n (ƒë·ªìng),Ng∆∞·ªùi mua tr·∫£ ti·ªÅn tr∆∞·ªõc ng·∫Øn h·∫°n (ƒë·ªìng),Vay v√† n·ª£ thu√™ t√†i ch√≠nh ng·∫Øn h·∫°n (ƒë·ªìng),Tr·∫£ tr∆∞·ªõc d√†i h·∫°n (ƒë·ªìng),T√†i s·∫£n d√†i h·∫°n kh√°c (ƒë·ªìng),L·ª¢I √çCH C·ª¶A C·ªî ƒê√îNG THI·ªÇU S·ªê
0,VCI,2024,26491835561026,4743771932745,21072524575199,506858248065,0,168680805017,100288918214,37268698440,...,0,135374861200,7.180995e+12,7180994800000,0,2743133560,12573864000000,6238956911,0,0.000000e+00
1,VCI,2023,17174448616966,787897819240,15097165308797,1094491429414,0,194894059515,80686039559,23425609453,...,0,147257185100,4.375000e+12,4375000000000,0,378319774,8979275000000,7943878800,0,0.000000e+00
2,VCI,2022,14157693071824,3423501614803,10562264962864,120085485886,0,51841008271,85058244998,23496558588,...,0,46136989800,4.354999e+12,4354999010000,0,221000000,6326207142857,13290531600,0,0.000000e+00
3,VCI,2021,16568965942558,1131748599533,14998113044339,285206345277,0,153897953409,67299004559,13155825424,...,0,150714917648,3.330000e+12,3330000000000,0,52551076244,6362680000000,10702485700,0,0.000000e+00
4,VCI,2020,8312170798945,642512983590,6697916243107,221798617565,0,97527648804,70234326495,14384201512,...,0,91333803000,1.656000e+12,1656000000000,0,7971369863,2696130000000,12950546970,0,0.000000e+00
5,VCI,2019,7173102515011,794511762602,5817229478552,747087592357,0,165433739031,69857713462,9907318916,...,0,164204396000,1.644000e+12,1644000000000,0,210000000,1450980000000,17085900679,0,0.000000e+00
6,VCI,2018,6430493843962,1144361568890,5252959790479,30487868695,0,2684615898,79502079245,18226354386,...,0,0,1.629999e+12,1629998900000,0,126324890101,984860000000,25494063880,0,0.000000e+00
7,VCI,2017,6342806740944,486703202803,5709256554482,28256236703,0,118590746956,59205004260,25326131092,...,0,116156411000,1.200000e+12,1200000000000,0,462392057000,1434460418662,2171535344,0,0.000000e+00
8,VCI,2016,3075625891871,545670784533,2481417250820,44869461531,0,7607339062,34921874969,9489824544,...,0,1335936000,1.032000e+12,1032000000000,0,571264678998,627508000000,4433448206,0,7.721605e+10
9,VCI,2015,2423478575254,158181741192,2092718191471,78849205458,0,92517941380,39867670505,14899441202,...,0,87885991500,5.000000e+11,500000000000,0,799974087998,535500000000,9817929938,0,7.475699e+10
10,VCI,2014,2707101348631,618777857754,1939716412996,141064801745,14179400,7528096736,63219168401,18390029859,...,14179400,3095401526,5.000000e+11,500000000000,0,840646942003,266511750000,14560154043,14160000000,7.604128e+10
11,VCI,2013,2090711345801,312645301464,1659030664666,117641213076,16677400,1377489195,41576018914,11027268785,...,16677400,87777500,0.000000e+00,398400000000,0,470366997300,648400000000,16231644217,0,0.000000e+00
12,VCI,2011,1795452129469,111616718751,1059922610501,614818783909,12320284,9081696024,622201775573,7612776214,...,12320284,6609715987,3.780000e+11,378000000000,500000000000,121749992655,582426780000,0,594640525000,0.000000e+00

In [55]:
stock.finance.balance_sheet(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,CURRENT ASSETS (Bn. VND),Cash and cash equivalents (Bn. VND),Short-term investments (Bn. VND),Accounts receivable (Bn. VND),Net Inventories,Other current assets,LONG-TERM ASSETS (Bn. VND),...,Other current assets (Bn. VND),Common shares (Bn. VND),Paid-in capital (Bn. VND),Long-term borrowings (Bn. VND),Advances from customers (Bn. VND),Short-term borrowings (Bn. VND),Long-term prepayments (Bn. VND),Other long-term assets (Bn. VND),Goodwill,MINORITY INTERESTS
0,VCI,2024,4,26491835561026,4743771932745,21072524575199,506858248065,0,168680805017,100288918214,...,135374861200,7.180995e+12,7180994800000,0,2743133560,12573864000000,6238956911,0,0,0.0
1,VCI,2024,3,20322217963459,2543516547760,17408880681428,235746508338,0,134074225933,92945134178,...,122374861200,5.744695e+12,5744694800000,0,4431803623,10832654000000,7503462322,0,0,0.0
2,VCI,2024,2,23009916452730,3903157759657,17775135464006,931122579216,0,400500649851,95455335905,...,372374861200,4.419000e+12,4419000000000,0,1753351687,12392104000000,8879984392,0,0,0.0
3,VCI,2024,1,19458498860847,1040594399692,17454154906730,702530886335,0,261218668090,86105265555,...,227872273100,4.375000e+12,4375000000000,0,1083817322,10239557000000,9017164629,0,0,0.0
4,VCI,2023,4,17174448616966,787897819240,15097165308797,1094491429414,0,194894059515,80686039559,...,147257185100,4.375000e+12,4375000000000,0,378319774,8979275000000,7943878800,0,0,0.0

### B√°o c√°o l√£i l·ªó

In [56]:
stock.finance.income_statement(period='year', lang='vi', dropna=True).head()

,CP,NƒÉm,Doanh thu (ƒë·ªìng),TƒÉng tr∆∞·ªüng doanh thu (%),L·ª£i nhu·∫≠n sau thu·∫ø c·ªßa C·ªï ƒë√¥ng c√¥ng ty m·∫π (ƒë·ªìng),TƒÉng tr∆∞·ªüng l·ª£i nhu·∫≠n (%),Doanh thu thu·∫ßn,Gi√° v·ªën h√†ng b√°n,L√£i g·ªôp,Thu nh·∫≠p t√†i ch√≠nh,...,L·ª£i nhu·∫≠n kh√°c,LN tr∆∞·ªõc thu·∫ø,Chi ph√≠ thu·∫ø TNDN hi·ªán h√†nh,Chi ph√≠ thu·∫ø TNDN ho√£n l·∫°i,L·ª£i nhu·∫≠n thu·∫ßn,C·ªï ƒë√¥ng thi·ªÉu s·ªë,C·ªï ƒë√¥ng c·ªßa C√¥ng ty m·∫π,Doanh thu b√°n h√†ng v√† cung c·∫•p d·ªãch v·ª•,Thu nh·∫≠p kh√°c,Thu nh·∫≠p/Chi ph√≠ kh√°c
0,VCI,2024,3695525335470,0.494675,910692113293,0.851359,3695525335470,-1717402022529,1978123312941,5.063321e+10,...,2785303975,1089337104906,-178605980097,-39011516,910692113293,0,910692113293,3695525335470,3094145678,-308841703
1,VCI,2023,2472460543397,-0.216644,491904659394,-0.433927,2472460543397,-1063597101525,1408863441872,2.369615e+10,...,128411319,570138640134,-64320454739,-13913526001,491904659394,0,491904659394,2472460543397,132390105,-3978786
2,VCI,2022,3156242736345,-0.148588,868978185802,-0.420186,3156242736345,-1398531179478,1757711556867,3.554843e+10,...,43696276107,1059738713385,-250981079495,60220551912,868978185802,0,868978185802,3156242736345,44543029091,-846752984
3,VCI,2021,3707068724492,1.143320,1498718375328,0.949141,3707068724492,-1326133822522,2380934901970,2.561687e+10,...,-267786912,1850585393088,-309748513618,-42118504142,1498718375328,0,1498718375328,3707068724492,69316632,-337103544
4,VCI,2020,1729591590563,0.122423,768912289421,0.109253,1729591590563,-522004485232,1207587105331,5.858556e+09,...,621078878,951038957081,-182422798514,296130854,768912289421,0,768912289421,1729591590563,621078878,0

In [57]:
stock.finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Net Sales,Cost of Sales,Gross Profit,...,Net other income/expenses,Profit before tax,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Minority Interest,Attributable to parent company,Sales,Other income,Other Income/Expenses
0,VCI,2024,4,998995850627,0.239917,218376745828,0.776135,998995850627,-519893652425,479102198202,...,21194452,253335115979,-35884665831,926295680,218376745828,0,218376745828,998995850627,23636364,-2441912
1,VCI,2024,3,974360554621,0.461496,215352225175,0.203064,974360554621,-468140246243,506220308378,...,0,264695399242,-40189361297,-9153812770,215352225175,0,215352225175,974360554621,0,0
2,VCI,2024,2,915851554761,0.828529,279206679897,1.388492,915851554761,-359336052126,556515502635,...,2826585413,343766121537,-64821621464,262179824,279206679897,0,279206679897,915851554761,2837985204,-11399791
3,VCI,2024,1,806317375461,0.615187,197756462393,1.706977,806317375461,-370032071735,436285303726,...,-62475890,227540468148,-37710331505,7926325750,197756462393,0,197756462393,806317375461,232524110,-295000000
4,VCI,2023,4,805695933425,0.011994,122950502675,3.324213,805695933425,-419422487555,386273445870,...,13012123,149131831394,-7570702516,-18610626203,122950502675,0,122950502675,805695933425,16990909,-3978786

### B√°o c√°o l∆∞u chuy·ªÉn ti·ªÅn t·ªá

In [58]:
stock.finance.cash_flow(period='year', dropna=True).head()

,ticker,yearReport,Net Profit/Loss before tax,Depreciation and Amortisation,Provision for credit losses,Unrealized foreign exchange gain/loss,Profit/Loss from investing activities,Interest Expense,Interest income and dividends,Operating profit before changes in working capital,...,Payments for share repurchases,Proceeds from borrowings,Repayment of borrowings,Dividends paid,Cash flows from financial activities,Net increase/decrease in cash and cash equivalents,Cash and cash equivalents,Cash and Cash Equivalents at the end of period,_Increase/Decrease in receivables,_Increase/Decrease in payables
0,VCI,2024,1089337104906,10751194638,4516800000,0,0,764124674808,-8.608679e+10,-5169139240487,...,0,28212221000000,-24737632000000,-177803580300,7371225419700,3955874113505,787897819240,4743771932745,0,65609975849
1,VCI,2023,570138640134,9679599271,11292000000,0,0,562553033255,-1.032191e+11,-5407321967895,...,0,20322010000000,-18096042142857,-522119971000,1727849074143,-2635603795563,3423501614803,787897819240,0,3923102445
2,VCI,2022,1059738713385,9647191174,0,0,154602984,477360036322,-5.948490e+10,2006811362129,...,0,15126047142857,-16579490000000,0,-1428442857143,2291753015270,1131748599533,3423501614803,0,-119194100124
3,VCI,2021,1850585393088,7496942452,-214202387,0,0,330776772616,-4.785212e+10,-5732733292320,...,0,16591566600000,-11629266600000,-730123222800,4245676777200,489235615943,642512983590,1131748599533,5939376000,88803338332
4,VCI,2020,951038957081,10634646105,-35400000,0,-500000000,173513458172,-2.094800e+10,-1673271187005,...,-852000000,7065840000000,-6233940000000,-411641446500,432858721500,-151998779012,794511762602,642512983590,57321090000,-265045502541

In [59]:
stock.finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Net Sales,Cost of Sales,Gross Profit,...,Net other income/expenses,Profit before tax,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Minority Interest,Attributable to parent company,Sales,Other income,Other Income/Expenses
0,VCI,2024,4,998995850627,0.239917,218376745828,0.776135,998995850627,-519893652425,479102198202,...,21194452,253335115979,-35884665831,926295680,218376745828,0,218376745828,998995850627,23636364,-2441912
1,VCI,2024,3,974360554621,0.461496,215352225175,0.203064,974360554621,-468140246243,506220308378,...,0,264695399242,-40189361297,-9153812770,215352225175,0,215352225175,974360554621,0,0
2,VCI,2024,2,915851554761,0.828529,279206679897,1.388492,915851554761,-359336052126,556515502635,...,2826585413,343766121537,-64821621464,262179824,279206679897,0,279206679897,915851554761,2837985204,-11399791
3,VCI,2024,1,806317375461,0.615187,197756462393,1.706977,806317375461,-370032071735,436285303726,...,-62475890,227540468148,-37710331505,7926325750,197756462393,0,197756462393,806317375461,232524110,-295000000
4,VCI,2023,4,805695933425,0.011994,122950502675,3.324213,805695933425,-419422487555,386273445870,...,13012123,149131831394,-7570702516,-18610626203,122950502675,0,122950502675,805695933425,16990909,-3978786

### Ch·ªâ s·ªë t√†i ch√≠nh

In [60]:
stock.finance.ratio(period='year', lang='vi', dropna=True).head()

  Meta          Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën                           \
    CP   NƒÉm K·ª≥          (Vay NH+DH)/VCSH   N·ª£/VCSH TSCƒê / V·ªën CSH
0  VCI  2024  5                  0.971382  1.054349       0.002879
1  VCI  2023  5                  1.218152  1.340876       0.003178
2  VCI  2022  5                  0.973942  1.192721       0.003617
3  VCI  2021  5                  0.972610  1.543047       0.002011
4  VCI  2020  5                  0.596293  0.853905       0.003181

                      Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông                 \
  V·ªën CSH/V·ªën ƒëi·ªÅu l·ªá           V√≤ng quay t√†i s·∫£n V√≤ng quay TSCƒê
0            1.802578                    0.168564     121.775022
1            1.026491                    0.156992     105.385605
2            0.904536                    0.204426     172.225781
3            0.910997                    0.296344     269.213152
4            0.629646                    0.221383     142.402909

                              ... Ch·ªâ ti√™u thanh kho·∫£n Ch·ªâ ti√™u ƒë·ªãnh gi√°  \
  S·ªë ng√†y thu ti·ªÅn b√¨nh qu√¢n  ...    ƒê√≤n b·∫©y t√†i ch√≠nh               P/B
0                        0.0  ...             2.054349          2.174663
1                        0.0  ...             2.340876          1.970499
2                        0.0  ...             2.192721          2.866248
3                        0.0  ...             2.543047          1.183493
4                        0.0  ...             1.853905          2.666309

                                                                    \
  V·ªën h√≥a (T·ª∑ ƒë·ªìng) S·ªë CP l∆∞u h√†nh (Tri·ªáu CP)        P/E       P/S
0    28149499616000                 718099480  30.910007  7.617185
1    14525000000000                 437500000  29.528080  5.874715
2    18617620767750                 435499901  21.424727  5.898666
3     7742250000000                 333000000   5.165914  2.088510
4    12055680000000                 165600000  15.678875  6.970247


  P/Cash Flow    EPS (VND)    BVPS (VND)  EV/EBITDA
0   -8.318289  1268.197706  18025.783068  19.509871
1   -3.334822  1124.353507  16848.524590  17.525975
2    4.975461  1995.357941  14914.970490  12.729467
3   -2.064593  4500.655782  19645.234971   5.895364
4  -21.093469  4643.190154  27303.662559  12.313747

[5 rows x 37 columns]

In [61]:
stock.finance.ratio(period='quarter', lang='en', dropna=True).head()

    Meta                         Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën              \
  ticker yearReport lengthReport (ST+LT borrowings)/Equity Debt/Equity
0    VCI       2024            4                  0.971382    1.054349
1    VCI       2024            3                  1.253482    1.362305
2    VCI       2024            2                  1.398891    1.608265
3    VCI       2024            1                  1.252192    1.390102
4    VCI       2023            4                  1.218152    1.340876

                                                        \
  Fixed Asset-To-Equity Owners' Equity/Charter Capital
0              0.002879                       1.802578
1              0.003381                       1.203462
2              0.003615                       1.233606
3              0.002676                       1.138743
4              0.003178                       1.026491

  Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông                                              \
               Asset Turnover Fixed Asset Turnover Days Sales Outstanding
0                    0.168564           121.775022                    0.0
1                    0.174413           131.475148                    0.0
2                    0.166335           129.528632                    0.0
3                    0.162937           130.111085                    0.0
4                    0.156992           105.385605                    0.0

   ... Ch·ªâ ti√™u thanh kho·∫£n Ch·ªâ ti√™u ƒë·ªãnh gi√°                           \
   ...   Financial Leverage               P/B Market Capital (Bn. VND)
0  ...             2.054349          2.149699           27826354850000
1  ...             2.362305          1.806066           22871468438000
2  ...             2.608265          2.379972           21083029916000
3  ...             2.390102          2.571899           21167010000000
4  ...             2.340876          3.092259           22793750000000

                                                                    \
  Outstanding Share (Mil. Shares)        P/E       P/S P/Cash Flow
0                       718099480  25.193697  7.529743   -6.779955
1                       718099480  23.303298  6.530553  -17.723150
2                       574469480  26.866048  6.599683   -4.975656
3                       441900000  33.973894  7.615216   -4.399652
4                       437500000  46.238494  9.219055   -5.222052


    EPS (VND)    BVPS (VND)  EV/EBITDA
0  304.103752  18025.783068  19.583563
1  299.891911  17635.011093  17.958349
2  486.025263  15420.349585  17.950658
3  447.514058  18624.368974  20.739556
4  281.029720  16848.524590  22.946233

[5 rows x 37 columns]

## New - B·ªô l·ªçc c·ªï phi·∫øu

H√†m n√†y ch·ªâ t·ªìn t·∫°i v·ªõi ngu·ªìn d·ªØ li·ªáu TCBS

In [63]:
# from vnstock import Screener

screener_df = stock.screener.stock(params={"exchangeName": "HOSE,HNX,UPCOM"}, limit=1700)
screener_df

,ticker,exchange,industry,company_name,market_cap,roe,stock_rating,business_operation,business_model,financial_health,...,last_quarter_revenue_growth,second_quarter_revenue_growth,last_quarter_profit_growth,second_quarter_profit_growth,pct_1y_from_peak,pct_away_from_hist_peak,pct_1y_from_bottom,pct_off_hist_bottom,price_vs_sma100,heating_up
0,A32,UPCOM,H√†ng c√° nh√¢n & Gia d·ª•ng,,NaN,NaN,NaN,1.7,3.5,2.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1,AAA,HSX,H√≥a ch·∫•t,,3261.0,6.8,2.3,1.5,3.0,4.0,...,43.1,-9.5,-25.9,-78.0,-32.5,-62.7,5.2,266.5,Gi√° n·∫±m d∆∞·ªõi SMA(100),None
2,AAM,HSX,Th·ª±c ph·∫©m v√† ƒë·ªì u·ªëng,,73.0,-3.2,NaN,1.0,NaN,3.4,...,-7.0,76.6,NaN,NaN,-26.3,-58.4,16.7,38.0,Gi√° n·∫±m tr√™n SMA(100),None
3,AAS,UPCOM,D·ªãch v·ª• t√†i ch√≠nh,,1975.0,3.0,2.5,3.8,2.8,3.4,...,-36.8,-37.6,-71.6,-33.2,-11.2,-56.7,61.1,174.8,Gi√° n·∫±m tr√™n SMA(100),None
4,AAT,HSX,H√†ng c√° nh√¢n & Gia d·ª•ng,,233.0,-0.9,2.3,1.6,2.9,3.0,...,-43.4,-18.4,-224.3,264.1,-39.2,-82.5,7.6,2.2,Gi√° n·∫±m d∆∞·ªõi SMA(100),None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1608,XVC,UPCOM,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1609,YBC,UPCOM,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,,171.0,-84.4,NaN,1.3,3.5,1.6,...,NaN,NaN,NaN,NaN,-34.0,-67.0,258.7,870.6,Gi√° n·∫±m tr√™n SMA(100),None
1610,YBM,HSX,T√†i nguy√™n C∆° b·∫£n,,226.0,7.3,NaN,1.9,3.7,2.2,...,44.2,7.1,-7.8,-45.9,-23.5,-18.4,78.4,544.8,Gi√° n·∫±m tr√™n SMA(100),None
1611,YEG,HSX,Truy·ªÅn th√¥ng,,2858.0,9.0,2.1,2.0,2.4,3.4,...,139.9,209.4,384.8,325.6,-34.4,-91.8,91.4,306.1,Gi√° n·∫±m d∆∞·ªõi SMA(100),None
1612,YTC,UPCOM,Y t·∫ø,,NaN,NaN,NaN,1.5,3.5,2.4,...,NaN,NaN,NaN,NaN,-40.9,-50.1,88.9,229.4,Gi√° n·∫±m tr√™n SMA(100),None