# Dữ liệu Thị trường Quốc tế

Hướng dẫn sử dụng **vnstock** từ phiên bản 3.2.7 để truy xuất dữ liệu thị trường chứng khoán quốc tế toàn diện thông qua nền tảng FMP (Financial Modeling Prep), bao gồm:
- Dữ liệu giá lịch sử và thời gian thực cho cổ phiếu quốc tế
- Thông tin công ty và báo cáo tài chính
- Dữ liệu chỉ số thị trường và phân tích ngành
- Hỗ trợ đa dạng tài sản: cổ phiếu, ETF, chỉ số, tiền điện tử

**⚡ Lựa chọn nền tảng:**
- **Google Colab**: Miễn phí với hỗ trợ lưu trữ trong Google Drive

**Lưu ý:** Cần API key từ FMP để truy cập dữ liệu, bắt đầu miễn phí. Đăng ký tại [financialmodelingprep.com](https://site.financialmodelingprep.com/developer/docs/dashboard).

<p>
  <a href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/quickstart_fmp_international.ipynb" target="_blank" style="display:inline-block; vertical-align:middle; margin-left:8px;">
    <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab" style="height:20px; vertical-align:middle;">
  </a>
</p>

## Mục lục

1. [Cài đặt & Thiết lập](#installation)
2. [Thiết lập API Key FMP](#api-setup)
3. [Dữ liệu Giá Lịch sử](#historical-data)
4. [Báo giá Thời gian thực](#realtime-quotes)
5. [Thông tin Công ty](#company-info)
6. [Báo cáo Tài chính](#financial-statements)
7. [Dữ liệu Thị trường](#market-data)

<a id="installation"></a>
## I. Cài đặt & Thiết lập

### Cài đặt chuẩn

In [ ]:
# Cài đặt hoặc nâng cấp vnstock
!pip install -U vnstock

# Cài đặt từ mã nguồn Github
# !pip install git+https://github.com/thinh-vu/vnstock

<a id="api-setup"></a>
## II. Thiết lập API Key FMP

Để sử dụng FMP, bạn cần có API key. Đăng ký tại [financialmodelingprep.com](https://financialmodelingprep.com/) và lấy API key.

### Thiết lập biến môi trường

In [ ]:
import os

# Thiết lập API key FMP (thay YOUR_API_KEY bằng key thực của bạn)
os.environ['FMP_API_KEY'] = 'YOUR_API_KEY'  # Thay bằng API key thực

# Hoặc tải từ file .env nếu có
# from dotenv import load_dotenv
# load_dotenv()

print("✅ API key đã được thiết lập")

### Nạp thư viện

Bây giờ bạn có thể import và sử dụng vnstock với FMP:

In [7]:
# Import wrapper Quote từ vnstock (không cần import trực tiếp)
from vnstock import Quote

### Cách gọi FMP connector - Cải tiến mới!

> **✨ Cập nhật:** Từ phiên bản mới, vnstock hỗ trợ FMP thông qua **wrapper tiêu chuẩn** - giao diện thống nhất cho tất cả data sources!

**Cách dùng (Mới - Khuyến nghị):**
- Import `Quote` từ `vnstock`
- Chỉ cần chỉ định `source='fmp'`
- Giao diện thống nhất cho VCI, TCBS, MSN, FMP, XNO, ...

**Cách dùng (Cũ - Vẫn hoạt động):**
- Import trực tiếp `from vnstock.connector.fmp import Quote`
- Không cần tham số `source`

In [2]:
# Cách mới: Wrapper tiêu chuẩn (Khuyến nghị)
from vnstock import Quote

# Khởi tạo với source='fmp'
quote_fmp = Quote(symbol='AAPL', source='fmp')

Cả hai cách đều hoạt động:

```python
# Nạp từ wrapper chính của thư viện
from vnstock import Quote
q = Quote(symbol='AAPL', source='fmp')

# Nạp từ module con
from vnstock.connector.fmp import Quote as FMPQuote
q = FMPQuote(symbol='AAPL')
```

Giao diện thống nhất giúp dễ chuyển đổi giữa các data sources!

<a id="historical-data"></a>
## III. Dữ liệu Giá Lịch sử

Lấy dữ liệu giá lịch sử cho cổ phiếu quốc tế thông qua FMP.

### Khởi tạo đối tượng Quote

In [1]:
from vnstock import Quote

# Khởi tạo Quote với source='fmp'
quote = Quote(symbol='AAPL', source='fmp')

2025-11-08 23:27:17 - vnstock.connector.fmp.config - INFO - Using API key from environment variable

### Dữ liệu lịch sử hàng ngày

In [2]:
# Lấy dữ liệu lịch sử hàng ngày cho AAPL
df_daily = quote.history(start='2025-01-02', end='2025-11-10', interval='1D')
df_daily.head()

,symbol,time,open,high,low,close,volume,change,change_percent,vwap
0,AAPL,2025-01-02,248.93,249.10,241.82,243.85,55740731,-5.08,-2.04000,245.9250
1,AAPL,2025-01-03,243.36,244.18,241.89,243.36,40244114,0.00,0.00000,243.1975
2,AAPL,2025-01-06,244.31,247.33,243.20,245.00,45045600,0.69,0.28243,244.9600
3,AAPL,2025-01-07,242.98,245.55,241.35,242.21,40856000,-0.77,-0.31690,243.0225
4,AAPL,2025-01-08,241.92,243.71,240.05,242.70,37628940,0.78,0.32242,242.0950

### Dữ liệu lịch sử hàng tuần

In [3]:
# Lấy dữ liệu lịch sử hàng tuần cho AAPL
df_weekly = quote.history(start='2025-01-02', end='2025-11-10', interval='1W')
print(f"Tổng số records hàng tuần: {len(df_weekly)}")
df_weekly.head()

Tổng số records hàng tuần: 45

,time,symbol,open,high,low,close,volume,change,change_percent,vwap
0,2025-01-05,AAPL,248.93,249.10,241.82,243.36,95984845,0.00,0.00000,243.1975
1,2025-01-12,AAPL,244.31,247.33,233.00,236.85,185241440,-3.16,-1.32000,237.5050
2,2025-01-19,AAPL,233.53,238.96,228.03,229.98,269145426,-2.14,-0.92194,230.7175
3,2025-01-26,AAPL,224.00,227.03,219.38,222.78,277129636,-2.00,-0.88976,223.6500
4,2025-02-02,AAPL,224.02,247.19,223.98,236.00,372790546,-11.19,-4.53000,240.9550

### Dữ liệu Intraday (5 phút)

In [4]:
# Lấy dữ liệu intraday 5 phút cho AAPL (tháng gần nhất)
df_intraday = quote.intraday(start='2025-11-01', end='2025-11-10', interval='5m')
print(f"Tổng số records intraday: {len(df_intraday)}")
df_intraday.head()

Tổng số records intraday: 390

                 time    open     low    high   close   volume
0 2025-11-03 09:30:00  270.43  269.27  270.80  269.30  3800289
1 2025-11-03 09:35:00  269.30  267.66  269.32  267.97   887133
2 2025-11-03 09:40:00  267.82  267.23  267.91  267.47   669169
3 2025-11-03 09:45:00  267.46  266.50  267.46  266.59   789351
4 2025-11-03 09:50:00  266.58  266.33  267.13  267.10   629876

<a id="realtime-quotes"></a>
## IV. Báo giá Thời gian thực

Lấy dữ liệu giá thời gian thực cho cổ phiếu quốc tế.

In [5]:
# Lấy dữ liệu realtime cho AAPL
quote.short()

  symbol   price  change    volume
0   AAPL  268.47    -1.3  45140079

In [5]:
# Lấy dữ liệu quote đầy đủ cho AAPL
quote.full()

,symbol,name,price,change_percentage,change,volume,day_low,day_high,year_high,year_low,market_cap,price_avg50,price_avg200,exchange,open,previous_close,timestamp
0,AAPL,Apple Inc.,268.47,-0.48189,-1.3,45140079,266.82,272.29,277.32,169.21,3967020108000,252.2522,224.3975,NASDAQ,269.795,269.77,1762549202

<a id="company-info"></a>
## V. Thông tin Công ty

> **Lưu ý:** Thông tin công ty chi tiết sẽ được bổ sung sau.

<a id="financial-statements"></a>
## VI. Báo cáo Tài chính

> **Lưu ý:** Báo cáo tài chính chi tiết cho công ty quốc tế sẽ được bổ sung sau.

<a id="market-data"></a>
## VII. Dữ liệu Thị trường

Lấy dữ liệu cho các chỉ số thị trường và ETF quốc tế.

### Dữ liệu cho S&P 500 ETF (SPY)

In [6]:
# Lấy dữ liệu lịch sử cho S&P 500 ETF
from vnstock import Quote

spy_quote = Quote(symbol='SPY', source='fmp')
spy_data = spy_quote.history(start='2024-01-01', end='2024-12-31', interval='1D')
print(f"Dữ liệu SPY: {len(spy_data)} records")
spy_data.head()

Dữ liệu SPY: 252 records

,symbol,time,open,high,low,close,volume,change,change_percent,vwap
0,SPY,2024-01-02,472.16,473.67,470.49,472.65,123623700,0.49,0.103780,472.24
1,SPY,2024-01-03,470.43,471.19,468.17,468.79,103585900,-1.64,-0.348620,469.65
2,SPY,2024-01-04,468.30,470.96,467.05,467.28,84232200,-1.02,-0.217810,468.40
3,SPY,2024-01-05,467.49,470.44,466.43,467.92,86118900,0.43,0.091981,468.07
4,SPY,2024-01-08,468.43,474.75,468.30,474.60,74879100,6.17,1.320000,471.52

In [7]:
# Lấy dữ liệu cho Nasdaq 100 ETF
qqq_quote = Quote(symbol='QQQ', source='fmp')
qqq_data = qqq_quote.history(start='2024-01-01', end='2024-12-31', interval='1D')
print(f"Dữ liệu QQQ: {len(qqq_data)} records")
qqq_data.head()

Dữ liệu QQQ: 252 records

,symbol,time,open,high,low,close,volume,change,change_percent,vwap
0,QQQ,2024-01-02,405.84,406.09,400.24,402.59,58026946,-3.25,-0.800810,403.6900
1,QQQ,2024-01-03,399.93,401.00,397.89,398.33,47002803,-1.60,-0.400070,399.2875
2,QQQ,2024-01-04,396.44,399.59,396.06,396.28,39432800,-0.16,-0.040359,397.0925
3,QQQ,2024-01-05,396.45,399.56,395.34,396.75,44922810,0.30,0.075672,397.0250
4,QQQ,2024-01-08,397.99,405.24,397.84,404.95,42473800,6.96,1.750000,401.5050